<section>
    <h2>Theme color</h2>
    <article class="color-picker component" aria-label="Custom theme example">
        <header>
            <a class="pico-background-red" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/red"></a><a class="pico-background-pink" aria-label="Green"
                                                                                                                                            aria-busy="false" data-discover="true"
                                                                                                                                            href="/docs/version-picker/pink"></a><a
                class="pico-background-fuchsia" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/fuchsia"></a><a class="pico-background-purple" aria-label="Green"
                                                                                                                                                     aria-busy="false" data-discover="true"
                                                                                                                                                     href="/docs/version-picker/purple"></a><a
                class="pico-background-violet" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/violet"></a><a class="pico-background-indigo" aria-label="Green"
                                                                                                                                                   aria-busy="false" data-discover="true"
                                                                                                                                                   href="/docs/version-picker/indigo"></a><a
                class="pico-background-blue" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/blue"></a><a class="pico-background-azure" aria-label="Green"
                                                                                                                                               aria-busy="false" data-discover="true"
                                                                                                                                               href="/docs/version-picker"></a><a
                class="pico-background-cyan" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/cyan"></a><a class="pico-background-jade" aria-label="Green"
                                                                                                                                               aria-busy="false" data-discover="true"
                                                                                                                                               href="/docs/version-picker/jade"></a>
            <a
                    aria-current="page" class="pico-background-green" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/green">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                     class="icon-check">
                    <style>
                        path#check-icon {
                            stroke-dasharray: 22px;
                            stroke-dashoffset: 22px;
                            animation: check 0.2s ease-out forwards;
                        }
                        @keyframes check {
                            from {
                                stroke-dashoffset: 22px;
                            }
                            to {
                                stroke-dashoffset: 0;
                            }
                        }
                    </style>
                    <path id="check-icon" d="M5 12l5 5l10 -10"></path>
                </svg>
            </a>
            <a class="pico-background-lime" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/lime"></a><a class="pico-background-yellow" aria-label="Green"
                                                                                                                                              aria-busy="false" data-discover="true"
                                                                                                                                              href="/docs/version-picker/yellow"></a><a
                class="pico-background-amber" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/amber"></a><a class="pico-background-pumpkin" aria-label="Green"
                                                                                                                                                 aria-busy="false" data-discover="true"
                                                                                                                                                 href="/docs/version-picker/pumpkin"></a><a
                class="pico-background-orange" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/orange"></a><a class="pico-background-sand" aria-label="Green"
                                                                                                                                                   aria-busy="false" data-discover="true"
                                                                                                                                                   href="/docs/version-picker/sand"></a><a
                class="pico-background-grey" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/grey"></a><a class="pico-background-zinc" aria-label="Green"
                                                                                                                                               aria-busy="false" data-discover="true"
                                                                                                                                               href="/docs/version-picker/zinc"></a><a
                class="pico-background-slate" aria-label="Green" aria-busy="false" data-discover="true" href="/docs/version-picker/slate"></a>
        </header>
        <hgroup>
            <h2>Green</h2>
            <p>Form example with a green theme.</p>
        </hgroup>
        <form>
            <fieldset class="grid"><input placeholder="Login" aria-label="Login" autocomplete="username" type="text" name="login"><input placeholder="Password" aria-label="Password"
                                                                                                                                         autocomplete="current-password" type="password"
                                                                                                                                         name="password">
                <button type="submit">Log in</button>
            </fieldset>
            <fieldset><label><input role="switch" type="checkbox" checked="" name="switch"> I agree to the <a data-discover="true" href="/docs/version-picker/green">Privacy Policy</a></label>
            </fieldset>
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;">
                <template shadowrootmode="closed">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-lastpass-icon="true" data-testid="infield-icon"
                         style="position: absolute; cursor: pointer; height: 22px; max-height: 22px; width: 22px; max-width: 22px; top: -146.188px; left: 200.833px; z-index: auto; color: rgb(215, 64, 58);">
                        <rect x="0.680176" y="0.763062" width="22.6392" height="22.4737" rx="4" fill="currentColor"></rect>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M19.7935 7.9516C19.7935 7.64414 20.0427 7.3949 20.3502 7.3949C20.6576 7.3949 20.9069 7.64414 20.9069 7.9516V16.0487C20.9069 16.3562 20.6576 16.6054 20.3502 16.6054C20.0427 16.6054 19.7935 16.3562 19.7935 16.0487V7.9516Z"
                              fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M4.76288 13.6577C5.68525 13.6577 6.43298 12.9154 6.43298 11.9998C6.43298 11.0842 5.68525 10.3419 4.76288 10.3419C3.8405 10.3419 3.09277 11.0842 3.09277 11.9998C3.09277 12.9154 3.8405 13.6577 4.76288 13.6577Z"
                              fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.3298 13.6577C11.2521 13.6577 11.9999 12.9154 11.9999 11.9998C11.9999 11.0842 11.2521 10.3419 10.3298 10.3419C9.4074 10.3419 8.65967 11.0842 8.65967 11.9998C8.65967 12.9154 9.4074 13.6577 10.3298 13.6577Z"
                              fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M15.8964 13.6577C16.8188 13.6577 17.5665 12.9154 17.5665 11.9998C17.5665 11.0842 16.8188 10.3419 15.8964 10.3419C14.974 10.3419 14.2263 11.0842 14.2263 11.9998C14.2263 12.9154 14.974 13.6577 15.8964 13.6577Z"
                              fill="white"></path>
                    </svg>
                </template>
            </div>
            <div data-lastpass-icon-root="" style="position: relative !important; height: 0px !important; width: 0px !important; display: initial !important; float: left !important;">
                <template shadowrootmode="closed">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-lastpass-icon="true" data-testid="infield-icon"
                         style="position: absolute; cursor: pointer; height: 22px; max-height: 22px; width: 22px; max-width: 22px; top: -146.188px; left: 470.667px; z-index: auto; color: rgb(215, 64, 58);">
                        <rect x="0.680176" y="0.763062" width="22.6392" height="22.4737" rx="4" fill="currentColor"></rect>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M19.7935 7.9516C19.7935 7.64414 20.0427 7.3949 20.3502 7.3949C20.6576 7.3949 20.9069 7.64414 20.9069 7.9516V16.0487C20.9069 16.3562 20.6576 16.6054 20.3502 16.6054C20.0427 16.6054 19.7935 16.3562 19.7935 16.0487V7.9516Z"
                              fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M4.76288 13.6577C5.68525 13.6577 6.43298 12.9154 6.43298 11.9998C6.43298 11.0842 5.68525 10.3419 4.76288 10.3419C3.8405 10.3419 3.09277 11.0842 3.09277 11.9998C3.09277 12.9154 3.8405 13.6577 4.76288 13.6577Z"
                              fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.3298 13.6577C11.2521 13.6577 11.9999 12.9154 11.9999 11.9998C11.9999 11.0842 11.2521 10.3419 10.3298 10.3419C9.4074 10.3419 8.65967 11.0842 8.65967 11.9998C8.65967 12.9154 9.4074 13.6577 10.3298 13.6577Z"
                              fill="white"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M15.8964 13.6577C16.8188 13.6577 17.5665 12.9154 17.5665 11.9998C17.5665 11.0842 16.8188 10.3419 15.8964 10.3419C14.974 10.3419 14.2263 11.0842 14.2263 11.9998C14.2263 12.9154 14.974 13.6577 15.8964 13.6577Z"
                              fill="white"></path>
                    </svg>
                </template>
            </div>
        </form>
        <footer class="code" data-theme="dark">
            <a class="copy-to-clipboard" tabindex="-1" aria-label="Copy code" data-tooltip="Copy to clipboard" data-placement="left" data-discover="true"
               href="/docs/version-picker/green">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                     class="clipboard">
                    <path d="M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z"></path>
                    <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
                </svg>
            </a>
            <pre class="prismjs"><code class="language-html"><span class="token tag punctuation">&lt;</span><span class="token tag">link</span><span class="token tag"> </span><span
                    class="token tag attr-name">rel</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span
                    class="token tag attr-value">stylesheet</span><span class="token tag attr-value punctuation">"</span><span class="token tag"> </span><span
                    class="token tag attr-name">href</span><span class="token tag attr-value punctuation attr-equals">=</span><span class="token tag attr-value punctuation">"</span><span
                    class="token tag attr-value">css/pico.green.min.css</span><span class="token tag attr-value punctuation">"</span><span class="token tag punctuation">&gt;</span></code></pre>
        </footer>
    </article>
</section>