<dialog id="payment-modal" open>
    <!-- HX-Trigger-After-Settle::-->
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target="payment-modal" onclick="toggleModal(event)"></button>
        </header>
        <p id="payment-modal-part">
        <div class="notification-message text-align-center alert "
             th:classappend="${messageClass != null} ? ${messageClass} + ' show' : 'alert-success'" role="alert" th:text="${message != null} ? #{${message}} : ''"></div>

        <form th:hx-post="'/sales/customer/' + ${customerId} + '/visit/payment'" th:hx-target="${target}" hx-swap="outerHTML" id="createForm">
            <th:block th:insert="~{sales-module/payment/paymentform}"></th:block>
        </form>
        </p>
        <footer>
            <fieldset class="grid">
                <input type="submit" form="createForm" th:value="#{label.button.save}"/>
                <input type="button" data-target="payment-modal" onclick="toggleModal(event)" th:value="#{label.button.close}"/>
            </fieldset>
        </footer>
    </article>
</dialog>
<script>
    // called via the header HX-Trigger from backend
    document.body.addEventListener("closeModal", () => {
        const modal = document.getElementById("payment-modal")
        closeModal(modal)
        location.reload();
    });

    function messageDisplay(messageText) {
        const element = document.querySelector('.notification-message')
        if (messageText) element.textContent = messageText;
        if (element.textContent.length !== 0) {
            element.classList.add('show');
            setTimeout(function () {
                element.classList.remove('show');
            }, 1300)
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        messageDisplay();
    });
</script>