<dialog id="pets-modal" open>
    <th:block th:replace="~{salesconsult-generic-module/jsforpetselect}"></th:block>
    <article>
        <header>
            <div>
                <span th:text="#{label.add} +' '+ #{label.title.pet}"></span>
                <span id="notification-message-modal"></span>
            </div>
        </header>
        <p id="modalPetFormPart">
        <form id="addPetForm" hx-target="#selectPetId" hx-include="#selectPetId" hx-swap="outerHTML" th:hx-post="'/generic/customer/'+ ${customerId} + '/appointment/'+ ${appointmentId} + '/addpet/'+ ${salesType}">
            <th:block th:insert="~{salesconsult-generic-module/petselect::petSelect(${customer}, ${pets}, ${deceasedPets}, ${salesType}, false)}"></th:block>
        </form>
        </p>
        <footer>
            <fieldset class="grid">
                <input name="_save" type="submit" form="addPetForm" th:value="#{label.button.save}"/>
                <input type="button" data-target="pets-modal" onclick="toggleModal(event)" th:value="#{label.button.close}"/>
            </fieldset>
        </footer>
    </article>
    <script>
        addEventListenersForPetSelect()

        // called via the header HX-Trigger from backend
        document.body.addEventListener("closeModal", () => {
            const modal = document.getElementById("pets-modal")
            closeModal(modal)
            location.reload();
        });
    </script>
</dialog>