<thead>
<tr>
    <th></th>
    <th class="left" th:text="#{label.otc.sell.description}"></th>
    <th class="desktop-only left" th:text="#{label.otc.sell.category}"></th>
    <th class="right" th:text="#{label.otc.sell.amount}"></th>
    <th class="desktop-only right" th:text="#{label.otc.sell.costproduct}"></th>
    <th class="desktop-only right" th:text="#{label.otc.sell.costservice}"></th>
    <th class="desktop-only right" th:text="#{label.otc.sell.taxed}"></th>
    <th class="right" th:text="#{label.otc.sell.total}"></th>
    <th class="center">
        <svg class="svg-icon">
            <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
        </svg>
    </th>
</tr>
</thead>