<table id="lineItemsTable" class="no-sorting table-tight striped">
    <thead>
    <tr>
        <th></th>
        <th class="left" th:text="#{label.otc.sell.description}"></th>
        <th class="desktop-only left" th:text="#{label.otc.sell.category}"></th>
        <th class="desktop-only right" th:text="#{label.otc.sell.costproduct}"></th>
        <th class="desktop-only right" th:text="#{label.otc.sell.costservice}"></th>
        <th class="right" th:text="#{label.otc.sell.amount}"></th>
        <th class="desktop-only right" th:text="#{label.otc.sell.taxed}"></th>
        <th class="right" th:text="#{label.otc.sell.total}"></th>
        <th class="center">
            <svg class="svg-icon">
                <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
            </svg>
        </th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="lineitem : ${lineItems}">
        <tr>
            <td class="center">
                <a href="" th:if="${visit.isOpen}" th:hx-confirm="#{label.otc.sell.delete.confirm}" th:hx-delete="${url+lineitem.id}" hx-target="#lineItemsTable">
                    <svg class="svg-icon">
                        <use href="/lib/tabler-icons-3_35_0/icons/outline/trash.svg"></use>
                    </svg>
                </a>
            </td>
            <td th:text="${lineitem.nomenclature}"></td>
            <td th:text="${categoryNames.get(lineitem.categoryId)}" class="desktop-only"></td>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.salesPriceExTax},true)}"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.processingFeeExTax},true)}"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.quantity},false)}"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.taxPortionOfProduct + lineitem.taxPortionOfProcessingFeeService}, true)}"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.totalIncTax},false)}"></th:block>
            <td class="center">
                <a class="desktop-only center-align-svg" th:if="${lineitem.hasPrintLabel}" href="/todo/printLabel?id=${lineitem.id}">
                    <svg class="svg-icon">
                        <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
                    </svg>
                </a>
            </td>
        </tr>
    </th:block>

    <th:block th:if="${#lists.size(lineItems) == 0}">
        <tr>
            <td colspan="9" class="center">
                <th:block th:text="#{label.not-found}"></th:block>
            </td>
        </tr>
    </th:block>
    </tbody>
    <th:block th:if="${#lists.size(lineItems) != 0}">
        <tfoot>
        <tr></tr>
        <tr>
            <th></th>
            <th class="left"></th>
            <th class="desktop-only left"></th>
            <th class="desktop-only right"></th>
            <th class="desktop-only right"></th>
            <th style="font-size: 120%" class="right" th:text="#{label.otc.sell.total}"></th>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${totalVatAmount}, true)}" th:with="increaseFont=120"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${totalAmount}, false)}" th:with="increaseFont=120"></th:block>
            <th class="right"></th>
        </tr>
        </tfoot>
    </th:block>
</table>