<tr>
    <td><img src="/vmas_web_Web_exploded/static/image/trash.png" onmouseover="this.style.cursor='pointer'" onclick="deleteRow(this,urlcosting);" style="cursor: pointer;"></td>
    <td><a id="aeditlineitem" href="/vmas_web_Web_exploded/customerpet/visit/editlineitem.htm?id=2305409">Amodip 1,25 mg per 10 tabl.</a></td>
    <td>Pharmaceutical</td>
    <td>1.0</td>
    <td class="alignRight">€13.35</td>
    <td>Taxed as Good</td>
    <td class="alignRight">€20.54</td>
    <td style="text-align: center;"></td>
</tr>