<tbody id="lineItemsReplacedByHtmx" hx-swap-oob="innerHTML">
    <th:block th:each="lineitem : ${allLineItems}">
        <tr>
            <td th:text="${lineitem.nomenclature}"></td>
            <td th:text="${lineitem.categoryId}"></td>
            <td th:text="${lineitem.quantity}"></td>
            <td th:text="${lineitem.sellExTaxPrice}"></td>
            <td th:text="${lineitem.processingFee}"></td>
            <td th:text="${lineitem.taxPortionOfSell + lineitem.taxPortionOfProcessingFeeService}"></td>
            <td th:text="${lineitem.total}"></td>
            <td>
                <a th:if="${lineitem.hasPrintLabel}" href="">
                    <svg width="32px" height="32px">
                        <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
                    </svg>
                </a>
            </td>
        </tr>
    </th:block>
</tbody>
<tfoot>
<tr>
    <!-- Footer total of the line items, customer name, pet name-->
    <th th:text="#{label.otc.sell.description}"></th>
    <th th:text="#{label.otc.sell.category}"></th>
    <th th:text="#{label.otc.sell.amount}"></th>
    <th th:text="#{label.otc.sell.cost}"></th>
    <th th:text="#{label.otc.sell.cost}"></th>
    <th th:text="#{label.otc.sell.taxed}"></th>
    <th th:text="${totalAmount}"></th>
    <th>
    </th>
</tr>
</tfoot>