<tbody id="lineItemsReplacedByHtmx"
       hx-swap-oob="innerHTML"
       th:hx-confirm="#{label.otc.sell.delete.confirm}"
       hx-target="closest tr"
       hx-swap="outerHTML swap:1s">

<th:block th:each="lineitem : ${allLineItems}">
    <tr>
        <td class="center">
            <a href="" th:if="${!(appointment.isCancelled || appointment.iscompleted)}" th:hx-delete="${url+lineitem.id}" hx-include="#csrfParameterName">
                <svg class="svg-icon">
                    <use href="/lib/tabler-icons-3_35_0/icons/outline/trash.svg"></use>
                </svg>
            </a>
        </td>
        <td th:text="${lineitem.nomenclature}"></td>
        <td th:text="${categoryNames.get(lineitem.categoryId)}" class="desktop-only"></td>
        <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.quantity},false)}"></th:block>
        <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.salesPriceExTax},true)}"></th:block>
        <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.processingFeeExTax},true)}"></th:block>
        <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.taxPortionOfProduct + lineitem.taxPortionOfProcessingFeeService}, true)}"></th:block>
        <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${lineitem.totalIncTax},false)}"></th:block>
        <td class="center">
            <a class="desktop-only center-align-svg" th:if="${lineitem.hasPrintLabel}" href="/todo/printLabel?id=${lineitem.id}">
                <svg class="svg-icon">
                    <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
                </svg>
            </a>
        </td>
    </tr>
</th:block>

<th:block th:if="${allLineItems.isEmpty()}">
    <tr>
        <td colspan="9" class="center">
            <th:block th:text="#{label.not-found}"></th:block>
        </td>
    </tr>
</th:block>
</tbody>
<th:block th:if="${allLineItems.size != 0}">
    <tfoot>
    <tr></tr>
    <tr>
        <th></th>
        <th class="left"></th>
        <th class="desktop-only left"></th>
        <th class="desktop-only right"></th>
        <th class="desktop-only right"></th>
        <th style="font-size: 120%" class="right" th:text="#{label.otc.sell.total}"></th>
        <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${totalVatAmount}, true)}" th:with="increaseFont=120"></th:block>
        <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${totalAmount}, false)}" th:with="increaseFont=120"></th:block>
        <th class="right"></th>
    </tr>
    </tfoot>
</th:block>