<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.estimate}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>
    <th:block
            th:insert="~{fragments/elements/pagetitle::pageTitleCreateThreePlusSave(${null}, #{label.title.estimate},'/consult/customer/'+ ${customerId}+ '/estimates', ${customerInformation})}"></th:block>

    <fieldset>
        <form id="createForm" th:action="'/consult/customer/'+${customerId}+ '/estimateforpet'" method="post">
            <details id="estimateInfo" open>
                <summary>
                    <span th:text="#{estimate.info.title}"></span><a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/estimate" th:title="#{label.more.information}"
                                                                     class="emoji-icon">ℹ️</a>
                </summary>
                <div class="grid">

                    <input name="id" th:value="${estimateForPet.id}" type="hidden"/>
                    <input name="version" th:value="${estimateForPet.version}" type="hidden"/>
                    <input name="pet.id" th:value="${estimateForPet.pet.id}" type="hidden"/>
                    <th:block th:insert="~{fragments/elements/input::inputHtmlLift('estimate.estimateDate','estimateforpet.estimateDate', 'estimateForPet.estimate.estimateDate','1')}" th:with="type='date'"></th:block>
                    <th:block th:insert="~{fragments/elements/input::inputHtmlLift('purpose','estimateforpet.purpose', 'estimateForPet.purpose','1')}"></th:block>
                </div>
                <div class="grid">
                    <label for="comments">
                        <th:block th:utext="#{estimateforpet.comments}"/>
                        <textarea cols="110" id="comments" name="comments" rows="8" tab="19" th:utext="${estimateForPet.comments}"></textarea>
                    </label>
                </div>
            </details>
        </form>
    </fieldset>

    <table class="no-sorting table-tight striped" data-no-export>
        <!-- body and footer -->
        <th:include th:replace="~{sales-module/fragments/htmx/lineitemsfulltable}"></th:include>
    </table>
    <hr/>
    <div id="replacePartForProductSearch" th:include="~{supplies-module/fragments/costing/costingSearch::costingSearch}"></div>
    <hr/>
</section>