<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.estimate}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div class="overflow-auto">
        <fieldset role="group" class="grid">
        <th:block th:insert="~{sales-module/fragments/customerpetinfo::customerPetInfo(${customer}, ${selectedPet}, true)}"></th:block>
        </fieldset>
        <th:block th:insert="~{sales-module/fragments/petselect::petSelect(${customer}, ${pets}, ${deceasedPets}, ${'/consult/customer/' + customer.id} + '/estimate', true, 'createForm')}"></th:block>
    </div>
</section>
</body>
</html>