<th:block th:fragment="productsbody">
    <tbody id="lineItemsTable">
    <th:block th:if="${#lists.size(products) == 0}">
        <tr>
            <td>&nbsp;</td>
            <td colspan="6">[[#{label.not-found}]]</td>
        </tr>
    </th:block>
    <th:block th:unless="${#lists.size(products) == 0}">
        <th:block th:each="product : ${products}">
            <th:block th:replace="~{this::readonlyTR(product=${product})}"></th:block>
        </th:block>
    </th:block>
    </tbody>
</th:block>

<th:block th:fragment="readonlyTR(product)">
    <th:block th:if="${product != null}">
        <tr>
            <td class="no-sorting">
                <a target="_blank"  th:href="'/product/product/'+${product.product.id}">📝️</a>
                <a th:hx-get="'/product/product/'+${product.product.id} + '/partialedit/product'" hx-target="closest tr"   hx-swap="outerHTML">✏️️</a>
            </td>
            <td th:text="${product.product.nomenclature}"></td>
            <td th:text="${product.product.lookupProductCategory.categoryName}"></td>
            <td th:text="${product.product.shortCode}"></td>
            <td th:text="${product.product.barcode}"></td>
            <td th:text="${product.product.itemNumber}"></td>
            <td></td>
            <!-- editable fields -->
            <td th:text="${product.groupedProduct} ? #{label.yesno.yes} : #{label.yesno.no}"></td>
            <td th:text="#{${product.product.hasBatchNr.label}}"></td>
            <td th:text="#{${product.product.hasSpillage.label}}"></td>
            <td th:if="${product.supplyId != null}" th:text="#{label.yesno.yes}"></td>
            <td th:if="${product.supplyId == null}" th:text="#{label.yesno.no}"></td>
        </tr>
    </th:block>
</th:block>

<th:block th:fragment="editableTR(product)">
    <th:block th:if="${product != null}">
        <tr>
            <td class="no-sorting">
                <input type="hidden" name="id" th:value="${product.product.id}">
                <input type="hidden" name="version" th:value="${product.product.version}">
                <!-- Save -->
                <a href="#" th:hx-post="'/product/product/' + ${product.product.id} + '/partialsave/product'" hx-target="closest tr" hx-swap="outerHTML" hx-include="closest tr">💾</a>
                <!-- Cancel -->
                <a href="#" th:hx-get="'/product/product/' + ${product.product.id} + '/partialcancel/product'" hx-target="closest tr" hx-swap="outerHTML">❌</a>
            </td>
            <td><input type="text" required name="nomenclature" th:value="${product.product.nomenclature}"></td>
            <td>
                <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('lookupProductCategory.id','', ${product.product.lookupProductCategory.id}, ${categories}, true,'0')}"></th:block>
            </td>
            <td><input type="text" name="shortCode" th:value="${product.product.shortCode}"></td>
            <td><input type="text" name="barcode" th:value="${product.product.barcode}"></td>
            <td><input type="text" name="itemNumber" th:value="${product.product.itemNumber}"></td>
            <td></td>
            <td></td>
            <td>
                <th:block th:insert="~{fragments/elements/dropdown::propDropdown('hasBatchNr','',${product.product.hasBatchNr},${yesNoOptions}, true, '0')}"></th:block>
            </td>
            <td>
                <th:block th:insert="~{fragments/elements/dropdown::propDropdown('hasSpillage','',${product.product.hasSpillage},${yesNoOptions}, true, '0')}"></th:block>
            </td>
            <td></td>
        </tr>
    </th:block>
</th:block>