<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{login.title}"></title>
    <style>
        .login-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 90vh;
            max-width: 300px;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
        }
    </style>
</head>
<body>

<section layout:fragment="content" class="login-page">
    <article>
        <header><h2 th:text="#{login.signin}"></h2></header>
        <div th:if="${param.error}">
            <p id="errorText" style="color:red;" th:text="#{login.invalid}"></p>
        </div>
        <p style="color:red; display: none" id="capslock-warning">WARNING! Caps lock is ON.</p>
        <form method="post" th:action="@{/admin/login}">

            <fieldset>
                <input id="id" name="id" th:value="${userId}" type="hidden">
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('username', 'login.username', 'account', '1')}" th:with="required=false"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('password', 'login.password', 'password', '2')}" th:with="type='password', required=false"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('shortCode','login.shortcode', 'shortCode','3')}" th:with="required=false"></th:block>
            </fieldset>
            <fieldset class="grid" role="group">
                <button name="_save" type="submit" th:text="#{login.button.signin}"></button>
            </fieldset>
        </form>
    </article>
    <script>
        var input = document.getElementById("password");
        var text = document.getElementById("capslock-warning");

        input.addEventListener("keyup", function (event) {
            // If "caps lock" is pressed, display the warning text
            if (event.getModifierState("CapsLock")) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        });
    </script>
</section>
</body>
</html>