<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>Create/Update game</title>
</head>
<body>
<section layout:fragment="content">
    <article>
        <header><h2>Change your password</h2></header>
        <form action="/admin/resetpassword" method="post">

            <fieldset>
                <th:block th:insert="~{fragments/elements/input::inputHtml('currentPassword','Current password', 'password', '1')}" th:with="type='password'"></th:block>
            </fieldset>
            <fieldset>
                <th:block th:insert="~{fragments/elements/input::inputHtml('password','Password', 'password', '2')}" th:with="type='password'"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtml('password2','Validate password', 'password', '3')}" th:with="type='password'"></th:block>
            </fieldset>
            <fieldset class="grid" role="group">
                <button name="_save" type="submit">Change password</button>
            </fieldset>
        </form>
    </article>
</section>
>