<html layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Create/Update game</title>
</head>
<body>
<section layout:fragment="content">
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleNLWP(${game.id}, 'Wedstrijd','/teammover/game/list')}"></th:block>
    <hr/>
    <form action="/teammover/game" method="post">
        <fieldset role="presentation">
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <input id="id" name="id" th:value="${game.id}" type="hidden">
            <input id="version" name="version" th:value="${game.version}" type="hidden">
            <th:block th:insert="~{fragments/elements/select::selectCheckBox('doWeNeedToDrive','Spelen we uit?','game.doWeNeedToDrive','1')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtml('whereIsTheGame','Waar is de wedstrijd?', 'game.whereIsTheGame', '2')}"
                      th:with="placeholder='Locatie en zwembad naam'"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlDateTime('whenIsTheGame','Wanneer is de wedstrijd?', 'whenIsTheGame', '3')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtml('howManyPeople','Aantal teamleden die meegaan?', 'game.howManyPeople', '4')}"></th:block>
            <th:block th:insert="~{fragments/elements/buttons::saveButtons}"></th:block>
        </fieldset>
    </form>
</section>