<html layout:decorate="~{layout.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Show overview games</title>
</head>
<body>
<section layout:fragment="content">
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleListNL('vd Wedstrijden','wedstrijd','/teammover/game')}"></th:block>
    <hr/>
    <table class="table-tight" id="show-table">
        <thead>
        <tr>
            <th></th>
            <th>Waar</th>
            <th>Datum</th>
            <th class="center">&Sigma;</th>
            <th class="center"><i class="fa-solid fa-xs fa-user-check"></i></th>
            <th class="center"><i class="fa-solid fa-xs fa-car"></i></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="game : ${games}">
            <tr>
                <td><a class="fa fa-car" th:href="@{'/teammover/game/'+${game.id}+'/driver'}"></a></td>
                <td>
                    <!-- if user has ROLE_PLANNER, show as link -->
                    <a th:href="@{'/teammover/game/' + ${game.id}}" th:if="${#authorization.expression('hasAuthority(''GAME_CREATE'')')}" th:text="${game.whereIsTheGame}"></a>
                    <span th:text="${game.whereIsTheGame}" th:unless="${#authorization.expression('hasAuthority(''GAME_CREATE'')')}"></span>
                </td>
                <td th:text="${#temporals.format(game.whenIsTheGame, 'dd-MM')}"></td>
                <td class="center" th:text="${game.totalPlayers}"></td>
                <td class="center" th:text="${game.totalPlayersDriver}"></td>
                <td class="center" th:text="${game.totalSeatsDriver}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <!-- Modal example -->
    <dialog id="modal-example">
        <article>
            <header>
                <button aria-label="Close" data-target="modal-example" onclick="toggleModal(event)" rel="prev"></button>
                <h3>Confirm your action!</h3>
            </header>
            <p>
                Cras sit amet maximus risus. Pellentesque sodales odio sit amet augue finibus
            </p>
            <footer>
                <button
                        class="secondary"
                        data-target="modal-example"
                        onclick="toggleModal(event)"
                        role="button"
                >
                    Cancel
                </button
                >
                <button autofocus data-target="modal-example" onclick="toggleModal(event)">
                    Confirm
                </button>
            </footer>
        </article>
    </dialog>
</section>
</body>