<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:if="${salesType.isPriceInfo}" th:text="#{label.title.priceinfo}"></title>
    <title th:if="${salesType.isOtc}"       th:text="#{label.title.otc}"></title>
    <title th:if="${salesType.isEstimate}"  th:text="#{label.title.estimate}"></title>
</head>
<body>

<section layout:fragment="content">
    <h3 th:if="${salesType.isOtc}"       th:text="#{label.title.otc}"></h3>
    <h3 th:if="${salesType.isPriceInfo}" th:text="#{label.title.priceinfo}"></h3>
    <h3 th:if="${salesType.isEstimate}"  th:text="#{label.title.estimate}"></h3>
    <block th:if="${!salesType.isPriceInfo}">
        <fieldset role="group" class="grid">
            <th:block th:insert="~{sales-module/fragments/customerpetinfo::customerPetInfo(${customer}, ${selectedPet}, false)}"></th:block>
        </fieldset>
        <fieldset class="grid">
            <th:block th:with="extras=~{sales-module/fragments/extrabuttons::historySoapButtons}">
                <th:block th:insert="~{sales-module/fragments/petdropdownandbuttons::petDropDownAndButtons(${petsOnVisit}, ${selectedPet}, ${customer}, ${appointment}, ${extras})}"></th:block>
            </th:block>
        </fieldset>
        <hr/>
    </block>
    <block th:if="${salesType.isPriceInfo}">
        <div style="height: 2em">&nbsp;</div>
    </block>
    <fieldset role="group" class="grid">
        <legend th:text="#{label.otc.legend.lineitems}"></legend>
        <table class="table-tight">
            <thead>
            <tr>
                <th></th>
                <th class="left" th:text="#{label.otc.sell.description}"></th>
                <th class="left" th:text="#{label.otc.sell.category}"></th>
                <th class="right" th:text="#{label.otc.sell.amount}"></th>
                <th class="right" th:text="#{label.otc.sell.cost}"></th>
                <th class="right" th:text="#{label.otc.sell.cost}"></th>
                <th class="right" th:text="#{label.otc.sell.taxed}"></th>
                <th class="right" th:text="#{label.otc.sell.total}"></th>
                <th class="center">
                    <svg width="32px" height="32px">
                        <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
                    </svg>
                </th>
            </tr>
            </thead>
            <!--htmx replaces body and footer -->
            <th:include th:replace="~{sales-module/fragments/htmx/lineitemsoverview}"></th:include>
        </table>
    </fieldset>
    <div id="replacePartForCostingSearch"
         th:replace="~{supplies-module/fragments/costing/costingSearch::costingSearch(true)}">
    </div>
    <block th:if="${!salesType.isPriceInfo}">
        <script th:inline="javascript">
            const partialUrl = '/sales/otc/search/[[${customer.id}]]/sell/[[${appointment.id}]]/'

            document.getElementById('selectPetId').onchange = function () {
                window.location.href = partialUrl + this.value;
            }
        </script>
    </block>
</section>
</body>
</html>