<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{customer-module/layout.html}">
<head>
    <title>[[#{label.title.species}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/lookup/links}"></div>
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleListThree(#{label.title.species},'/customer/lookup/specy', '')}"></th:block>

    <hr/>
    <div class="overflow-auto">
        <table id="show-table" class="table-tight">
            <thead>
            <tr>
                <th>[[#{label.species.species}]]</th>
                <th>[[#{label.list.auditinfo}]]</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="specy : ${species}">
                <tr>
                    <td><a th:href="'/customer/lookup/specy/'+ ${specy.id}">[[${specy.species}]]</a></td>
                    <td>
                        <small th:data-tooltip="'Created by  '+${specy.addedBy}+' on ' +${#temporals.format(specy.addedOn, 'dd-MM-yy')}">
                            [[${specy.lastEditedBy}]] • [[${#temporals.format(specy.lastEditedOn, 'dd-MM-yy')}]]
                        </small>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</section>