<div>
    <fieldset>
        <div class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('pref.insuranceCompany','localmember.pref.insuranceCompany','pref.insuranceCompany','0')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::dbDropdown('pref.estimatedTime','localmember.pref.estimatedTime', ${pref.estimatedTime}, ${timeList}, true,'0')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('pref.paymentMethod','localmember.pref.paymentMethod', 'pref.paymentMethod', ${paymentList}, true,'0')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('pref.roomAgenda','localmember.pref.Agenda', 'pref.roomAgenda', ${agendaTypeList}, true,'0')}"></th:block>
        </div>
        <br/>
        <div class="grid">
        <th:block
                th:insert="~{fragments/elements/dropdown::propDropdown('pref.mandatoryConsultReason','localmember.pref.mandatoryConsultReason', ${pref.mandatoryConsultReason}, ${yesNoList}, true,'0')}"></th:block>
        <th:block
                th:insert="~{fragments/elements/dropdown::propDropdown('pref.mandatoryExpireDate','localmember.pref.mandatoryExpireDate', ${pref.mandatoryExpireDate}, ${yesNoList}, true,'0')}"></th:block>
        <th:block
                th:insert="~{fragments/elements/dropdown::propDropdown('pref.sendOutAppointmentReminderMail','localmember.pref.sendOutAppointmentReminderMail', ${pref.sendOutAppointmentReminderMail}, ${yesNoList}, true,'0')}"></th:block>
    </div>
    </fieldset>

    <fieldset>
        <summary>
            <div class="twocolumn-spread">
                <b>[[#{localmember.pref.template}]]</b>
                <a role="button" hx-target="#consultList" th:hx-get="'admin/localmember/'+${localmember.id}+'/consulttemplate'" th:text="#{label.button.createnew}"></a>
            </div>
        </summary>
        <br/>
        <th:block th:insert="~{admin-module/localmember/snippets/consulttemplate}"></th:block>
    </fieldset>

    <!--    <fieldset class="grid">-->
    <!--        <div th:text="#{localmember.pref.room}"></div>-->
    <!--        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('pref.room1','',${rooms}, 'pref.room1',true,'0')}"></th:block>-->
    <!--        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('pref.room2','',${rooms}, 'pref.room2',true,'0')}"></th:block>-->
    <!--        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('pref.room3','',${rooms}, 'pref.room3',true,'0')}"></th:block>-->
    <!--        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('pref.room4','',${rooms}, 'pref.room4',true,'0')}"></th:block>-->
    <!--    </fieldset>-->
    <fieldset>
        <div th:text="#{localmember.pref.template.openingshours}"></div>
        <textarea style="width:100%; height:14rem;" id="openingsTimes" name="pref.openingsTimes" th:utext="${pref.openingsTimes}"></textarea>
    </fieldset>
</div>
