<th:block open th:fragment="Diagnose(diagnoses)">
    <details th:if="${diagnoses != null and !diagnoses.isEmpty()}">
        <summary th:text="#{label.soap.Diagnosis} + ':'">Diagnosis:</summary>
        <ul>
            <li th:each="diagnose : ${diagnoses}">
                    <span th:text="${diagnose.lookupDiagnose.nomenclature}"></span>
                    <span> (</span>
                    <span th:text="${lookup.lookupLocation.nomenclature}"></span>
                    <span>)</span>
            </li>
        </ul>
    </details>
</th:block>