<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{customer-module/layout.html}">
<head>
    <title>Pet</title>

</head>
<body>
<section layout:fragment="content">
<form action="/VMAS/appointment/editpatient_hijack.htm?id=129792" id="patientSearchForm" method="post">

    <input class="cssbutton" id="save" name="_create" onfocus="this.blur();"
           onmouseover='this.style.cursor="pointer"' type="submit" value="Save "/>
    <input id="id" name="patient.id" type="hidden" value="129792"/>
    <input id="version" name="patient.version" type="hidden" value="0"/>
<fieldset role="group">
    <legend>Patient</legend>

    <label for="patient.petName">
        <th:block th:utext="#{patient.petName}"/>
        <input id="patient.petName" name="patient.petName" style="width:95%" type="text" value="Mimmie"/>
    </label>

    <label for="species">
        <th:block th:utext="#{patient.species}"/>
        <select id="species" name="patient.species" style="width:95%">
            <option value="">&lt;&lt; Please choose &gt;&gt;</option>
            <option value="Amphibian (Entire Family)">Amphibian (Entire Family)</option>
            <option value="Avian">Avian</option>
            <option value="Canine">Canine</option>
            <option value="Equine">Equine</option>
            <option selected="selected" value="Feline">Feline</option>
            <option value="Fish (Entire Family)">Fish (Entire Family)</option>
            <option value="Other">Other</option>
            <option value="Porcine">Porcine</option>
            <option value="Rabbit">Rabbit</option>
            <option value="Reptile (Entire Family)">Reptile (Entire Family)</option>
            <option value="Rodentia">Rodentia</option>
            <option value="Weasel (Entire Family)">Weasel (Entire Family)</option>
        </select>
    </label>

    <label for="patient.breed">
        <th:block th:utext="#{patient.breed}"/>
        <select id="patient.breed" name="patient.breed" style="width:95%" tabindex="106">
            <option selected="selected" value="Huiskat">Huiskat</option>
        </select>
    </label>

    <label for="patient.sex">
        <th:block th:utext="#{patient.sex}"/>
        <select id="patient.sex" name="patient.sex">
            <option value="">&lt;&lt; Please choose &gt;&gt;</option>
            <option value="F">Female</option>
            <option selected="selected" value="S">Female (Spayed)</option>
            <option value="M">Male</option>
            <option value="N">Male (Neutered)</option>
            <option value="P">Penis Amputation</option>
            <option value="V">Vasectomie</option>
            <option value="U">Unknown</option>
        </select>
    </label>
</fieldset>
    <fieldset role="group">
        <legend>Information</legend>
    <label for="patient.birthday">
        <th:block th:utext="#{patient.birthday}"/>
        <input id="patient.birthday" name="patient.birthday"
               onfocus="WdatePicker({lang:'en',isShowClear:false,readOnly:true,dateFmt:'dd-MM-yyyy'})"
               style="width:100px" type="text" value=""/>
    </label>

    <label for="patient.briefDescription">
        <th:block th:utext="#{patient.briefDescription}"/>
        <input id="patient.briefDescription" name="patient.briefDescription" type="text" value=""/>
    </label>

    <label for="patient.allergies">
        <th:block th:utext="#{patient.allergies}"/>
        <select id="patient.allergies" name="patient.allergies" tabindex="5">
            <option value="Yes">Yes</option>
            <option selected="selected" value="No">No</option>
        </select>
    </label>

    <label for="patient.allergiesDescription">
        <th:block th:utext="#{patient.allergiesDescription}"/>
        <input id="patient.allergiesDescription" name="patient.allergiesDescription" style="width:95%" type="text" value=""/>
    </label>

    <label for="patient.insured">
        <th:block th:utext="#{patient.insured}"/>
        <select id="patient.insured" name="patient.insured" tabindex="5">
            <option value="Yes">Yes</option>
            <option selected="selected" value="No">No</option>
        </select>
    </label>

    <label for="patient.insuredBy">
        <th:block th:utext="#{patient.insuredBy}"/>
        <input id="patient.insuredBy" name="patient.insuredBy" style="width:95%" type="text" value=""/>
    </label>

    <label for="patient.rabiesId">
        <th:block th:utext="#{patient.rabiesId}"/>
        <input id="patient.rabiesId" maxlength="20" name="patient.rabiesId" style="width:95%" type="text" value=""/>
    </label>

    <label for="patient.chipTattooId">
        <th:block th:utext="#{patient.chipTattooId}"/>
        <input id="patient.chipTattooId" maxlength="20" name="patient.chipTattooId" size="30" type="text" value=""/>
    </label>
    </fieldset>
</form>