<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{customer-module/layout.html}">
<head>
    <title>[[#{label.title.pet}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>

    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleCreateThreePlusSave(${pet.id}, #{label.title.pet},'/customer/customer/'+ ${customerId}+ '/pets', ${customerInformation})}"></th:block>

    <form id="createForm"  th:action="'/customer/customer/'+${customerId}+ '/pet'" method="post">
<!--        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>-->
        <input id="id" name="id" th:value="${pet.id}" type="hidden"/>
        <input id="version" name="version" th:value="${pet.version}" type="hidden"/>

        <fieldset class="grid">
            <legend>Patient</legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('name','pet.name','pet.name','1')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('birthday','pet.birthday','pet.birthday','2')}" th:with="type='date',required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('idealWeight','pet.idealWeight','pet.idealWeight','3')}" th:with="required=false"></th:block>

        </fieldset>
        <fieldset class="grid">
            todo: add htmx from species to breed
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('id', 'pet.species', 'pet.species', ${speciesList}, true,'1')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('id', 'pet.breed', 'pet.breed', ${breedList}, true,'1')}" th:with="required=false"></th:block>

            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('sex','pet.sex', 'pet.sex', ${sexTypeList}, true,'7')}"></th:block>
        </fieldset>
        <fieldset class="grid">
            <legend>Information</legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('briefDescription','pet.briefDescription','pet.briefDescription','20')}" th:with="required=false"></th:block>
        </fieldset>
        <fieldset class="grid">

            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('allergies','pet.allergies', 'pet.allergies', ${ynvaluesList}, true,'7')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('insured','pet.insured', 'pet.insured', ${ynvaluesList}, true,'7')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('deceased','pet.deceased', 'pet.deceased', ${ynvaluesList}, true,'7')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('gpwarning','pet.gpwarning', 'pet.gpwarning', ${ynvaluesList}, true,'7')}" th:with="required=false"></th:block>

        </fieldset>
        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('allergiesDescription','pet.allergiesDescription','pet.allergiesDescription','18')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('insuredBy','pet.insuredBy','pet.insuredBy','18')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('deceasedDate','pet.deceasedDate','pet.deceasedDate','21')}" th:with="type='date',required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('gpwarningDescription','pet.gpwarningDescription','pet.gpwarningDescription','18')}" th:with="required=false"></th:block>
        </fieldset>
        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('rabiesId','pet.rabiesId','pet.rabiesId','19')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('chipTattooId','pet.chipTattooId','pet.chipTattooId','20')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('chipDate','pet.chipDate','pet.chipDate','21')}" th:with="type='date', required=false"></th:block>
        </fieldset>
        <fieldset class="grid">
            <label for="pet.comments">
                <th:block th:utext="#{pet.comments}"/>
                <textarea cols="110" id="pet.comments" name="pet.comments" rows="8" th:utext="${pet.comments}"></textarea>
            </label>
        </fieldset>
    </form>
    <th:block th:insert="~{fragments/elements/audit::audit('pet.addedBy','pet.addedOn', 'pet.lastEditedBy', 'pet.lastEditedOn')}"></th:block>
</section>
</body>
</html>