<th:block th:fragment="petForm(url, target)">
    <th:block th:if="${isHtmx}">
        <form th:hx-post="${url}" th:hx-target="${target}" hx-swap="none" id="petForm">
    </th:block>
    <th:block th:if="${!isHtmx}">
        <form id="createForm" th:action="${url}" method="post">
    </th:block>
    <input id="id" name="id" th:value="${pet.id}" type="hidden"/>
    <input id="version" name="version" th:value="${pet.version}" type="hidden"/>
    <input id="isHtmx" name="isHtmx" th:value="${isHtmx}" type="hidden"/>

    <fieldset>
        <legend>Patient</legend>
        <div class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('name','pet.name','pet.name','1')}" th:with="shouldFocus=true"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('birthday','pet.birthday','pet.birthday','2')}" th:with="type='date',required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('idealWeight','pet.idealWeight','pet.idealWeight','3')}" th:with="required=false"></th:block>
        </div>
        <div class="grid">
            <th:block
                    th:insert="~{fragments/elements/dropdown::dbDropdownWithHtmx('species', 'pet.species', ${pet.species}, ${speciesList}, true, '/customer/customer/pet/{species}', '#breed')}"
                    th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('breed', 'pet.breed', ${pet.breed}, ${speciesList}, true,'5')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('sex','pet.sex', ${pet.sex}, ${sexTypeList}, true,'6')}"></th:block>
        </div>
    </fieldset>
    <fieldset>
        <legend>Information</legend>
        <div>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('briefDescription','pet.briefDescription','pet.briefDescription','7')}"
                      th:with="required=false"></th:block>
        </div>
        <div class="grid-row">
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('allergies','pet.allergies', ${pet.allergies}, ${ynvaluesList}, true,'8')}"
                      th:with="required=false, class='verysmall'"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('allergiesDescription','pet.allergiesDescription','pet.allergiesDescription','9')}"
                      th:with="required=false"></th:block>

            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('insured','pet.insured', ${pet.insured}, ${ynvaluesList}, true,'10')}"
                      th:with="required=false, class='verysmall'"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('insuredBy','pet.insuredBy','pet.insuredBy','11')}" th:with="required=false"></th:block>
        </div>
        <div class="grid-row">
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('gpwarning','pet.gpwarning', ${pet.gpwarning}, ${ynvaluesList}, true,'12')}"
                      th:with="required=false, class='verysmall'"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('gpwarningDescription','pet.gpwarningDescription','pet.gpwarningDescription','13')}"
                      th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('deceased','pet.deceased', ${pet.deceased}, ${ynvaluesList}, true,'14')}"
                      th:with="required=false, class='verysmall'"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('deceasedDate','pet.deceasedDate','pet.deceasedDate','15')}"
                      th:with="type='date',required=false"></th:block>
        </div>
        <div class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('passportNumber','pet.passportNumber','pet.passportNumber','16')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('chipTattooId','pet.chipTattooId','pet.chipTattooId','17')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('chipDate','pet.chipDate','pet.chipDate','18')}" th:with="type='date', required=false"></th:block>
        </div>

        <label for="pet.comments">
            <th:block th:utext="#{pet.comments}"/>
            <textarea cols="110" id="pet.comments" name="comments" rows="8" tab="19" th:utext="${pet.comments}"></textarea>
        </label>
    </fieldset>
    </form>
</th:block>