<dialog id="pets-modal" open>
    <article>
        <header>
            <div>
                <span th:text="#{label.create} +' '+ #{label.title.pet}"></span>
                <span id="notification-message-modal"></span>
            </div>
        </header>
        <th:block
                th:insert="~{customer-module/pet/petform::petForm(${'/customer/customer/'+ customerId + '/pet' + (pet.id!=null? '/' + pet.id : '') }, '#pets-modal')}"></th:block>
        <footer>
            <div class="grid">
                <input name="_save" type="submit" form="petForm" th:value="#{label.button.save}"/>
                <input type="button" data-target="pets-modal" onclick="toggleModal(event)" th:value="#{label.button.close}"/>
            </div>
        </footer>
    </article>
    <script>
        // called via the header HX-Trigger from backend
        document.body.addEventListener("closeModal", () => {
            debugger
            const modal = document.getElementById("pets-modal")
            closeModal(modal)
            location.reload();
        });
    </script>
</dialog>