<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.customer}]]</title>
</head>
<body>

<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>

    <div th:replace="~{customer-module/fragments/customer/customerSearch::customerSearch(true, '/customer/customer/')}"></div>
    <hr/>
    <form id="createForm" action="/customer/customer" method="post">
        <!--        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>-->
        <input id="id" name="id" th:value="${customer.id}" type="hidden"/>
        <input id="version" name="version" th:value="${customer.version}" type="hidden"/>

        <fieldset class="grid">
            <legend>
                <th:block th:utext="#{customer.legend.customerName}"/>
            </legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('lastName','customer.lastName','customer.lastName','4')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('surname','customer.surname','customer.surName','5')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('firstName','customer.firstName','customer.firstName','6')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('middleInitial','customer.middleInitial','customer.middleInitial','7')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('title','customer.title','customer.title','8')}" th:with="required=false"></th:block>
        </fieldset>
        <fieldset class="grid">
            <legend>
                <th:block th:utext="#{customer.legend.contactInformation}"/>
            </legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('email','customer.email','customer.email','9')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('homePhone','customer.homePhone','customer.homePhone','10')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('mobilePhone','customer.mobilePhone','customer.mobilePhone','11')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('workPhone','customer.workPhone','customer.workPhone','12')}" th:with="required=false"></th:block>
        </fieldset>
        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('status','customer.status', 'customer.status', ${statusList}, true,'13')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('newsletter','customer.newsletter', 'customer.newsletter', ${ynvaluesList}, true,'14')}"
                      th:with="required=false"></th:block>
        </fieldset>
        <fieldset class="grid">
            <legend>
                <th:block th:utext="#{customer.legend.addressInformation}"/>
            </legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('address1','customer.address1','customer.address1','15')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('address2','customer.address2','customer.address2','16')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('zipCode','customer.zipCode','customer.zipCode','17')}"
                      th:with="pattern='^[1-9][0-9]{3}\s?[A-Z]{2}$', placeholder='XXXZZ'"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('city','customer.city','customer.city','18')}"></th:block>
        </fieldset>
        <fieldset class="grid">
            <legend>
                <th:block th:utext="#{customer.legend.emergencyInformation}"/>
            </legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('emergencyContact','customer.emergencyContact','customer.emergencyContact','19')}" th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('emergencyContactPhone','customer.emergencyContactPhone','customer.emergencyContactPhone','20')}"
                      th:with="required=false"></th:block>
        </fieldset>
        <fieldset class="grid">
            <legend>
                <th:block th:utext="#{customer.legend.otherInformation}"/>
            </legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('previousVeterinarian','customer.previousVeterinarian','customer.previousVeterinarian','21')}"
                      th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('previousVeterinarianPhone','customer.previousVeterinarianPhone','customer.previousVeterinarianPhone','22')}"
                      th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('ubn','customer.ubn','customer.ubn','23')}" th:with="required=false"></th:block>
        </fieldset>


        <fieldset class="grid">
            <label for="customer.comments">
                <th:block th:utext="#{customer.comments}"/>
                <textarea cols="110" id="customer.comments" name="customer.comments" rows="8" th:utext="${customer.comments}"></textarea>
            </label>
        </fieldset>
    </form>

    <th:block th:insert="~{fragments/elements/audit::audit('customer.addedBy','customer.addedOn', 'customer.lastEditedBy', 'customer.lastEditedOn')}"></th:block>
</section>
</body>
</html>