<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.customer}]]</title>
</head>
<body>

<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>
    <th:block
            th:insert="~{fragments/elements/pagetitle::pageTitleCreateThreePlusSave(${customer.id}, #{label.title.customer},'', ${customerInformation})}"></th:block>
    <hr/>
    <div th:replace="~{customer-module/fragments/customer/customerSearch::customerSearch(true, ${contextPath} + '/customer/customer', null)}"></div>
    <hr/>

    <th:block th:insert="~{customer-module/customer/customerform}"></th:block>

    <th:block th:if="${customer.id !=  null}"
              th:insert="~{fragments/elements/audit::audit('customer.addedBy','customer.addedOn', 'customer.lastEditedBy', 'customer.lastEditedOn')}"></th:block>
    <script>
        function copyInfoFromModalToForm() {
            const el = document.getElementById("addressData");
            if (!el) return;

            const data = el.dataset;
            document.getElementById('zipCode').value = data.zipcode;
            document.getElementById('street').value = data.street;
            document.getElementById('streetNumber').value = data.number;
            document.getElementById('city').value = data.city;
        }
    </script>
</section>
</body>
</html>