<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{distributor.distributor}"></title>
</head>
<body>
<section layout:fragment="content">
    <details open>
        <summary>
            <span th:text="#{label.report.distributor.input.title}"></span>
            <a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/distributor" title="More information" class="emoji-icon">ℹ️</a>
        </summary>
        <th:block th:insert="~{fragments/elements/pagetitle::pageTitleList('Distributor','/supplies/distributor')}"></th:block>
    </details>
    <table class="table-tight striped" id="show-table">
        <thead>
        <tr>
            <th>[[#{distributor.distributorName}]]</th>
            <th>[[#{distributor.email}]]</th>
            <th>[[#{distributor.phone}]]</th>
            <th>[[#{distributor.address}]]</th>
            <th>[[#{distributor.city}]]</th>
            <th>[[#{distributor.zipCode}]]</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="distributor : ${distributors}">
            <tr>
                <td><a th:href="@{'/supplies/distributor/'+ ${distributor.id}}">[[${distributor.distributorName}]]</a></td>
                <td th:text="${distributor.email}"></td>
                <td th:text="${distributor.phone}"></td>
                <td th:text="${distributor.address}"></td>
                <td th:text="${distributor.city}"></td>
                <td th:text="${distributor.zipCode}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</section>