<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.reminder}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleCreateThreePlusSave(${reminder.id}, #{label.title.reminder}
    ,'/supplies/customer/'+ ${customerId}+ '/reminders', ${customerInformation})}"></th:block>


    <form id="createForm" th:action="'/supplies/customer/'+${customerId}+ '/reminder'" method="post">
        <input id="id" name="id" th:value="${reminder.id}" type="hidden"/>
        <input id="version" name="version" th:value="${reminder.version}" type="hidden"/>

        <fieldset>
            <legend>[[#{label.reminder.info}]]</legend>
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('pet.id','label.reminder.petname', ${reminder.pet.id}, ${petsList}, true,'1')}"></th:block>
            <span>&nbsp;</span>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('dueDate','label.reminder.duedate','reminder.dueDate','2')}" th:with="type='date'"></th:block>
            <span>&nbsp;</span>
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('reminderText','label.reminder.reminder', ${reminder.reminderText},
             ${costingReminderList}, true,'3')}"></th:block>
        </fieldset>
    </form>
    <th:block th:insert="~{fragments/elements/audit::audit('reminder.addedBy','reminder.addedOn', 'reminder.lastEditedBy', 'reminder.lastEditedOn')}"></th:block>

</section>
</body>
</html>