<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.purpose}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/lookup/links}"></div>
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleListThree(#{label.title.purpose},'/customer/lookup/purpose', '')}"></th:block>

    <hr/>
    <div class="overflow-auto">
        <table id="show-table" class="table-tight striped">
            <thead>
            <tr>
                <th>[[#{label.purpose.definedPurpose}]]</th>
                <th>[[#{label.purpose.timeInMinutes}]]</th>
                <th>[[#{label.list.auditinfo}]]</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="purpose : ${purposes}">
                <tr>
                    <td><a th:href="'/customer/lookup/purpose/'+ ${purpose.id}">[[${purpose.definedPurpose}]]</a></td>
                    <td>[[${purpose.timeInMinutes}]]</td>
                    <td>
                        <small th:data-tooltip="'Created by  '+${purpose.addedBy}+' on ' +${#temporals.format(purpose.addedOn, 'dd-MM-yy')}">
                            [[${purpose.lastEditedBy}]] • [[${#temporals.format(purpose.lastEditedOn, 'dd-MM-yy')}]]
                        </small>
                    </td>
                </tr>
            </th:block>

            </tbody>
        </table>
    </div>
</section>