<th:block th:fragment="inputHtml(name, label, dbField, tabindex)" th:with="type=${type}?:'text', required=${required}?:true">
    <label th:for="${name}">
    <input th:type="${type}" th:id="${name}" th:name="${name}" th:value="${__${dbField}__}"
           th:placeholder="${label}" th:required="${required}" th:tabindex="${tabindex}">
    </label>
</th:block>


<th:block th:fragment="inputHtmlOptional(name, label, dbField, tabindex)" th:with="type=${type}?:'text'">
    <label th:for="${name}">[[${label}]]
        <input th:type="${type}" th:id="${name}" th:name="${name}" th:value="${__${dbField}__}"
               th:placeholder="${label}" th:tabindex="${tabindex}">
    </label>
</th:block>


<th:block th:fragment="inputHtmlNumber(name, label, dbField, tabindex)" th:with="type=${type}?:'text', required=${required}?:true">
    <label th:for="${name}">[[${label}]]
        <input th:type="${type}" th:id="${name}" th:name="${name}" th:value="${__${dbField}__}"
                th:required="${required}" th:tabindex="${tabindex}">
    </label>
</th:block>