<th:block th:fragment="selectCheckBoxList(groups, label, dbField, tabindex)">
    <th:block th:each="group : ${groups}">
        <fieldset class="grid" role="presentation">
            <label th:each="record : ${group}" th:for="${'rec-' + record.id}">[[${record.name}]]
                <input th:id="${'rec-' + record.id}"
                       th:name="${dbField}"
                       th:value="${record}"
                       th:checked="${record.connected}"
                       th:tabindex="${tabindex}"
                       type="checkbox"
                       role="switch"/>
            </label>
        </fieldset>
    </th:block>
</th:block>

<th:block th:fragment="selectCheckBox(name, label, dbField, tabindex)">
    <fieldset>
        <label>
            <input th:id="${name}"
                   th:name="${name}"
                   th:checked="${dbField}"
                   th:tabindex="${tabindex}"
                   type="checkbox" role="switch"/>
            [[${label}]]
        </label>
    </fieldset>
</th:block>