<th:block th:fragment="selectCheckBoxList(groups, label, dbField, tabindex)">
    <th:block th:each="group : ${groups}">
        <fieldset class="grid" role="presentation">
            <label th:each="record : ${group}" th:for="${'rec-' + record.id}">[[${record.name}]]
                <input role="switch"
                       th:checked="${record.connected}"
                       th:id="${'rec-' + record.id}"
                       th:name="${dbField}"
                       th:tabindex="${tabindex}"
                       th:value="${record}"
                       type="checkbox"/>
            </label>
        </fieldset>
    </th:block>
</th:block>

<th:block th:fragment="selectCheckBox(name, label, dbField, tabindex)">
    <input role="switch"
           th:checked="${__${dbField}__}"
           th:id="${name}"
           th:name="${name}"
           th:tabindex="${tabindex}" type="checkbox"/>
    [[${label}]]
</th:block>