<nav role="menu">
    <label data-role="burger"><input id="nav_checkbox" type="checkbox"/></label>
    <ul role="menubar">
        <li></li>
    </ul>
    <ul role="menuitem">
        <li th:if="${role == '[ROLE_ADMIN]'}"><a href="/car">Car</a></li>
        <li><a href="/cartracker/trip">Trip</a></li>
        <li><a href="/cartracker/trip/all">Volledig Overzicht</a></li>
        <li><a href="/cartracker/trip/alluser">Overzicht</a></li>
        <li><a href="/cartracker/trip/alluser/tank">Tank Overzicht</a></li>
        <li>
            <form action="/logout" method="post">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
                <button name="afmelden" class="link-button">Afmelden</button>
            </form>
        </li>
    </ul>
</nav>
<style>
    .link-button {
        background: none;
        border: none;
        cursor: pointer;
        color: var(--pico-primary);
    }
    .link-button:hover {
        text-decoration: underline;
    }
    .link-button:focus {
        outline: none;
        box-shadow: none;
    }
</style>