<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{label.product.setting}"></title>
</head>
<body>
<section layout:fragment="content">
    <style>
        /* Show the panel corresponding to the checked tab */
        #tab-reminder:checked ~ .panels .panel:nth-child(1),
        #tab-supply:checked ~ .panels .panel:nth-child(2),
        #tab-groups:checked ~ .panels .panel:nth-child(3),
        #tab-certificate:checked ~ .panels .panel:nth-child(4),
        #tab-instructions:checked ~ .panels .panel:nth-child(5),
        #tab-prescription:checked ~ .panels .panel:nth-child(6),
        #tab-actions:checked ~ .panels .panel:nth-child(7) {
            display: block;
        }
    </style>
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitle(${product.id}, 'Product','/product/products')}"></th:block>

    <form th:action="@{/product}" method="post">
        <th:block th:insert="~{fragments/elements/buttons::saveButtons}"></th:block>
        <fieldset class="grid">
            <input id="id" name="id" th:value="${product.id}" type="hidden"/>
            <input id="version" name="version" th:value="${product.version}" type="hidden"/>
            <input id="delete" name="delete" th:value="${product.deleted}" type="hidden"/>

            <!-- General Information -->
            <legend>General Information</legend>
            <th:block
                    th:insert="~{fragments/elements/dropdown::dbDropdown('lookupProductCategory.id','label.costing.product.category', ${product.lookupProductCategory.id}, ${categories}, true,'0')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('nomenclature','label.costing.product.invoiceInformation','product.nomenclature','0')}"></th:block>
            <div class="grid">
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('salesPriceExTax','label.costing.product.cost',
                    ${#numbers.formatDecimal(product.salesPriceExTax, 1, 2, 'POINT')}, '0')}" th:with="type='number'"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('processingFeeExTax','label.costing.product.processingFee',
                    ${#numbers.formatDecimal(product.processingFeeExTax, 1, 2, 'POINT')}, '0')}" th:with="type='number'"></th:block>
                <th:block th:insert="~{fragments/elements/dropdown::propDropdown('taxed','label.costing.product.taxedItem',${product.taxed},${taxTypes}, true, '0')}"></th:block>
            </div>
        </fieldset>
        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('shortCode','label.costing.product.quickReferenceCode','product.shortCode','0')}"
                      th:with="required=false"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('barcode','label.costing.product.barcode','product.barcode','0')}" th:with="required=false"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('batch','label.costing.product.batchRegistered',${product.hasBatchNr},${yesNoOptions}, true, '0')}"
                    th:with="required=false"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('spillage','label.costing.product.spillageAccounted',${product.hasSpillage},${yesNoOptions}, true, '0')}"
                    th:with="required=false"></th:block>
        </fieldset>
        <!-- Tabs Sections -->
        <hr/>
        <br/>
        <div class="tabs">
            <input type="radio" name="product-tabs" id="tab-reminder" checked>
            <label for="tab-reminder" th:text="#{label.costing.product.setReminder}"></label>
            <input type="radio" name="product-tabs" id="tab-supply">
            <label for="tab-supply" th:text="#{label.costing.product.supplyItems}"></label>
            <input type="radio" name="product-tabs" id="tab-groups">
            <label for="tab-groups" th:text="#{label.costing.product.grouping}"></label>
            <input type="radio" name="product-tabs" id="tab-certificate">
            <label for="tab-certificate" th:text="#{label.costing.product.certificate}"></label>
            <input type="radio" name="product-tabs" id="tab-instructions">
            <label for="tab-instructions" th:text="#{label.costing.product.instructions}"></label>
            <input type="radio" name="product-tabs" id="tab-prescription">
            <label for="tab-prescription" th:text="#{label.costing.product.prescriptionLabel}"></label>
            <input type="radio" name="product-tabs" id="tab-actions">
            <label for="tab-actions" th:text="#{label.costing.product.additionalActions}"></label>

            <div class="panels">
                <section class="panel" id="panel-reminder">
                    <th:block
                            th:insert="~{fragments/elements/input::inputHtmlLift('reminderNomenclature','label.costing.product.reminderDescription','product.reminderNomenclature','0')}"
                            th:with="required=false"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/input::inputHtmlLift('intervalInWeeks','label.costing.product.intervalInWeeks','product.intervalInWeeks','0')}"
                            th:with="type='number'"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/input::inputHtmlLift('rRemovePendingRemindersContaining','label.costing.product.removePendingReminders','product.rRemovePendingRemindersContaining','8')}"
                            th:with="required=false"></th:block>
                </section>
                <section class="panel" id="panel-supply">
                    <th:block th:replace="~{supplies-module/product/htmx/productsupplypart}"></th:block>
                </section>
                <section class="panel" id="panel-groups">
                    <div th:if="${product.id == null}">
                        <div style="font-style: italic"><b>[[#{label.costing.product.groupingExplenation}]]</b></div>
                    </div>
                    <div th:if="${product.id != null}">
                        <th:block th:insert="~{supplies-module/fragments/costing/costingSearch::costingSearch}"></th:block>
                    </div>
                </section>
                <section class="panel" id="panel-certificate">
                    <div>
                    <th:block
                            th:insert="~{fragments/elements/input::inputHtmlLift('certificateManufacturer','label.costing.product.manufacturer','product.certificateManufacturer','0')}"
                            th:with="required=false"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/input::inputHtmlLift('certificateType','label.costing.product.certificateType','product.certificateType','0')}"
                            th:with="required=false"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/input::inputHtmlLift('certificateSerialNumber','label.costing.product.serialNumber','product.certificateSerialNumber','0')}"
                            th:with="required=false"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/input::inputHtmlLift('certificateVaccineExpires','label.costing.product.expires','product.certificateVaccineExpires','0')}"
                            th:with="type='date',required=false"></th:block>
                    </div>
                </section>
                <section class="panel" id="panel-instructions">
                    <label for="instructions" th:text="#{label.costing.product.instructions}"></label>
                    <textarea cols="80" id="instructions" name="instructions" rows="8" th:text="${product.instructions}"></textarea>
                </section>
                <section class="panel" id="panel-prescription">
                    <label for="prescriptionLabel" th:text="#{label.costing.product.prescriptionLabel}"></label>
                    <textarea cols="80" id="prescriptionLabel" name="prescriptionLabel" rows="8" th:text="${product.prescriptionLabel}"></textarea>
                </section>
                <section class="panel"  id="panel-actions">
                    <label for="deceasedPetPrompt" th:text="#{label.costing.product.deceasedPetPrompt}"></label>
                    <label><input id="deceasedPetPrompt" name="deceasedPetPrompt" type="checkbox" th:checked="${product.deceasedPetPrompt}"></label>
                </section>
            </div>
        </div>
    </form>
</section>