<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{label.product}"></title>
</head>
<body>
<section layout:fragment="content">
    <details open>
        <summary>
            <span th:text="#{label.report.product.input.title}"></span>
            <a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/products" title="More information" class="emoji-icon">ℹ️</a>
        </summary>
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleList('Products','/product/product')}"></th:block>
    <fieldset>
    <div class="grid">
        <div>
            <th:block th:insert="~{supplies-module/fragments/costing/costingSearch::costingSearch}"></th:block>
        </div>
    </div>
    </fieldset>
    </details>
    <table id="productTable" class="table-tight table-striped">
        <thead>
        <tr>
            <th class="no-sorting"></th>
            <th th:text="#{label.costing.product.invoiceInformation}"></th>
            <th th:text="#{label.costing.product.category}"></th>
            <th th:text="#{label.costing.product.code}"></th>
            <th th:text="#{label.costing.product.barcode}"></th>
            <th th:text="#{label.costing.product.article}"></th>
            <th th:text="#{label.costing.product.inventoryUnit}"></th>
            <th th:text="#{label.costing.product.groupedProduct}"></th>
            <th th:text="#{label.costing.product.batchRegistered}"></th>
            <th th:text="#{label.costing.product.spillageAccounted}"></th>
            <th th:text="#{label.costing.product.inventoryAvailable}"></th>
        </tr>
        </thead>
        <th:block th:insert="~{supplies-module/product/htmx/productsbody}"></th:block>
    </table>
    <script>
        document.body.addEventListener('htmx:afterSwap', function (event) {
            window.updateTableFooterCount(document.getElementById("productTable"))
            highlightRowOnTable()
        });
    </script>
</section>