<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>Functie settings</title>
</head>
<body>
<section layout:fragment="content">
<th:block th:insert="~{fragments/elements/pagetitle::pageTitle(${function.id}, 'Function','/admin/function/list')}"></th:block>

<form action="/admin/function" method="post">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <th:block th:insert="~{fragments/elements/buttons::saveAndNewButtons}"></th:block>

    <fieldset class="grid" role="presentation">
        <input id="id" name="id" th:value="${function.id}" type="hidden"/>
        <input id="version" name="version" th:value="${function.version}" type="hidden"/>

        <th:block th:insert="~{fragments/elements/input::inputHtmlLift('name','Function name', 'function.name','1')}"></th:block>
    </fieldset>
</form>
</section>