<p>
<div class="notification-message text-align-center alert "
     th:classappend="${messageClass != null} ? ${messageClass} + ' show' : 'alert-success'" role="alert"
     th:text="${message != null} ? #{${message}} : ''"></div>
<table class="table-tight striped">
    <thead>
    <tr>
        <th th:text="#{visit.header.visitDate}"></th>
        <th th:text="#{label.otc.sell.category}"></th>
        <th th:text="#{label.lookupDiagnose.nomenclature}"></th>
        <th th:text="#{analyses.label.quantity}"></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="historyItem : ${historyItems}">
        <tr>
            <td th:text="${#temporals.format(historyItem.visitDate, 'dd-MM-yy')}"></td>
            <td th:text="${categoryNames.get(historyItem.categoryId)}" class="desktop-only"></td>
            <td th:text="${historyItem.nomenclature}"></td>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${historyItem.quantity}, false)}"></th:block>
        </tr>
    </th:block>
    </tbody>
</table>
</p>
