<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{sales-module/layout.html}">
<head>
    <title>[[#{label.title.otc}]]</title>
</head>
<body>
<section layout:fragment="content">
    <fieldset role="group" class="grid">
        <th:block th:insert="~{sales-module/fragments/customerpetinfo::customerPetInfo(${customer}, ${selectedPet}, false)}"></th:block>
    </fieldset>
        <fieldset role="presentation" class="grid">
            <form method="post">
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('selectPetId','', 'selectedPet.id', ${petsOnVisit}, true,'900')}"></th:block>
            </form>
            <input type="button" name="addPet" th:value="#{label.otc.sell.add.pet}"
                   th:hx-get="'/sales/otc/search/'+ ${customer.id}+'/sell/'+ ${appointment.id}+'/addpet'"
                   hx-target="#modal-container"
                   hx-swap="innerHTML"
                   hx-on::after-request="addEventListenersForPetSelect()"/>

            <input type="button" name="_historyPet" th:value="#{label.otc.sell.history}">
            <input type="button" name="_soapPet" th:value="#{label.otc.sell.soap}">
            <input type="button" name="_deletePet" th:value="#{label.otc.sell.delete}">
        </fieldset>
    <hr/>
    <fieldset role="group" class="grid">
        <legend>somestuff</legend>
        <table class="table-tight">
            <thead>
            <tr>
                <th th:text="#{label.otc.sell.description}"></th>
                <th th:text="#{label.otc.sell.category}"></th>
                <th th:text="#{label.otc.sell.amount}"></th>
                <th th:text="#{label.otc.sell.cost}"></th>
                <th th:text="#{label.otc.sell.cost}"></th>
                <th th:text="#{label.otc.sell.taxed}"></th>
                <th th:text="#{label.otc.sell.total}"></th>
                <th>
                    <svg width="32px" height="32px">
                        <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
                    </svg>
                </th>
            </tr>
            </thead>
            <!-- body and footer -->
            <th:include th:replace="~{sales-module/fragments/htmx/lineitemsoverview}"></th:include>
        </table>
    </fieldset>
    <div id="replacePartForCostingSearch"
         th:replace="~{supplies-module/fragments/costing/costingSearch::costingSearch(true, '/sales/otc/search/'+${selectedPet.id}+'/sell/'+${appointment.id}+'/product/','replacedByHtmx')}"></div>
    <script th:inline="javascript">
        const partialUrl = '/sales/otc/search/[[${customer.id}]]/sell/[[${appointment.id}]]/'
        htmx.logger = function(elt, event, data) {
            if(console) {
                console.log(event, elt, data);
            }
        }
        htmx.logAll()

        document.getElementById('selectPetId').onchange = function () {
            window.location.href =  partialUrl +  this.value;
        }
    </script>
</section>
</body>
</html>