<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.otc}]]</title>
</head>
<body>


<section layout:fragment="content">
    <fieldset role="group" class="grid">
        <th:block th:insert="~{sales-module/fragments/customerpetinfo::customerPetInfo(${customer}, ${selectedPet}, false)}"></th:block>
    </fieldset>
    <fieldset class="grid">
        <th:block th:with="extras=~{sales-module/fragments/extrabuttons::historySoapButtons}">
            <th:block th:insert="~{sales-module/fragments/petdropdownandbuttons::petDropDownAndButtons(${petsOnVisit}, ${selectedPet}, ${customer}, ${appointment}, ${extras})}"></th:block>
        </th:block>
    </fieldset>
    <hr/>
    <fieldset role="group" class="grid">
        <legend th:text="#{label.otc.legend.lineitems}"></legend>
        <table class="table-tight">
            <thead>
            <tr>
                <th></th>
                <th class="left" th:text="#{label.otc.sell.description}"></th>
                <th class="left" th:text="#{label.otc.sell.category}"></th>
                <th class="right" th:text="#{label.otc.sell.amount}"></th>
                <th class="right" th:text="#{label.otc.sell.cost}"></th>
                <th class="right" th:text="#{label.otc.sell.cost}"></th>
                <th class="right" th:text="#{label.otc.sell.taxed}"></th>
                <th class="right" th:text="#{label.otc.sell.total}"></th>
                <th class="center">
                    <svg width="32px" height="32px">
                        <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
                    </svg>
                </th>
            </tr>
            </thead>
            <!-- body and footer -->
            <th:include th:replace="~{sales-module/fragments/htmx/lineitemsoverview}"></th:include>
        </table>
    </fieldset>
    <div id="replacePartForCostingSearch"
         th:replace="~{supplies-module/fragments/costing/costingSearch::costingSearch(true)}"></div>
    <script th:inline="javascript">
        const partialUrl = '/sales/otc/search/[[${customer.id}]]/sell/[[${appointment.id}]]/'

        document.getElementById('selectPetId').onchange = function () {
            window.location.href = partialUrl + this.value;
        }
    </script>
</section>
</body>
</html>