<th:block th:insert="~{fragments/page/header}"></th:block>

<th:block th:insert="~{fragments/page/errors}"></th:block>
<th:block th:insert="~{fragments/page/message}"></th:block>

<th:block th:insert="~{fragments/elements/pageTitle::pageTitleNL(${game.id}, 'Driver','/game/list')}"></th:block>


<article class="game-header" role="presentation" >
    <header >
        <h3 th:text="${game.whereIsTheGame}">Header</h3>
        <span th:text="${#temporals.format(game.whenIsTheGame , 'dd-MM-yyyy HH:mm')}"></span>
    </header>

    <th:block th:each="driver : ${driverList}">
        <p th:text="${driver.accountName}">Content</p>
        <p th:text="${driver.atSwimmingPool}">Content</p>
        <p th:text="${driver.nrOfTeamMembers}">Content</p>
        <p th:text="${driver.nrOfEmptySpots}">Content</p>
    </th:block>

    <footer>Footer</footer>
</article>


<form action="/driver" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <th:block th:insert="~{fragments/elements/buttons::saveButtons()}"></th:block>

    <fieldset class="grid" role="presentation">
        <input id="id" name="id" th:value="${driver.id}" type="hidden">
        <input id="gameId" name="gameId" th:value="${game.id}" type="hidden">
        <input id="version" name="version" th:value="${driver.version}" type="hidden">

    <label>Auto geregeld door:
        <input type="text" id="accountName" name="accountName" th:value="${driver.accountName}" readonly/>
    </label>
        <th:block th:insert="~{fragments/elements/select::selectCheckBox('atSwimmingPool','Ga je langs de wasbeek?', 'driver.atSwimmingPool','1')}"></th:block>
    </fieldset>
    <fieldset class="grid" role="presentation">
        <th:block th:insert="~{fragments/elements/input::inputHtmlNumber('nrOfTeamMembers','Hoeveel teamleden gaan er al mee in de auto?', 'driver.nrOfTeamMembers', '3')}"></th:block>
        <th:block th:insert="~{fragments/elements/input::inputHtmlNumber('nrOfEmptySpots','Hoeveel teamleden kunnen nog mee/ legen plekken?', 'driver.nrOfEmptySpots', '4')}"></th:block>
    </fieldset>
</form>

<style>
    .game-header {
        display: flex;
        justify-content: space-between; /* pushes h3 left and span right */
        align-items: baseline;          /* aligns text nicely */
        gap: 1rem;                      /* optional spacing */
        width: 25em;
    }

    .game-header h3 {
        margin: 0;
    }

    .game-header span {
        font-size: 0.9rem;
        color: #666;
    }
</style>