<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>Functie lijst</title>
</head>
<body>
<section layout:fragment="content">
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleList('Function','/admin/function')}"></th:block>

    <table id="show-table">
        <thead>
        <tr>
            <th>[[#{function.name}]]</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="function : ${functions}">
            <tr>
                <td><a th:href="@{'/admin/function/'+ ${function.id}}">[[${function.name}]]</a></td>
            </tr>
        </th:block>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
        </tr>
        </tfoot>
    </table>
</section>