<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{supplies.supplies}]]</title>
</head>
<body>
<section layout:fragment="content">
    <details open>
        <summary>
            <span th:text="#{label.report.supplies.input.title}"></span>
            <a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/supplies" title="More information" class="emoji-icon">ℹ️</a>
        </summary>
        <th:block th:insert="~{fragments/elements/pagetitle::pageTitleList(#{supplies.supplies},'/supplies/distributor/supply')}"></th:block>

        <script>
            document.body.addEventListener('htmx:afterSwap', function (event) {
                window.updateTableFooterCount(document.getElementById("suppliesTable"))
                highlightRowOnTable()
            });
        </script>
        <form name="distributorId" id="distributorId" hx-post="/supplies/distributor/supplies" hx-trigger="change from:#distributorName"
              hx-target="#supplyItemsTable" hx-indicator="#searching-indicator2" hx-swap="outerHTML">

            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('distributorName','','distributorId',${distributorList},true,'0')}"></th:block>
        </form>
    </details>
    <th:block th:insert="~{this::formSelectSuppliesFromDistributorList(isFromHere=true)}"></th:block>
</section>

<th:block th:fragment="formSelectSuppliesFromDistributorList(isFromHere)">
    <table id="suppliesTable" class="table-tight table-striped">
        <thead>
        <tr th:if="${isFromHere}">
            <th class="no-sorting"></th>
            <th data-order="2" th:text="#{label.supplies.nomenclature}"></th>
            <th data-order="3" th:text="#{label.supplies.quantityPerPackage}"></th>
            <th data-order="4" th:text="#{label.supplies.minQuantity}"></th>
            <th data-order="5" th:text="#{label.supplies.buyQuantity}"></th>
            <th data-order="6" th:text="#{label.supplies.price}"></th>
            <th data-order="7" th:text="#{label.supplies.itemNumber}"></th>
            <th data-order="8" th:text="#{label.supplies.barcode}"></th>
        </tr>
        <tr th:unless="${isFromHere}">
            <th class="no-sorting"></th>
            <th data-order="2" th:text="#{label.supplies.nomenclature}"></th>
            <th data-order="3" th:text="#{label.supplies.quantityPerPackage}"></th>
            <th data-order="6" th:text="#{label.supplies.price}"></th>
            <th data-order="7" th:text="#{label.supplies.itemNumber}"></th>
            <th data-order="8" th:text="#{label.supplies.barcode}"></th>
        </tr>

        </thead>
        <th:block th:insert="~{supplies-module/distributor/supplies/htmx/suppliesbody::suppliesbody(isFromHere=${isFromHere})}"></th:block>
    </table>
</th:block>