<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.3.1/"
            }
        }
    </script>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.css">
    <script type="module" th:src="@{/lib/js/standard_ckeditor.js}"></script>
    <style>
        .ck-editor__editable {
            height: calc(100vh - 40rem); /*  200px header + 60px footer */

        }
    </style>
    <title th:text="#{label.localmember.title}"></title>
</head>
<body>

<section layout:fragment="content">
    <style>
        #tab-general:checked ~ .panels .panel:nth-child(1),
        #tab-pref:checked ~ .panels .panel:nth-child(2),
        #tab-infotext:checked ~ .panels .panel:nth-child(3) {
            display: block;
        }

        .tabs .panels .panel {
            max-height: 100%
        }
    </style>

    <details id="localMemberId" open>
        <summary>
            <span th:text="#{label.localmember.title}"></span>
            <a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/admin/localmember" th:title="#{label.more.information}" class="emoji-icon">ℹ️</a>
        </summary>
        <th:block th:insert="~{fragments/elements/pagetitle::pageTitle(${id}, #{label.localmember.title},'/admin/localmembers')}"></th:block>
    </details>

    <form th:action="@{/admin/localmember}" method="post" onsubmit="document.getElementById('contentToSave').value = window.editor.getData();">
        <input type="hidden" id="contentToSave" name="pref.firstPageMessage">

        <th:block th:insert="~{fragments/elements/buttons::saveButtons}"></th:block>
        <hr/>
        <div class="tabs">
            <input type="radio" name="localmember-tabs" id="tab-general" checked>
            <label for="tab-general" th:text="#{label.memberlocal.general}"></label>
            <input type="radio" name="localmember-tabs" id="tab-pref">
            <label for="tab-pref" th:text="#{label.memberlocal.pref}"></label>
            <input type="radio" name="localmember-tabs" id="tab-infotext">
            <label for="tab-infotext" th:text="#{label.memberlocal.infotext}"></label>

            <div class="panels">
                <section class="panel">
                    <div>
                        <th:block th:insert="~{admin-module/localmember/snippets/general}"></th:block>
                    </div>
                </section>
                <section class="panel">
                    <div>
                        <th:block th:insert="~{admin-module/localmember/snippets/preferences}"></th:block>
                    </div>
                </section>
                <section class="panel">
                    <div id="editor" th:utext="${pref.firstPageMessage}"></div>
<!--                    <script>-->
<!--                        document.addEventListener('DOMContentLoaded', function(){-->
<!--                            let editor;-->
<!--                            ClassicEditor.create(document.querySelector('#editor')).then(e => editor = e);-->
<!--                        })-->
<!--                    </script>-->

                </section>
            </div>
        </div>
    </form>
</section>
</body>
</html>