<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>SubMember lijst</title>
</head>
<body>
<section layout:fragment="content">

    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleList('Local Member','/admin/localmember')}"></th:block>

    <table id="localmember-table">
        <thead>
        <tr>
            <th th:text="#{localmember.name}">Name</th>
            <th th:text="#{localmember.email}">Email</th>
            <th th:text="#{localmember.phone1}">Clinic phone</th>
            <th th:text="#{localmember.phone2}">Second phone</th>
            <th th:text="#{localmember.address1}">Address</th>
            <th th:text="#{localmember.zipCode}">Zipcode</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="localmember : ${localmembers}">
            <tr>
                <td><a th:href="@{'/admin/localmember/'+ ${localmember.id}}">[[${localmember.localMemberName}]]</a></td>
                <td>[[${localmember.email}]]</td>
                <td>[[${localmember.phone1}]]</td>
                <td>[[${localmember.phone2}]]</td>
                <td>[[${localmember.Address1}]]</td>
                <td>[[${localmember.zipCode}]]</td>
            </tr>
        </th:block>
        </tbody>
    </table>
</section>