<style>
    .threecolumn-spread {
        grid-template-columns: 10fr 17fr 10fr;
    }

    .column-wrapper {
        position: relative;
    }

    .column-header {
        padding: 0.5rem;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid;
        border-radius: var(--pico-border-radius);
        background: var(--pico-background-color);
    }

    .column-content {
        position: absolute;
        top: 2.3rem;
        left: 0;
        right: 0;
        padding-left: 0.1rem;
        padding-right: 0.1rem;

        background: var(--pico-background-color);
        border: 1px solid;
        border-radius: var(--pico-border-radius);
        border-top: none;
        z-index: 9;

        /* transition setup */
        opacity: 0;
        transform: translateY(-6px);
        visibility: hidden;
        pointer-events: none;

        transition:
                opacity 400ms ease-out,
                transform 400ms ease-out,
                visibility 0ms linear 200ms;
    }

    .column-wrapper:hover .column-header {
        background: var(--pico-table-row-stripped-background-color);

    }
    /* open on hover */
    .column-wrapper:hover .column-content,
    .column-wrapper.open .column-content {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
        transition:
                opacity 400ms ease-out,
                transform 400ms ease-out,
                visibility 0ms;
    }
</style>
<div class="threecolumn-spread">
    <div class="column-wrapper one">
        <div class="column-header">Actions</div>
        <div class="column-content">
            <th:block th:if="${visit.isOpen()}" th:insert="~{sales-module/fragments/extrabuttons::visitStatusButtons}"/>
            <th:block th:unless="${visit.isOpen()}" th:insert="~{sales-module/fragments/extrabuttons::visitReactivateButtons}"/>
        </div>
    </div>
    <div class="column-wrapper two">
        <div class="column-header">Status</div>
        <div class="column-content">
            <th:block th:if="${visit.isOpen()}" th:insert="~{sales-module/fragments/htmx/visitstatus::openVisitStatus}"/>
            <th:block th:unless="${visit.isOpen()}" th:insert="~{sales-module/fragments/htmx/visitstatus::closedVisitStatus}"/>
        </div>
    </div>
    <div class="column-wrapper three">
        <div class="column-header">Print</div>
        <div class="column-content">
            <th:block th:insert="~{sales-module/fragments/htmx/printing}"/>
        </div>
    </div>
</div>