<style>
    #actionbar > .threecolumn-spread {
        grid-template-columns: 10fr 17fr 10fr;
        padding-bottom: .5rem;
    }

    #actionbar .column-wrapper {
        position: relative;
    }

    #actionbar .column-header {
        padding: 0.5rem;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid;
        border-radius: var(--pico-border-radius);
        background: var(--pico-background-color);
    }

    #actionbar .column-content {
        position: absolute;
        top: 2.3rem;
        left: 0;
        right: 0;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
        padding-top: 0.8rem;
        background: var(--pico-background-color);
        border: 1px solid;
        border-radius: var(--pico-border-radius);
        border-top: none;
        z-index: 9;

        opacity: 0;
        transform: translateY(-6px);
        visibility: hidden;
        pointer-events: none;
        transition: opacity 400ms ease-out,
        transform 400ms ease-out,
        visibility 0ms linear 200ms;
    }

    #actionbar .column-content .grid {
        display: grid;
        align-items: start;
    }

    #actionbar .column-wrapper:hover .column-header {
        background: var(--pico-table-row-stripped-background-color);
    }

    #actionbar .column-wrapper:hover .column-content,
    #actionbar .column-wrapper.open .column-content {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
        transition: opacity 400ms ease-out,
        transform 400ms ease-out,
        visibility 0ms;
    }
</style>
<div id="actionbar">
    <div class="threecolumn-spread">
        <div class="column-wrapper">
            <div class="column-header" th:text="#{label.actionbar.visit.actions}">Actions</div>
            <th:block th:if="${salesType.isPriceInfo or salesType.isOtc }">
                <div></div>
            </th:block>
            <th:block th:unless="${salesType.isPriceInfo}">
                <div class="column-content">
                    <th:block th:if="${visit.isOpen()}" th:insert="~{sales-module/fragments/extrabuttons::visitStatusButtons}"/>
                    <th:block th:unless="${visit.isOpen()}" th:insert="~{sales-module/fragments/extrabuttons::visitReactivateButtons}"/>
                </div>
            </th:block>
        </div>
        <div class="column-wrapper">
            <div class="column-header" th:text="#{label.actionbar.visit.status}">Visit Status</div>
            <th:block th:if="${salesType.isPriceInfo or salesType.isOtc}">
                <div></div>
            </th:block>
            <th:block th:unless="${salesType.isPriceInfo}">
                <div class="column-content">
                    <th:block th:if="${visit.isOpen()}" th:insert="~{sales-module/fragments/htmx/visitstatus::openVisitStatus}"/>
                    <th:block th:unless="${visit.isOpen()}" th:insert="~{sales-module/fragments/htmx/visitstatus::closedVisitStatus}"/>
                </div>
            </th:block>
        </div>
        <div class="column-wrapper">
            <div class="column-header" th:text="#{label.actionbar.visit.print}">Print</div>
            <th:block th:if="${salesType.isPriceInfo}">
                <div></div>
            </th:block>
            <th:block th:if="${!salesType.isPriceInfo}">
                <div class="column-content">
                    <th:block th:insert="~{sales-module/fragments/htmx/printing}"/>
                </div>
            </th:block>
        </div>
    </div>
</div>
<hr/>