<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{label.title.appoinmentlist}"></title>
</head>
<body>

<section layout:fragment="content">
    <details id="reportRemindersInfo" open>
        <summary>
            <span th:text="#{label.report.consult.input.title}"></span><a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/report/visit"
                                                                          th:title="#{label.more.information}" class="emoji-icon">ℹ️</a>
        </summary>

        <form action="" method="get">

            <div class="grid">
                <label th:for="visitDateTimeStart">[[#{visit.headerlist.from}]]
                    <input id="visitDateTimeStart" name="from" required autofocus type="date" autocomplete="off" max="9999-01-01"
                           th:value="${#temporals.format(form.from, 'yyyy-MM-dd')}">
                </label>
                <label th:for="visitDateTimeEnd">[[#{visit.headerlist.untill}]]
                    <input id="visitDateTimeEnd" name="includeTill" required type="date" autocomplete="off"
                           max="9999-01-01"
                           th:value="${#temporals.format(form.includeTill, 'yyyy-MM-dd')}">
                </label>
                <th:block
                        th:insert="~{fragments/elements/dropdown::dbDropdown('localMemberId','userpreferences.clinic', ${form.localMemberId}, ${localMembersList}, true,'1')}"
                        th:with="isSelectAll=true"></th:block>
                <th:block
                        th:insert="~{fragments/elements/dropdown::propDropdown('invoiceSend','visit.headerlist.send', ${form.invoiceSend}, ${ynvaluesList}, true,'0')}"
                        th:with="required=false">
                </th:block>
                <div style="display: flex; align-self: stretch;">
                    <div style="display: flex; align-items: center;">
                        <th:block
                                th:insert="~{fragments/elements/select::selectCheckBox('showAmountDiff',#{label.visit.checkbox.amountdiff},${form.showAmountDiff},'0')}"></th:block>
                    </div>
                </div>
            </div>
            <input type="submit" th:value="#{label.button.search}"/>
            <fieldset style="padding-bottom: 0; margin-bottom: 0">
                <legend>Show columns</legend>
                <table data-no-highlight data-no-export class="table-tight">
                    <tr>
                        <td colspan="2">
                            <th:block th:insert="~{fragments/elements/select::selectCheckBox('showPetname',#{label.visit.checkbox.petname},${form.showPetname},'0')}"></th:block>
                        </td>
                        <td colspan="2">
                            <th:block th:insert="~{fragments/elements/select::selectCheckBox('showVetroom',#{label.visit.checkbox.vetroom},${form.showVetroom},'0')}"></th:block>
                        </td>
                        <td colspan="2">
                            <th:block
                                    th:insert="~{fragments/elements/select::selectCheckBox('showInsurance',#{label.visit.checkbox.insurance},${form.showInsurance},'0')}"></th:block>
                        </td>
                        <td colspan="2">
                            <th:block th:insert="~{fragments/elements/select::selectCheckBox('showInvoice',#{label.visit.checkbox.amount},${form.showInvoice},'0')}"></th:block>
                        </td>
                        <td colspan="2">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </details>

    <div class="table-wrapper">
        <table id="appointmentList" data-multi-select class="table-tight">
            <thead>
            <tr>
                <th data-order="1" th:text="#{visit.headerlist.visitDate}"></th>
                <th data-order="2" th:text="#{visit.headerlist.status}"></th>
                <th data-order="3" th:text="#{visit.headerlist.owner}"></th>
                <th data-order="4" th:text="#{visit.headerlist.petName}"></th>
                <th data-order="5" th:text="#{visit.headerlist.vetroom}"></th>
                <th data-order="7" th:text="#{visit.headerlist.insured}"></th>
                <th data-order="8" th:text="#{visit.headerlist.send}"></th>
                <th data-order="9" th:text="#{visit.headerlist.totalamount}"></th>
                <th data-order="10" th:text="#{visit.headerlist.totalpaid}"></th>
                <th data-order="6" th:text="#{visit.headerlist.purpose}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.size(appointments) == 0}">
                <td colspan="3" th:text="#{label.not-found}"></td>
                <td colspan="7"></td>
            </tr>
            <tr th:each="visit : ${appointments}">
                <td th:if="${visit.otc.label == 'label.yesno.yes'}" th:attr="data-sort-value=${visit.visitDateTime}">
                    <a target="_blank" th:href="'/sales/otc/customer/'+ ${visit.customerId} + '/visit/'+  ${visit.visitId}"
                       th:text="${#temporals.format(visit.visitDateTime, 'dd-MM-yyyy HH:mm') + ' (OTC)'}"></a>
                </td>
                <td th:if="${visit.otc.label == 'label.yesno.no'}" th:attr="data-sort-value=${visit.visitDateTime}">
                    <a target="_blank" th:href="'/consult/visit/customer/'+ ${visit.customerId} + '/visit/'+ ${visit.visitId} + '?callFrom=customer'"
                       th:text="${#temporals.format(visit.visitDateTime, 'dd-MM-yyyy HH:mm')}"></a>
                </td>
                <th:block th:if="${visit.appointmentId == 0}">
                    <td style="background-color: orange; color:green" th:text="#{label.payment.detached}"></td>
                </th:block>
                <th:block th:unless="${visit.appointmentId == 0}">
                    <th:block th:with="backgroundColor=${T(dwe.holding.salesconsult.consult.model.Visit).getBackgroundColor(visit.isCancelled(), visit.isCompleted(), visit.status)},
                                    textColor=${T(dwe.holding.salesconsult.consult.model.Visit).getTextColor(backgroundColor)}">
                        <td th:style="${'background-color:' + backgroundColor + '; color:' + textColor + '; margin-right:.2rem'}" th:text="#{__${visit.getStatusLabel()}__}"></td>
                    </th:block>
                </th:block>
                <td style="padding-left:.2rem"
                    th:text="${T(dwe.holding.customer.client.model.Customer).getCustomerName(visit.lastName, visit.surName, visit.firstName, visit.middleInitial)}"></td>
                <td th:utext="${visit.petName + '(' + (visit.species ==null?'':visit.species) + '/' +(visit.breed==null?'':visit.breed) +')'}"></td>
                <td th:utext="${visit.veterinarian + '/'+visit.room}"></td>
                <td th:text="#{__${visit.insured.label}__} +'-'+ ${visit.insuredBy ?:''}"></td>
                <td th:text="#{__${visit.sentToInsurance.label}__}"></td>
                <th:block
                        th:with="amountClass=${visit.totalAmountIncTax - visit.paidAmount > 0.01 ? 'red-background': (visit.paidAmount - visit.totalAmountIncTax > 0.01 ? 'green-background':'')}">
                    <th:block
                            th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${visit.totalAmountIncTax},false, ${amountClass})}"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${visit.paidAmount},false, ${amountClass})}"></th:block>
                </th:block>
                <td th:text="${visit.purpose}"></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="3"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${visitsTotalAmount}, true)}"
                          th:with="increaseFont=120"></th:block>
                <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${visitPaidAmount}, false)}"
                          th:with="increaseFont=120"></th:block>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
    <script>
        document.getElementById("showInvoice").addEventListener("change", function () {
            toggleTableColumns("appointmentList", [9, 10], this.checked);
        });
        document.getElementById("showInsurance").addEventListener("change", function () {
            toggleTableColumns("appointmentList", [7, 8], this.checked);
        });
        document.getElementById("showVetroom").addEventListener("change", function () {
            toggleTableColumns("appointmentList", [5], this.checked);
        });
        document.getElementById("showPetname").addEventListener("change", function () {
            toggleTableColumns("appointmentList", [4], this.checked);
        });
        // trigger initially
        document.getElementById("showInvoice").dispatchEvent(new Event("change"));
        document.getElementById("showInsurance").dispatchEvent(new Event("change"));
        document.getElementById("showVetroom").dispatchEvent(new Event("change"));
        document.getElementById("showPetname").dispatchEvent(new Event("change"));
    </script>
</section>