<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.reminders}]]</title>
    <script src="/lib/js/report/report.js" type="text/javascript"></script>
</head>
<body>
<section layout:fragment="content">
    <form action="" method="get">
        <details id="reportRemindersInfo" open>
            <summary>
                <span th:text="#{label.report.reminder.input.title}"></span><a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/report/reminders" th:title="#{label.more.information}" class="emoji-icon">ℹ️</a>
            </summary>
            <div class="grid">
                <label th:for="recDateTimeStart">[[#{visit.headerlist.from}]]
                    <input id="recDateTimeStart" name="from" required autofocus type="date" autocomplete="off" max="9999-01-01"
                           th:value="${#temporals.format(reminderForm.from, 'yyyy-MM-dd')}">
                </label>
                <label th:for="recDateTimeEnd">[[#{visit.headerlist.untill}]]
                    <input id="recDateTimeEnd" name="includeTill" required type="date" autocomplete="off" max="9999-01-01"
                           th:value="${#temporals.format(reminderForm.includeTill, 'yyyy-MM-dd')}">
                </label>
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('LastNameFilter','label.report.startCustomerName','reminderForm.LastNameFilter','0')}"
                          th:with="required=false"></th:block>

                <div style="display: flex; align-self: stretch;">
                    <div style="display: flex; align-items: center;">
                        <th:block th:insert="~{fragments/elements/select::selectCheckBox('onlyActiveWithLivePet',#{label.report.limitalive},${reminderForm.onlyActiveWithLivePet},'0')}"></th:block>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div>
                    <fieldset>
                        <legend>Species All: <input role="switch" type="checkbox" th:checked="true" onchange="toggleAllCheckBoxesInSurroundingElement(this, 'fieldset')"></legend>
                        <input type="hidden" name="speciesListLength" th:value="${#lists.size(species)}"/>
                        <th:block th:each="record : ${species}">
                            <input role="switch" type="checkbox" name="species" th:value="${record.name}" th:text="${record.name}"
                                   th:checked="${record.connected}"/><br/>
                        </th:block>
                    </fieldset>
                </div>
                <div>
                    <fieldset>
                        <legend>Current reminders All: <input role="switch" type="checkbox" th:checked="true" onchange="toggleAllCheckBoxesInSurroundingElement(this, 'fieldset')"></legend>
                        <input type="hidden" name="reminderTypesLength" th:value="${#lists.size(reminderTypes)}"/>
                        <th:block th:each="record : ${reminderTypes}">
                            <input role="switch" type="checkbox" name="reminderTypes" th:value="${record.name}" th:text="${record.name}"
                                   th:checked="${record.connected}"/><br/>
                        </th:block>
                    </fieldset>
                </div>
            </div>
            <input type="submit" th:value="#{label.button.search}"/>
        </details>
    </form>
    <form method="post" action="/report/reminders">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <table data-no-export data-no-highlight>
            <tr>
                <td><button type="submit" name="actionType" value="EMAIL" th:onclick="'return validateMinimalOneSelection(\'rec-table\', \''+ #{label.error.atleastone} + '\')'"
                            th:data-tooltip="#{label.report.action.sendEmail}" class="buttonForLink">📧</button></td>
                <td><button type="submit" name="actionType" value="REPORT" th:onclick="'return validateMinimalOneSelection(\'rec-table\', \''+ #{label.error.atleastone} + '\')'"
                            th:data-tooltip="#{label.report.action.createLetter}" class="buttonForLink">🖨️</button></td>
                <td><button type="submit" name="actionType" value="APPOINTMENT" th:onclick="'return validateSingleSelection(\'rec-table\', \''+ #{label.error.singlecheckbox} + '\')'"
                            th:data-tooltip="#{label.report.action.showAppointment}" class="buttonForLink">📅</button></td>
                <td><button type="submit" name="actionType" value="LATEST_APPOINTMENT"   th:onclick="'return validateSingleSelection(\'rec-table\', \''+ #{label.error.singlecheckbox} + '\')'"
                            th:data-tooltip="#{label.report.action.showLatestAppointment}" class="buttonForLink">📅</button></td>
            </tr>
        </table>
        <table class="table-tight " id="rec-table" data-multi-select>
            <thead>
            <tr>
                <th class="no-sorting">
                    <input role="switch" type="checkbox" th:checked="false" onchange="toggleAllCheckBoxesInSurroundingElement(this, 'table')">
                </th>
                <th th:text="#{label.reminder.notified}"></th>
                <th th:text="#{report.reminders.headerlist.dueDate}"></th>
                <th th:text="#{report.reminders.headerlist.reminder}"></th>
                <th th:text="#{report.reminders.headerlist.customerName}"></th>
                <th th:text="#{report.reminders.headerlist.email}"></th>
                <th th:text="#{report.reminders.headerlist.phone}"></th>
                <th th:text="#{report.reminders.headerlist.petName}"></th>
                <th th:text="#{report.reminders.headerlist.appoinment}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rec : ${reminders}">
                <td><input role="switch" type="checkbox" name="reminderSelected" th:value="${rec.reminderId}"/></td>
                <td th:text="#{__${rec.hasBeenNotified.label}__}"></td>
                <td th:text="${#temporals.format(rec.dueDate, 'dd-MM-yy')}"></td>
                <td th:text="${rec.reminderText}"></td>
                <td th:text="${T(dwe.holding.customer.client.model.Customer).getCustomerName(rec.lastName, rec.surName, rec.firstName, rec.middleInitial)}"></td>
                <td th:text="${rec.email}"></td>
                <td th:text="${rec.mobilePhone + '/'+rec.workPhone}"></td>
                <td th:text="${rec.petName + ' (' + rec.species + '/' +rec.breed +')'}"></td>
                <td> <a th:href=" ${rec.originatingAppointmentId}"></td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </form>
    <th:block th:if="${processingEmails}">
        <dialog id="counter-modal" open>
            <article>
                <header>
                    <div>
                        <span th:text="#{label.report.progress}"></span>
                        <span id="notification-message-modal"></span>
                    </div>
                </header>
                <fieldset>
                    <legend th:text="#{label.report.progress}"></legend>
                    <div hx-get="/report/reminders/selectedreport/status"
                         hx-trigger="load, every 1s [this.querySelector('span')?.dataset.counter === 'false']"
                         hx-swap="innerHTML">
                        <span data-counter="false">
                            <progress value="" max="" />
                        </span>
                    </div>
                </fieldset>
                <footer>
                    <fieldset class="grid">
                        <button data-target="counter-modal" onclick="toggleModal(event)" th:text="#{label.button.close}"></button>
                    </fieldset>
                </footer>
            </article>
        </dialog>
    </th:block>
</section>

