<th:block th:insert="~{fragments/page/header}"></th:block>

<th:block th:insert="~{fragments/page/errors}"></th:block>
<th:block th:insert="~{fragments/page/message}"></th:block>
<th:block th:insert="~{fragments/elements/pagetitle::pageTitle(${userPref.id}, 'Preferences','')}"></th:block>

<link href="/pico/admin-module/color-picker.css" rel="stylesheet">
<link href="/pico/admin-module/color-picker-doc.css" rel="stylesheet">
<link href="/pico/admin-module/color-picker-main.css" rel="stylesheet">

<form action="/user/preferences" method="post">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <th:block th:insert="~{fragments/elements/buttons::saveAndNewButtons}"></th:block>

    <input id="id" name="id" th:value="${userPref.id}" type="hidden">
    <input id="version" name="version" th:value="${userPref.version}" type="hidden">

    <!-- Agenda Accordion -->
    <details name="preferences" open>
        <summary><b>Agenda Preferences</b></summary>
        <fieldset class="grid" role="presentation">
            <th:block th:insert="~{fragments/elements/input::inputHtml('pref_agenda_vet1','Agenda Vet 1', 'userPref.pref_agenda_vet1','1')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtml('pref_agenda_vet2','Agenda Vet 2', 'userPref.pref_agenda_vet2','2')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtml('pref_agenda_vet3','Agenda Vet 3', 'userPref.pref_agenda_vet3','3')}"></th:block>
        </fieldset>
    </details>

    <hr/>

    <!-- Search Accordion -->
    <details name="preferences">
        <summary><b>Customer Search Preferences</b></summary>
        <fieldset class="grid" role="presentation">
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefSearchCustStart','Search by Start?', 'userPref.prefSearchCustStart', ${ynvaluesList}, true,'4')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefSearchCustStreet','Search by Street?', 'userPref.prefSearchCustStreet', ${ynvaluesList}, true,'5')}"></th:block>
        </fieldset>
    </details>

    <hr/>

    <!-- Visit Accordion -->
    <details name="preferences">
        <summary><b>Visit Preferences</b></summary>
        <fieldset class="grid" role="presentation">
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitAppointmentList','Show Appointment List?', 'userPref.prefVisitAppointmentList', ${ynvaluesList}, true,'6')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitTotalVisit','Show Total Visit?', 'userPref.prefVisitTotalVisit', ${ynvaluesList}, true,'7')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitAppointmentInfo','Show Appointment Info?', 'userPref.prefVisitAppointmentInfo', ${ynvaluesList}, true,'8')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitVisitInfo','Show Visit Info?', 'userPref.prefVisitVisitInfo', ${ynvaluesList}, true,'9')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitAnalyseInfo','Show Analyse Info?', 'userPref.prefVisitAnalyseInfo', ${ynvaluesList}, true,'10')}"></th:block>
        </fieldset>
        <fieldset class="grid" role="presentation">
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitComments','Show Comments?', 'userPref.prefVisitComments', ${ynvaluesList}, true,'11')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitProducts','Show Products?', 'userPref.prefVisitProducts', ${ynvaluesList}, true,'12')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitDiagnoses','Show Diagnoses?', 'userPref.prefVisitDiagnoses', ${ynvaluesList}, true,'13')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('prefVisitImages','Show Images?', 'userPref.prefVisitImages', ${ynvaluesList}, true,'14')}"></th:block>
        </fieldset>
    </details>
    <!-- Color schema Accordion -->
    <details name="color-scheme">
        <div id="content" role="document">
            <section>
                <h2>Theme color</h2>
                <article aria-label="Custom theme" class="color-picker component">
                    <header>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-red" data-discover="true" href="/docs/version-picker/red">
                            <svg class="icon-check" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" viewBox="0 0 24 24"
                                 width="24" xmlns="http://www.w3.org/2000/svg">
                                <style>
                                    path#check-icon {
                                        stroke-dasharray: 22px;
                                        stroke-dashoffset: 22px;
                                        animation: check 0.2s ease-out forwards;
                                    }

                                </style>
                                <path d="M5 12l5 5l10 -10" id="check-icon"></path>
                            </svg>
                        </a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-pink" data-discover="true" href="/docs/version-picker/pink"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-fuchsia" data-discover="true" href="/docs/version-picker/fuchsia"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-purple" data-discover="true" href="/docs/version-picker/purple"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-violet" data-discover="true" href="/docs/version-picker/violet"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-indigo" data-discover="true" href="/docs/version-picker/indigo"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-blue" data-discover="true" href="/docs/version-picker/blue"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-azure" data-discover="true" href="/docs/version-picker"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-cyan" data-discover="true" href="/docs/version-picker/cyan"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-jade" data-discover="true" href="/docs/version-picker/jade"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-green" data-discover="true" href="/docs/version-picker/green"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-lime" data-discover="true" href="/docs/version-picker/lime"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-yellow" data-discover="true" href="/docs/version-picker/yellow"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-amber" data-discover="true" href="/docs/version-picker/amber"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-pumpkin" data-discover="true" href="/docs/version-picker/pumpkin"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-orange" data-discover="true" href="/docs/version-picker/orange"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-sand" data-discover="true" href="/docs/version-picker/sand"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-grey" data-discover="true" href="/docs/version-picker/grey"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-zinc" data-discover="true" href="/docs/version-picker/zinc"></a>
                        <a aria-busy="false" aria-label="Purple" class="pico-background-slate" data-discover="true" href="/docs/version-picker/slate"></a>
                    </header>
                    <fieldset class="grid"><input aria-label="Login" autocomplete="username" name="login" placeholder="Login" type="text">
                        <input aria-label="Password" autocomplete="current-password" name="password" placeholder="Password" type="password">
                        <button type="submit">Log in</button>
                    </fieldset>
                    <fieldset>
                        <label>
                            <input checked="" name="switch" role="switch" type="checkbox"> I agree to the <a data-discover="true" href="/docs/version-picker/purple">Privacy Policy</a>
                        </label>
                    </fieldset>
                </article>
            </section>
        </div>
    </details>
</form>