<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{userpreferences.userpref}"></title>
</head>
<body>
<section layout:fragment="content">
    <article class="text-align-center">
        <form th:action="@{/vmas/index}" method="post">

            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('localMemberId','userpreferences.clinic', ${localMemberId}, ${localMembersList}, true,'1')}"
                      th:with="dataOnchange='this.form.submit();'"></th:block>
        </form>
        <H1 class="desktop-only">Press F11 to enable full screen mode. F11 again to return.</H1>
        <br/>
        <p><b>Clinic Notification:</b></p>
        <p th:utext="${comment}"></p>
    </article>
    <article>TODO
        <ul>
            <li>https://vmasapplication.nl/VMAS/appointment/editvisit.htm?appointmentId=1250545&callflag=customer&visitId=1067433</li>
            <li><pre><code> using localstorage to save state of checkboxes. Can be used to keep track of any state localle. Maybe push to backend on login/logout so on every computer it is the same....needs to be bound to person id then
                <!-- Inline script before any visible content -->
                    const CHECKBOX_STORAGE_KEY = "persistedCheckboxes";

                    // Load persisted states
                    const persistedStates = JSON.parse(localStorage.getItem(CHECKBOX_STORAGE_KEY) || "{}");

                    // Restore checkbox states immediately
                    document.querySelectorAll(".persist-checkbox").forEach(cb => {
                        if (persistedStates.hasOwnProperty(cb.id)) {
                            cb.checked = persistedStates[cb.id];
                        }

                        // Save state when checkbox changes
                        cb.addEventListener("change", () => {
                            persistedStates[cb.id] = cb.checked;
                            localStorage.setItem(CHECKBOX_STORAGE_KEY, JSON.stringify(persistedStates));
                        });
                    });

                <!-- Your page content -->
                <cx_input type="checkbox" class="persist-checkbox" id="chk1"> Checkbox 1<br>
                <cx_input type="checkbox" class="persist-checkbox" id="chk2"> Checkbox 2<br>
                <cx_input type="checkbox" class="persist-checkbox" id="chk3"> Checkbox 3<br>
</code></pre>
            </li>

            <li>https://ashok-khanna.medium.com/beautiful-pdfs-from-html-9a7a3c565404</li>
            <li>Check soap with large https://localhost:8443/consult/visit/customer/895/pet/1311/soap </li>
            <li><h1> Migration</h1></li>
            <li>sql file: sales_line_item estime line item, set costingId and print flag</li>

            <li><h1> Error handling</h1></li>
            <li>add LastPageIntercepter and ErrorHandler to redirect with error</li>
            <li>See if we can rollback batchnumber and spillage on delete</li>

            <li><h1> Financials</h1></li>
            <li>save lineitem in visit postLineItem</li>
            <li>set appointment total ex_tax, total_service_tax, total_goods_tax</li>
            <li>use appointment to calculate balance and other financials</li>

            <li><h1> Front end</h1></li>
            <li> fix action.html note</li>
            <li> Costing search: also on short code</li>
            <li> check usage of user  preferences</li>
            <li>add datatables.net inc responsive</li>
            <li>select::selectCheckBox( ensure it is using labels</li>
            <li> closeModal(modalId, isRefreshWanted, message) --> function: show message and wait .5sec -> close modal -> refresh page </li>
            <li>-------------------</li>
            <li><h1> Front end: Nice to have</h1></li>
            <li>color switch</li>
            <li>dark/light theme</li>
            <li>Scaling font</li>
            <li><h1>Dialog</h1></li>
            <li>create dialog layout and add css for header etc</li>
        </ul>
    </article>
</section>