<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{userpreferences.userpref}"></title>
</head>
<body>
<section layout:fragment="content">
    <article class="text-align-center">
        <form th:action="@{/vmas/index}" method="post">

            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('localMemberId','userpreferences.clinic', ${localMemberId}, ${localMembersList}, true,'1')}"
                      th:with="dataOnchange='this.form.submit();'"></th:block>
        </form>
        <H1 class="desktop-only">Press F11 to enable full screen mode. F11 again to return.</H1>
        <br/>
        <p><b>Clinic Notification:</b></p>
        <p th:utext="${comment}"></p>
    </article>
    <article>TODO
        <ul>
            <li>Check soap with large https://localhost:8443/consult/visit/customer/895/pet/1311/soap </li>
            <li><h1> Migration</h1></li>
            <li>sql file: sales_line_item estime line item, set costingId and print flag</li>

            <li><h1> Error handling</h1></li>
            <li>add LastPageIntercepter and ErrorHandler to redirect with error</li>
            <li>See if we can rollback batchnumber and spillage on delete</li>

            <li><h1> Financials</h1></li>
            <li>save lineitem in visit postLineItem</li>
            <li>set appointment total ex_tax, total_service_tax, total_goods_tax</li>
            <li>use appointment to calculate balance and other financials</li>

            <li><h1> Front end</h1></li>
            <li> fix action.html note</li>
            <li> Costing search: also on short code</li>
            <li> check usage of user  preferences</li>
            <li>add datatables.net inc responsive</li>
            <li>select::selectCheckBox( ensure it is using labels</li>
            <li> closeModal(modalId, isRefreshWanted, message) --> function: show message and wait .5sec -> close modal -> refresh page </li>
            <li>-------------------</li>
            <li><h1> Front end: Nice to have</h1></li>
            <li>color switch</li>
            <li>dark/light theme</li>
            <li>Scaling font</li>
        </ul>
    </article>
</section>