<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{userpreferences.userpref}"></title>
</head>
<body>
<section layout:fragment="content">
    <form th:action="@{/vmas/userpreferences}" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <fieldset>
            <legend th:text="#{userpreferences.general}"></legend>
            <fieldset class="grid">
                <button>color theme</button>
                <select>
                    <option>auto</option>
                    <option>dark</option>
                    <option>light</option>
                </select>
            </fieldset>

            <fieldset class="grid">
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('username', 'userpreferences.username', 'user.username', '1')}"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('email', 'userpreferences.email', 'user.email', '2')}"></th:block>
            </fieldset>
            <fieldset class="grid">
                <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('localMemberId', 'userpreferences.clinic', ${user.localMemberId}, ${localMembersList}, true,'3')}"></th:block>
                <th:block th:insert="~{fragments/elements/dropdown::propDropdown('language', 'userpreferences.language', ${user.language}, ${languageList}, true,'4')}"></th:block>
            </fieldset>

        </fieldset>
        <fieldset class="grid">
            <legend th:text="#{userpreferences.agenda}"></legend>
            <th:block
                    th:insert="~{fragments/elements/dropdown::dbDropdown('userPreferences.agendaVet1', 'userpreferences.agendavet1', ${userPreferences.agendaVet1},  ${staffList}, true,'5')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::dbDropdown('userPreferences.agendaVet2', 'userpreferences.agendavet2', ${userPreferences.agendaVet2}, ${staffList}, true,'6')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::dbDropdown('userPreferences.agendaVet3', 'userpreferences.agendavet3', ${userPreferences.agendaVet3},  ${staffList}, true,'7')}"></th:block>
        </fieldset>
        <fieldset class="grid">
            <legend th:text="#{userPreferences.customer}"></legend>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.searchCustStart','userpreferences.searchcuststart',${userPreferences.searchCustStart}, ${ynvaluesList}, true,'8')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.searchCustStreet','userpreferences.searchcuststreet',${userPreferences.searchCustStreet}, ${ynvaluesList}, true,'9')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.searchCustNameTelephone','userpreferences.searchcusttelephone',${userPreferences.searchCustStreet}, ${ynvaluesList}, true,'10')}"></th:block>
            <th:block
                    th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.searchCustPet','userpreferences.searchcustandpet',${userPreferences.searchCustStreet}, ${ynvaluesList}, true,'11')}"></th:block>
        </fieldset>

        <fieldset>
            <legend th:text="#{userPreferences.visit}"></legend>
            <div th:text="#{userpreferences.visit_explain}"></div>
            <br/>
            <fieldset class="grid">
                <div>
                    <th:block
                            th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.showvisittotal','userpreferences.showvisittotal', ${userPreferences.showVisitTotal}, ${ynvaluesList}, true,'12')}"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.showconsult','userpreferences.showconsult', ${userPreferences.showConsult}, ${ynvaluesList}, true,'14')}"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.showproducts','userpreferences.showproducts', ${userPreferences.showProducts}, ${ynvaluesList}, true,'16')}"></th:block>
                </div>
                <div>
                    <th:block
                            th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.showcustomerpet','userpreferences.showcustomerpet', ${userPreferences.showCustomerPet}, ${ynvaluesList}, true,'13')}"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.showanalyse','userpreferences.showanalyse', ${userPreferences.showAnalyse}, ${ynvaluesList}, true,'15')}"></th:block>
                    <th:block
                            th:insert="~{fragments/elements/dropdown::propDropdown('userPreferences.showdiagnoses','userpreferences.showdiagnoses', ${userPreferences.showDiagnoses}, ${ynvaluesList}, true,'17')}"></th:block>
                </div>
            </fieldset>
        </fieldset>
        <fieldset role="group">
            <a role="button" class='secondary' href="/admin/resetpassword" th:text="#{userPreferences.resetpassword}"></a>
            <th:block th:insert="~{fragments/elements/buttons::saveButtons()}"></th:block>
        </fieldset>
    </form>
    <div th:replace="~{/fragments/elements/debug}"></div>
</section>