<nav role="menu">
    <label data-role="burger"><input id="nav_checkbox" type="checkbox"/></label>
    <ul role="menubar">
    </ul>
    <ul role="menuitem">
        <li>
            <details class="dropdown">
                <summary>Admin</summary>
                <ul>
                    <li><a href="/admin/member">Member</a></li>
                    <li><a href="/admin/localmember">Local Member</a></li>
                    <li><a href="/admin/function">Function</a></li>
                    <li><a href="/admin/role">Role</a></li>
                    <li><a href="/admin/user">User</a></li>
                </ul>
            </details>
        </li>
<!--        <li>-->
<!--            <details class="dropdown">-->
<!--                <summary>Supplies & Inventory</summary>-->
<!--                <ul>-->
<!--                    <li><a href="/supplies/distributor">Distributor</a></li>-->
<!--                    <li><a href="/supplies/supplies">Supplies</a></li>-->
<!--                    <li><a href="/supplies/supplies">Inventory</a></li>-->
<!--                </ul>-->
<!--            </details>-->
<!--        </li>-->

        <li>
            <details class="dropdown">
                <summary>User</summary>
                <ul>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </details>
        </li>
        <li>
            <summary>&nbsp;</summary>
        </li>
    </ul>
</nav>