<th:block th:fragment="customerPetInfo(customer, pet, backbutton)" xmlns:th="http://www.w3.org/1999/html">
    <div class="grid">
        <div>
            <th:block th:if="${backbutton}">
                <a href="/sales/otc/search" role="button" th:text="#{label.button.back}"></a>
            </th:block>
            <th:block th:if="${!backbutton}">
                <th:block th:replace="~{::customerInfo}"/>
            </th:block>
        </div>
        <div>
            <th:block th:if="${backbutton}">
                <th:block th:replace="~{::customerInfo}"/>
            </th:block>
            <th:block th:if="${!backbutton}">
                <th:block th:replace="~{::petInfo}"/>
            </th:block>
        </div>
        <div>
            <th:block th:if="${backbutton}">
                <th:block th:replace="~{::petInfo}"/>
            </th:block>

            <th:block th:if="${pet != null}">
                <div>&nbsp;</div>
                <div th:classappend="${pet.insured.label == 'label.yesno.yes'} ? ' red-text' : ''">
                    <span class="mono">I:</span>
                    <span th:text="#{__${pet.insured.label}__}"></span>
                    <span th:if="${pet.insuredBy != null}" th:text="' (' + ${pet.insuredBy} + ')'"></span>
                </div>
                <div
                        th:classappend="${pet.allergies.label == 'label.yesno.yes'} ? ' red-text' : ''">
                    <span class="mono">A:</span>
                    <span th:text="#{__${pet.allergies.label}__}"></span>
                    <span th:if="${pet.allergiesDescription != null}"
                          th:text="' (' + ${pet.allergiesDescription} + ')'"></span>
                </div>
                <div th:classappend="${pet.gpwarning.label == 'label.yesno.yes'} ? ' red-text' : ''">
                    <span class="mono">D:</span>
                    <span th:text="#{__${pet.gpwarning.label}__}"></span>
                    <span th:if="${pet.gpwarningDescription != null}"
                          th:text="' (' + ${pet.gpwarningDescription} + ')'"></span>
                </div>
                <div th:text="#{pet.chipped} + ': '+  ${pet.chipTattooId ?: ''} + ' - ' + ${pet.chipDate != null ? #temporals.format(pet.chipDate, 'dd-MM-yyyy') : ''}"></div>
            </th:block>
        </div>
    </div>
</th:block>

<th:block th:fragment="customerInfo">
    <th:block th:if="${customer != null}">
        <h6 th:text="${customer.customerName} +' ('+ ${customer.id} + ' - '+ ${customer.status.databaseField} + ')'"></h6>
        <div
                th:text="${#strings.isEmpty(customer.email)} ? #{customer.email.no_email} : ${customer.email}"
                th:class="${#strings.isEmpty(customer.email)} ? 'red-text' : ''"></div>
        <div th:text="${customer.address2}+', '+ ${customer.address3}"></div>
        <div th:text="${customer.homePhone?:''}+', '+ ${customer.workPhone?:''}+', '+ ${customer.mobilePhone?:''}"></div>
    </th:block>
</th:block>
<th:block th:fragment="petInfo">
    <th:block th:if="${pet != null}">
        <h6 th:utext="${pet.nameWithDeceasedAndDate} "></h6>
        <div th:text="#{__${pet.sex.label}__}"></div>
        <div th:text="${#temporals.format(pet.birthday, 'dd-MM-yyyy')} +' ('+ ${pet.age}+')'"></div>
        <div th:text="${pet.idealWeight != null} ? #{pet.idealWeight} + ': ' + ${pet.idealWeight} : #{pet.idealWeight} + ': '"></div>
        <div class="grid" role="group">
            <div role="button">
                <span>History</span>
            </div>
            <div role="button">
                <span>SOAP</span>
            </div>
            <div role="button">
                <span>Add note</span>
            </div>
        </div>

    </th:block>
</th:block>