<th:block th:fragment="historySoapButtons">
    <div>
        <input type="button" class="secondary" name="_historyPet" th:value="#{label.otc.sell.history}">
    </div>
    <div>
        <input type="button" class="secondary" name="_soapPet" th:value="#{label.otc.sell.soap}">
    </div>
</th:block>

<th:block th:fragment="noneButtons">
</th:block>



<th:block th:fragment="visitStatusButtons">
    <div>
        <input type="button" class="secondary" name="_rescheduleApp" th:value="#{label.visit.reschedule}">
        <div class="grid">
            <input type="button" class="secondary" name="_cancelApp" th:value="#{label.visit.cancelapp}">
            <input type="button" class="secondary" name="_completeApp" th:value="#{label.visit.completeapp}">
        </div>

    </div>
    <div>
        <span> previous status</span>
    </div>
    <div>
        <span>  current status </span>
    </div>
    <div>
        <span>next status</span>
    </div>
    <div>
        <input type="button" class="secondary" name="_cancelApp" th:value="#{label.visit.saveSettings}">
        <input type="button" class="secondary" name="_completeApp" th:value="#{label.visit.statusflowOverview}">

    </div>
</th:block>