<th:block th:fragment="historySoapNoteButtons">
    <input type="button" class="secondary" th:value="#{label.otc.sell.history}" hx-confirm="Weet je zeker dat je deze patient wilt verwijderen?"
           hx-delete="/sales/otc/search/69945/sell/1247547/135625">
    <input type="button" class="secondary" th:value="#{label.otc.sell.soap}" hx-confirm="Weet je zeker dat je deze patient wilt verwijderen?" hx-delete="/sales/otc/search/69945/sell/1247547/135625">
    <input th:if="${salesType.isVisit}" type="button" class="secondary" th:value="#{label.otc.sell.note}"
           th:hx-get="'/consult/visit/customer/'+${visit.pet.customer.id}+'/pet/'+ ${visit.pet.id}+ '/note'"
           hx-target="#modal-container" hx-swap="innerHTML"/>
</th:block>


<th:block th:fragment="visitStatusButtons">
    <fieldset class="grid right-left-space">
        <div>
            <input th:if="${visit.status == T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).PLANNED}"
                   type="button" th:value="#{label.visit.reschedule}"
                   th:hx-get="'/consult/visit/'+ ${visit.id}+'/reschedule'" hx-target="#modal-container" hx-swap="innerHTML"/>
            <input th:if="${visit.status == T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).PAYMENT}"
                   type="button" th:value="#{label.visit.payment}"
                   th:hx-get="'/sales/visit/'+ ${visit.id}+'/payment'" hx-target="#modal-container" hx-swap="innerHTML"/>
        </div>
        <div>
            <form th:hx-post="'/consult/visit/'+${visit.id}+'/updatestatus/cancel'" method="post" hx-target="#updateVisitStatus" hx-swap="outerHTML">
                <button type="submit" class="secondary tigh" name="_cancelApp" th:text="#{label.visit.cancelapp}"></button>
            </form>
            <form th:hx-post="'/consult/visit/'+${visit.id}+'/updatestatus/complete'" method="post" hx-target="#updateVisitStatus" hx-swap="outerHTML">
                <button type="submit" class="secondary " name="_completeApp" th:text="#{label.visit.completeapp}"></button>
            </form>
        </div>
    </fieldset>
</th:block>


<th:block th:fragment="visitReactivateButtons">

    <form th:if="${userIsAllowed}" th:hx-post="'/consult/visit/'+${visit.id}+'/updatestatus/reactivate'" method="post" hx-target="#updateVisitStatus" hx-swap="outerHTML">
        <button type="submit" class="secondary tigh" name="_reactivateApp" th:text="#{label.visit.reactivateapp}"></button>
    </form>
    <button th:unless="${userIsAllowed}" type="submit" class="secondary tigh" name="_reactivateApp" th:text="#{label.visit.reactivateapp}" disabled></button>

</th:block>