<th:block th:fragment="petSelect(customer, pets, deceasedPets, postUrl, showPetLink, formName)">
    <script th:inline="javascript">
        function addEventListenersForPetSelect() {

            // Attach listener to all dropdowns starting with 'reasonList['  copy the purpose and check the checkbox
            document.querySelectorAll("select[id^='reasonList']").forEach(select => {
                select.addEventListener("change", function () {
                    const index = this.id.match(/\[(\d+)\]/)[1]; // extract index houseNumber

                    // Find matching input + checkbox
                    const purposeInput = document.getElementById(`formPet[${index}].purpose`);
                    const checkBox = document.getElementById(`formPet[${index}].checked`);
                    const purposeSelect = document.getElementById(`reasonList[${index}].reason`);

                    if (purposeInput) purposeInput.value = purposeSelect.options[purposeSelect.selectedIndex].text;
                    if (checkBox) checkBox.checked = true;
                    // now if we are creating an appointment, we need to handle the reason -> time setting
                    const timeFromReasonSelect = document.getElementById(`formPet[${index}].timeNeeded`);
                    if (timeFromReasonSelect) {
                        timeFromReasonSelect.value =
                            purposeSelect.options[purposeSelect.selectedIndex].dataset.element;
                    }
                });
            });
            // add to staff and room to set checkbox
            document.querySelectorAll("select[id^='formPet'][id$='.vet'], select[id^='formPet'][id$='.room']").forEach(select => {
                select.addEventListener("change", function () {
                    const index = this.id.match(/\[(\d+)\]/)[1]; // extract index houseNumber
                    // Find checkbox
                    const checkBox = document.getElementById(`formPet[${index}].checked`);
                    if (checkBox) checkBox.checked = true;
                })
            })

            // prevent submitting the form if no checkbox is checked
            document.getElementById([[${formName}]]).addEventListener("submit", function (e) {
                if (!document.querySelectorAll('input[type=checkbox]:checked').length) {
                    // @formatter:off
                    alert([[#{label.otc.pet.checkbox.error}]])
                    // @formatter:on
                    e.preventDefault();
                }
            });
        }
        document.addEventListener("DOMContentLoaded", addEventListenersForPetSelect);
    </script>
    <th:block th:if="${postUrl != ''}">
        <form id="createForm" th:action="${postUrl}" method="post">
    </th:block>
    <fieldset role="group">
        <legend>[[#{label.otc.petList}]]</legend>
        <table id="show-table" class="table-tight striped">
            <thead>
            <tr>
                <th>[[#{label.otc.add}]]</th>
                <th>[[#{label.otc.petName}]]</th>
                <th th:if="${postUrl == ''}" th:text="#{label.visit.timeNeeded}"></th>
                <th th:if="${postUrl == ''}" th:text="#{label.visit.vet}"></th>
                <th th:if="${postUrl == ''}" th:text="#{label.visit.room}"></th>
                <th>[[#{label.otc.reason}]]</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="pet, iStat : ${pets}">
                <tr>
                    <td>
                        <th:block th:insert="~{fragments/elements/select::selectCheckBox('formPet[' + ${iStat.index} + '].checked','','',${1+iStat.index})}"></th:block>
                    </td>
                    <td th:if="${showPetLink}"><a href=""
                                                  th:text="${pet.name} + ' (' + ${pet.species()} + ')'"
                                                  th:hx-get="'/customer/customer/'+${customer.id}+'/pet/'+ ${pet.id}"
                                                  hx-target="#modal-container" hx-swap="innerHTML"></a></td>
                    <td th:if="${!showPetLink}" th:text="${pet.name} + ' ('+ ${pet.species()}+')'"></td>

                    <td th:if="${postUrl == ''}">
                        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('formPet['+${iStat.index}+'].timeNeeded', '', '', ${timeList}, true, ${2+iStat.index})}" th:with="required=false"></th:block>
                    </td>
                    <td th:if="${postUrl == ''}">
                        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('formPet['+${iStat.index}+'].vet', '', '', ${staffList}, true, ${3+iStat.index})}" th:with="required=false"></th:block>
                    </td>
                    <td th:if="${postUrl == ''}">
                        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('formPet['+${iStat.index}+'].room', '', '', ${rooms}, true,${4+iStat.index})}" th:with="required=false"></th:block>
                    </td>

                    <input th:name="'formPet[' + ${iStat.index} + '].id'" th:value="${pet.id}" type="hidden"/>
                    <td>
                        <th:block th:insert="~{fragments/elements/dropdown::dbDropdownWithDataElement('reasonList['+${iStat.index}+'].reason', '', '', ${reasons}, true,'-1')}" th:with="required=false"></th:block>
                    </td>
                    <td>
                        <th:block th:insert="~{fragments/elements/input::inputHtmlLift('formPet['+${iStat.index}+'].purpose', 'label.title.purpose', '','-1')}" th:with="required=false"></th:block>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </fieldset>
    <details th:if="${!deceasedPets.isEmpty()}">
        <summary>
            [[#{label.otc.pet.deceased.showhide}]]
        </summary>
        <fieldset role="group">
            <table id="show-deceased-table" class="table-tight striped" th:if="${deceasedPets.size() > 0}">
                <thead>
                <tr>
                    <th>[[#{label.otc.add}]]</th>
                    <th>[[#{label.otc.petName}]]</th>
                    <th th:if="${postUrl == ''}" th:text="#{label.visit.timeNeeded}"></th>
                    <th th:if="${postUrl == ''}" th:text="#{label.visit.vet}"></th>
                    <th th:if="${postUrl == ''}" th:text="#{label.visit.room}"></th>
                    <th>[[#{label.otc.reason}]]</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="pet, iStat : ${deceasedPets}">
                    <tr>
                        <td>
                            <th:block th:insert="~{fragments/elements/select::selectCheckBox('formPet[' + ${pets.size() + iStat.index} + '].checked','','','1')}"></th:block>
                        </td>
                        <td th:text="${pet.name} + ' ('+ ${pet.species()}+')'"></td>


                        <td th:if="${postUrl == ''}">
                            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('formPet['+${iStat.index}+'].timeNeeded', '', '', ${timeList}, true,'1')}" th:with="required=false"></th:block>
                        </td>
                        <td th:if="${postUrl == ''}">
                            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('formPet['+${iStat.index}+'].vet', '', '', ${staffList}, true,'1')}" th:with="required=false"></th:block>
                        </td>
                        <td th:if="${postUrl == ''}">
                            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('formPet['+${iStat.index}+'].room', '', '', ${rooms}, true,'1')}" th:with="required=false"></th:block>
                        </td>

                        <input th:name="'formPet[' + ${pets.size() + iStat.index} + '].id'" th:value="${pet.id}" type="hidden"/>
                        <td>
                            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('reasonList['+${pets.size() + iStat.index}+']', '', '', ${reasons}, true,'1')}"
                                      th:with="required=false"></th:block>
                        </td>
                        <td>
                            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('formPet['+ ${pets.size() + iStat.index}+'].purpose', 'label.title.purpose', '','1')}"
                                      th:with="required=false"></th:block>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </fieldset>
    </details>
    <th:block th:if="${postUrl != ''}">
        <fieldset role="group">
            <input name="_save" type="submit" th:form="${formName}" th:value="#{label.button.next}"/>
        </fieldset>
        </form>
    </th:block>
</th:block>