<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.notes}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>
    <th:block
            th:insert="~{fragments/elements/pagetitle::pageTitleCreateThreePlusSave(${note.id}, #{label.title.notes},'/customer/customer/'+ ${customerId}+ '/notes', ${customerInformation})}"></th:block>

    <form id="createForm" th:action="'/customer/customer/'+${customerId}+'/note'" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <input id="id" name="id" th:value="${note.id}" type="hidden"/>
        <input id="version" name="version" th:value="${note.version}" type="hidden"/>

        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('pet','label.notes.petname', ${note.id}, ${petsList}, true,'1')}"></th:block>

            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('staffMember','label.notes.personnel', ${note.staffMember}, ${staffList}, true,'1')}"></th:block>
        </fieldset>


        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('noteDate','label.notes.notedate','note.noteDate','2')}" th:with="type='date'"></th:block>
        </fieldset>

        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('selectOnChange','label.notes.purpose.select', ${note.purpose}, ${purposeList}, true,'1')}"></th:block>

        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('purpose','label.notes.purpose','note.purpose','3')}"></th:block>
        </fieldset>
        <textarea cols="110" id="note" name="note" rows="8" th:utext="${note.note}"></textarea>
    </form>
    <th:block th:insert="~{fragments/elements/audit::audit('note.addedBy','note.addedOn', 'note.lastEditedBy', 'note.lastEditedOn')}"></th:block>
    <script>
        document.getElementById('selectOnChange').onchange = function () {
            document.getElementById('purpose').value = this.options[this.selectedIndex].text;
        }

    </script>
</section>
</body>
</html>