<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.reminder}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>

    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleListThree(#{label.title.notes},'/customer/customer/'+ ${customerId}+'/note', ${customerInformation})}"></th:block>

    <hr/>
    <div class="overflow-auto">
        <table id="show-table" data-no-export class=" striped">
            <thead>
            <tr>
                <th>[[#{label.notes.notedate}]]</th>
                <th>[[#{label.notes.petname}]]</th>
                <th>[[#{label.notes.purpose}]]</th>
                <th class="desktop-only">[[#{label.list.auditinfo}]]</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="note : ${notes}">
                <tr>
                    <td><a th:href="'/customer/customer/'+ ${customerId}+ '/notes/'+ ${note.id}"  th:attr="data-sort-value=${note.noteDate}" th:text="${#temporals.format(note.noteDate, 'dd-MM-yyyy')}"></a></td>
                    <td th:utext="${note.pet.nameWithDeceased}"></td>
                    <td th:utext="${note.notepurpose}"> </td>
                    <th:block
                            th:insert="~{fragments/elements/audit::lastEditedByOn_td(${note.addedBy},${note.addedOn},${note.lastEditedBy},${note.lastEditedOn})}"></th:block>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</section>