<input id="id" name="id" th:value="${note.id}" type="hidden"/>
<input id="version" name="version" th:value="${note.version}" type="hidden"/>

<fieldset class="grid">
        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('pet.id','label.notes.petname', ${note.pet.id}, ${petsList}, true,'1')}"></th:block>
        <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('staffMember','label.notes.personnel', ${note.staffMember}, ${staffList}, true,'1')}"></th:block>
        <th:block th:insert="~{fragments/elements/input::inputHtmlLift('noteDate','label.notes.notedate','note.noteDate','2')}" th:with="type='date'"></th:block>
    </div>
</fieldset>

<fieldset>
    <div>
    <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('selecPurposetOnChange','label.notes.purpose.select', ${note.notepurpose}, ${purposeList}, true,'1')}"></th:block>
    <!-- on the modal, there is another purpose field, so we need to have a different id here -->
    <th:block th:insert="~{fragments/elements/input::inputHtmlLift('purpose','label.notes.purpose','note.purpose','0')}"></th:block>
    <br/>
    <textarea cols="110" id="note" name="textnote" rows="8" required th:utext="${note.textnote}"></textarea>
    </div>
</fieldset>

<script>
    function setPurposeFillFromDropDown() {
        document.getElementById('selecPurposetOnChange').onchange = function () {
            document.getElementById('notepurpose').value = this.options[this.selectedIndex].text;
        }
    }

    setPurposeFillFromDropDown();
</script>