<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:test="#{user.title}"></title>
</head>
<body>
<section layout:fragment="content">

    <details id="reportRemindersInfo" open>
        <summary>
            <span th:text="#{label.user.input.title}"></span><a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/admin/user" title="More information"
                                                                class="emoji-icon">ℹ️</a>
        </summary>

        <th:block th:insert="~{fragments/elements/pagetitle::pageTitle(${user.id}, 'User','/admin/users')}"></th:block>
    </details>
    <form th:action="@{/admin/user}" method="post">

        <th:block th:insert="~{fragments/elements/buttons::saveButtons}"></th:block>

        <fieldset class="grid">
            <input id="id" name="id" th:value="${user.id}" type="hidden">
            <input id="version" name="version" th:value="${user.version}" type="hidden">
            <legend th:utext="#{user.details}"></legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('account','user.account', 'user.account','0')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('name','user.name', 'user.name','0')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('email','user.email', 'user.email','0')}" th:with="type='email'"></th:block>
        </fieldset>

        <fieldset class="grid">
            <legend th:utext="#{user.settings}"></legend>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('loginEnabled','user.loginEnabled', ${user.loginEnabled}, ${ynvaluesList}, true,'0')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('language','user.language', ${user.language}, ${languagePrefList}, true,'0')}"></th:block>
            <th:block
                    th:if="${applicationName != null and applicationName != 'teammover'}"
                    th:insert="~{fragments/elements/dropdown::propDropdown('personnelStatus','user.personnelStatus', ${user.personnelStatus}, ${personnelStatusList}, true,'0')}">
            </th:block>
            <th:block
                    th:if="${isSuperAdmin}"
                    th:insert="~{fragments/elements/dropdown::dbDropdown('member','user.member', ${user.member.id}, ${membersList}, true,'0')}">
            </th:block>
        </fieldset>
        <hr/>
        <fieldset>
            <div class="grid">
                <th:block th:insert="~{fragments/elements/select::selectCheckBoxList(${roles}, 'checkedRoles', 'Roles')}"></th:block>
            </div>
        </fieldset>
    </form>
    <form>
        <div class="grid">
            <table>
                <thead>
                <tr>
                    <th><a thx-get="" th:text="#{label.button.createnew}"></a></th>
                    <th>[[#{user.ipnumber}]]</th>
                </tr>

                </thead>
                <th:block th:if="${user.ipNumbers.size == 0}">
                    <tr><td colspan="2">No data</td></tr>
                </th:block>
                <th:block th:if="${user.ipNumbers.size != 0}" th:each="ipnumber : ${user.ipNumbers}">
                    <tr>
                        <td>delete|edit</td>
                        <td th:text="${ipnumber}"></td>
                    </tr>
                </th:block>
            </table>

        </div>

    </form>

</section>