<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:test="#{user.title}"></title>
</head>
<body>
<section layout:fragment="content">

    <details id="reportRemindersInfo" open>
        <summary>
            <span th:text="#{label.user.input.title}"></span><a href="" hx-target="#modal-container" hx-swap="innerHTML" hx-get="/info/admin/user"
                                                                th:title="#{label.more.information}"
                                                                class="emoji-icon">ℹ️</a>
        </summary>

        <th:block th:insert="~{fragments/elements/pagetitle::pageTitle(${user.id}, 'User','/admin/users')}"></th:block>
    </details>
    <form th:action="@{/admin/user}" method="post">

        <th:block th:insert="~{fragments/elements/buttons::saveButtons}"></th:block>

        <fieldset class="grid">
            <input id="id" name="id" th:value="${user.id}" type="hidden">
            <input id="version" name="version" th:value="${user.version}" type="hidden">
            <legend th:utext="#{user.details}"></legend>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('account','user.account', 'user.account','0')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('name','user.name', 'user.name','0')}"></th:block>
            <th:block th:insert="~{fragments/elements/input::inputHtmlLift('email','user.email', 'user.email','0')}" th:with="type='email'"></th:block>
        </fieldset>

        <fieldset class="grid">
            <legend th:utext="#{user.settings}"></legend>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('loginEnabled','user.loginEnabled', ${user.loginEnabled}, ${ynvaluesList}, true,'0')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::propDropdown('language','user.language', ${user.language}, ${languagePrefList}, true,'0')}"></th:block>
            <th:block
                    th:if="${applicationName != null and applicationName != 'teammover'}"
                    th:insert="~{fragments/elements/dropdown::propDropdown('personnelStatus','user.personnelStatus', ${user.personnelStatus}, ${personnelStatusList}, true,'0')}">
            </th:block>
            <th:block
                    th:if="${isSuperAdmin}"
                    th:insert="~{fragments/elements/dropdown::dbDropdown('member','user.member', ${user.member.id}, ${membersList}, true,'0')}">
            </th:block>
        </fieldset>
        <hr/>
        <fieldset>
            <div class="grid">
                <th:block th:insert="~{fragments/elements/select::selectCheckBoxList(${roles}, 'checkedRoles', 'Roles')}"></th:block>
            </div>
        </fieldset>
    </form>
    <hr/>
    <th:block th:replace="~{this::editIpNumber(ipNumberParts=${ipNumberParts})}"></th:block>
    <hr/>
    <form>
        <th:block th:replace="~{this::bodyTableIpNumbers}"></th:block>
    </form>
</section>
</body>
</html>

<th:block th:fragment="bodyTableIpNumbers">
    <table id="IpNumbers">
        <thead>
        <tr>
            <th></th>
            <th>[[#{user.ipnumber}]]</th>
        </tr>

        </thead>
        <th:block th:if="${user.ipNumbers.size == 0}">
            <tr>
                <td colspan="2">No data</td>
            </tr>
        </th:block>
        <th:block th:if="${user.ipNumbers.size != 0}" th:each="ipnumber : ${user.ipNumbers}">
            <th:block th:replace="~{this::readonlyIpNumber(ipNumber=${ipnumber})}"></th:block>
        </th:block>
    </table>
</th:block>
<th:block th:fragment="readonlyIpNumber(ipNumber)">
    <tr>
        <td class="no-sorting">
            <a th:hx-delete="'/admin/user/'+ ${user.id}+ '/ipnumber/' + ${ipNumber.id}" hx-target="closest tr" hx-swap="outerHTML">🗑️️️</a>
            <a th:hx-get="'/admin/user/'+ ${user.id}+ '/ipnumber/' + ${ipNumber.id}" hx-target="closest tr" hx-swap="outerHTML">✏️️</a>
        </td>
        <td th:text="${ipNumber.ipnumber}"></td>
    </tr>
</th:block>

<th:block th:fragment="editTrIpNumber">
    <tr>
        <td>
            <th:block th:replace="~{this::editIpNumber(ipNumberParts=${ipNumberParts})}"></th:block>
        </td>
    </tr>
</th:block>

<th:block th:fragment="editIpNumber(ipNumberParts)">
    <label th:text="#{user.ipnumber.add}"></label>
    <form th:hx-post="'/admin/user/'+ ${user.id} +'/ipnumber'" hx-trigger="click from:#btn" hx-on:htmx:beforeRequest="if (!validate()) event.preventDefault()">
        <div class="grid">
            <input id="one" name="numberOne" tabindex="0" type="number" min="0" max="255" th:value="${ipNumberParts.getNumberOne()}" placeholder="" autocomplete="off" required="required">
            <input id="two" name="numberTwo" tabindex="0" type="number" min="0" max="255"  th:value="${ipNumberParts.getNumberTwo()}" placeholder="" autocomplete="off" required="required">
            <input id="three" name="numberThree" tabindex="0" type="number" min="0" max="255"  th:value="${ipNumberParts.getNumberThree()}" placeholder="" autocomplete="off" required="required">
            <input id="four" name="numberFour" tabindex="0" type="number" min="0" max="255"  th:value="${ipNumberParts.getNumberFour()}" placeholder="" autocomplete="off" required="required">
            <button id="btn" th:text="#{label.button.save}" hx-confirm=" " onclick="validate()"></button>
        </div>
        <script>
            function validate() {
                if (document.getElementById('one').value != '' &&
                    document.getElementById('two').value != '' &&
                    document.getElementById('three').value != '' &&
                    document.getElementById('four').value != '') {
                    return true
                } else {
                    alert('all four fields should be filled')
                    return false
                }
            }
        </script>
</th:block>