<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>Gebruikers lijst</title>
</head>
<body>
<section layout:fragment="content">
<th:block th:insert="~{fragments/elements/pagetitle::pageTitleList('User','/admin/user')}"></th:block>

<table id="user-table">
    <thead>
    <tr>
        <th>Account name</th>
        <th>Name</th>
        <th>Email</th>
        <th>Login enabled</th>
        <th>Language</th>
        <th>Personnel Status</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td><a th:href="@{'/admin/user/'+ ${user.id}}">[[${user.account}]]</a></td>
            <td>[[${user.name}]]</td>
            <td>[[${user.email}]]</td>
            <td>[[${user.loginEnabled}]]</td>
            <td>[[${user.language}]]</td>
            <td>[[${user.personnelStatus}]]</td>
        </tr>
    </th:block>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
    </tr>
    </tfoot>
</table>
<script>
    var table = new Tabulator("#user-table",
        {
            columns: [ //set column definitions for imported table data
                {title: "Account name", formatter: "html", sorter: function (a, b) {
                        var textA = a.replace(/<[^>]*>?/gm, '').trim().toLowerCase();
                        var textB = b.replace(/<[^>]*>?/gm, '').trim().toLowerCase();
                        return textA.localeCompare(textB);
                    }
                }]
        });
</script>
</section>