<th:block th:insert="~{fragments/page/header}"></th:block>

<th:block th:insert="~{fragments/page/errors}"></th:block>
<th:block th:insert="~{fragments/page/message}"></th:block>

<th:block th:insert="~{fragments/elements/pagetitle::pageTitle(${role.id}, 'Role','/role/list')}"></th:block>

<form action="/role" method="post" name="form">
    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <th:block th:insert="~{fragments/elements/buttons::saveAndNewButtons}"></th:block>

    <fieldset class="grid" role="presentation">
        <input id="id" name="role.id" th:value="${role.id}" type="hidden"/>
        <input id="version" name="role.version" th:value="${role.version}" type="hidden"/>

        <th:block th:insert="~{fragments/elements/input::inputHtml('role.name','Role name', 'role.name', '1')}"></th:block>
    </fieldset>
    <hr/>
    <th:block th:insert="~{fragments/elements/select::selectCheckBoxList(${functions},'Functions', 'checkedFunctions', '2')}"></th:block>
</form>