<th:block th:replace="~{fragments/page/header}"></th:block>

<th:block th:insert="~{fragments/elements/pagetitle::pageTitleList('Supply','/supplies')}"></th:block>

<style>
    .colgroup {
        width: 100%

    }
</style>

<table id="show-table">
    <thead>
    <tr>
        <th>Nomenclature</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="supply : ${supplies}">
        <tr>
            <td><a th:href="@{'/supplies/'+ ${supply.id}}">[[${supply.nomenclature}]]</a></td>
        </tr>
   </th:block>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
    </tr>
    </tfoot>
</table>
<script>
    var table = new Tabulator("#show-table",
        {
            layout: "fitColumns",
            responsiveLayout: "collapse",
            columns: [ //set column definitions for imported table data
                {title: "Nomenclature", formatter: "html"}
            ]
        });
</script>