<!DOCTYPE html>
<html lang="nl" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport"/>
    <meta content="light dark" name="color-scheme">

    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">

    <title>Template title</title>
    <link th:href="@{/images/favicon.svg}" rel="icon" type="image/x-icon"/>

    <link th:href="@{/lib/pico/pico.amber.min.css}" rel="stylesheet"/>
    <link th:href="@{/lib/pico/pico.colors.min.css}" rel="stylesheet"/>
    <link th:href="@{/lib/tabulator/tabulator-materialize.css}" rel="stylesheet"/>

    <link th:href="@{/lib/ownstyle/hamburger.css}" rel="stylesheet"/>
    <link th:href="@{/lib/ownstyle/style.css}" rel="stylesheet"/>

    <!-- javascript -->
    <script th:src="@{/lib/tabulator/tabulator.js}" type="text/javascript"></script>
    <script th:src="@{/lib/htmx/htmx.js}" type="text/javascript"></script>
    <script th:src="@{/lib/htmx/ext/path-params.js}" type="text/javascript"></script>
    <script th:src="@{/lib/pico/modal.js}" type="text/javascript"></script>
    <script th:src="@{/lib/pico/themeswitcher.js}" type="text/javascript"></script>
    <script th:src="@{/lib/js/addcsrf.js}" type="text/javascript"></script>

</head>
<body>

<noscript>This app is not going to fly without javascript</noscript>

<div class="container-fluid wrapper">
    <th:block th:if="${errors != null and errors.size() > 0}">
        <fieldset>
            <legend>Errors</legend>
            <th:block th:each="error: ${errors}">
                <span th:text="${error.field}"></span>&nbsp;<span th:text="${error.defaultMessage}"></span><br/>
            </th:block>
        </fieldset>
    </th:block>

    <th:block th:if="${T(dwe.holding.admin.security.AutorisationUtils).isLoggedIn()}">
        <header>
            <div th:replace="~{navigation}"></div>
        </header>
    </th:block>
    <main>
        <th:block id="content" layout:fragment="content"></th:block>
    </main>
    <footer>
        <p>
            <th:block th:if="${applicationName != null}">
                <a th:href="'/'+${applicationName}+'/userpreferences'">preferences</a>
            </th:block>
            <th:block th:if="${T(dwe.holding.admin.security.AutorisationUtils).isLoggedIn() and T(dwe.holding.admin.security.AutorisationUtils).hasRole('PLANNER')}">
                <a th:href="'/admin/user'">administration</a>
            </th:block>
            <br/>
            <th:block th:if="${T(dwe.holding.admin.security.AutorisationUtils).isLoggedIn()}">
                <a th:href="'/customer/preferences/user'" th:text="'loggedin User:' + ${T(dwe.holding.admin.security.AutorisationUtils).getCurrentUserAccount()}"></a>
            </th:block>
            DWE Holding &copy;
        </p>
    </footer>
    <div id="modal-container"></div>
</div>
<div th:replace="~{/fragments/elements/sessiontimeout}"></div>
<div th:replace="~{/fragments/elements/message}"></div>
</body>
</html>