<nav>
    <ul>
        <li><strong>Acme Corp</strong></li>
    </ul>
    <ul>
        <li><a href="#" class="secondary">Services</a></li>
        <li>
            <details class="dropdown">
                <summary>
                    Menu Options
                </summary>
                <ul dir="rtl">
                    <li><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Financieel</b></i></li>
                    <li>
                        <ul dir="rtl">
                            <li><a href="#">kleine kas</a></li>
                            <li><a href="#">betalingen</a></li>
                            <li><a href="#">verzameling</a></li>
                        </ul>
                    </li>
                    <li><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Producten</b></i></li>
                    <li>
                        <ul dir="rtl">
                            <li><a href="#">distributor</a></li>
                            <li><a href="#">prijzen</a></li>
                            <li><a href="#">prodcuten</a></li>
                        </ul>
                    </li>
                    <li><i><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Financieel</b></i></li>
                    <li>
                        <ul dir="rtl">
                            <li><a href="#">kleine kas</a></li>
                            <li><a href="#">betalingen</a></li>
                            <li><a href="#">verzameling</a></li>
                        </ul>
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</nav>