<th:block th:fragment="audit(addedBy,addedOn,lastEditedBy,lastEditedOn)">
    <fieldset>
        <legend>[[#{label.audit.info}]]</legend>
        <div>
            <span th:with="label=#{label.audit.addedbyOn}" th:utext="${label + ': ' +  __${addedBy}__}"></span>&nbsp;<small
                th:utext="${'(' + #temporals.format(__${addedOn}__, 'yyyy-MM-dd''T''HH:mm') + ')'}"></small>
            <span th:with="label=#{label.audit.lasteditedbyOn}" th:utext="${label + ': ' + __${lastEditedBy}__}"></span>&nbsp;
            <small th:utext="${'(' + #temporals.format(__${lastEditedOn}__, 'yyyy-MM-dd''T''HH:mm') + ')'}"></small>
        </div>
    </fieldset>
</th:block>

<th:block th:fragment="auditWithButtons(addedBy,addedOn,lastEditedBy,lastEditedOn)">
    <div class="fourcolumn-spread">
        <div class="one">
            <th:block th:replace="~{this::audit(addedBy,addedOn,lastEditedBy,lastEditedOn)}"></th:block>
        </div>
        <div class="two">
        </div>
        <div class="three">
            <a role="button" class="outline" th:href="${link}" th:text="#{label.list}"></a>
        </div>
        <div class="four">
            <button type="submit"  name="submitButton" value="_save" form="createForm" th:text="#{label.button.save}"/>
        </div>
    </div>
</th:block>

<th:block th:fragment="lastEditedByOn_td(addedBy,addedOn,lastEditedBy,lastEditedOn)">
    <td class="desktop-only">
        <small th:data-tooltip="#{label.audit.createby}+${addedBy}+#{label.audit.on}+${#temporals.format(addedOn, 'dd-MM-yy')}">
            [[${lastEditedBy}]] • [[${#temporals.format(lastEditedOn, 'dd-MM-yy')}]]
        </small>
    </td>
</th:block>