<th:block th:fragment="audit(addedBy,addedOn,lastEditedBy,lastEditedOn)">
            <fieldset>
                <legend>[[#{label.audit.info}]]</legend>
                <span>[[#{label.audit.addedbyOn}]]: [[${__${addedBy}__}]]&nbsp;<span><small>([[${__${addedOn}__}]])</small></span></span>
                <span>[[#{label.audit.lasteditedbyOn}]]: [[${__${lastEditedBy}__}]]&nbsp;<span><small>([[${__${lastEditedOn}__}]])</small></span></span>
            </fieldset>
</th:block>

<th:block th:fragment="auditWithButtons(addedBy,addedOn,lastEditedBy,lastEditedOn)">
    <div class="fourcolumn-spread">
        <div class="one">
            <fieldset>
                <legend>[[#{label.audit.info}]]</legend>
                <span>[[#{label.audit.addedbyOn}]]: [[${__${addedBy}__}]]&nbsp;<span><small>([[${__${addedOn}__}]])</small></span></span>
                <span>[[#{label.audit.lasteditedbyOn}]]: [[${__${lastEditedBy}__}]]&nbsp;<span><small>([[${__${lastEditedOn}__}]])</small></span></span>
            </fieldset>

        </div>
        <div class="two">
        </div>
        <div class="three">
            <a role="button" class="outline" th:href="${link}" th:text="#{label.list}"></a>
        </div>
        <div class="four">
            <input type="submit" form="createForm" th:value="#{label.button.save}"/>
        </div>
    </div>
</th:block>

<th:block th:fragment="lastEditedByOn_td(addedBy,addedOn,lastEditedBy,lastEditedOn)">
<td class="desktop-only">
    <small th:data-tooltip="#{label.audit.createby}+${addedBy}+#{label.audit.on}+${#temporals.format(addedOn, 'dd-MM-yy')}">
        [[${lastEditedBy}]] • [[${#temporals.format(lastEditedOn, 'dd-MM-yy')}]]
    </small>
</td>
</th:block>