<th:block th:fragment="dbDropdown(name, label, dbFieldValue, list, required, tabindex)" th:with=" isPleaseChoose=${isPleaseChoose}?:true, dataOnChange=${dataOnchange}?:${dataOnchange}">
    <th:block th:if="${list.size() > 0}">
        <th:block th:if="${label != ''}">
            <label th:for="${name}" th:value="${label}">[[#{${label}}]]
        </th:block>
        <select th:id="${name}" th:name="${name}" th:required="${required}" th:tabindex="${tabindex}" th:attr="onchange=${dataOnChange}">
            <th:block th:unless="${list.size() == 1}">
                <option th:if="${isPleaseChoose}" disabled readonly selected="true" value="" th:text="#{label.choose}"></option>
            </th:block>
            <th:block th:each="element : ${list}">
                <th:block th:if="${dbFieldValue == null || dbFieldValue == ''}">
                    <option th:utext="${element.name}" th:value="${element.id}"></option>
                </th:block>
                <th:block th:unless="${dbFieldValue == null || dbFieldValue == ''}">
                    <option th:selected="${#strings.equals(dbFieldValue, element.id)}" th:utext="${element.name}" th:value="${element.id}"></option>
                </th:block>
            </th:block>
        </select>
        <th:block th:if="${label != ''}">
            </label>
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="dbDropdownWithDataElement(name, label, dbFieldValue, list, required, tabindex)" th:with="dataOnChange=${dataOnchange}?:${dataOnchange}">
    <th:block th:if="${list.size() > 0}">
        <th:block th:if="${label != ''}">
            <label th:for="${name}" th:value="${label}">[[#{${label}}]]
        </th:block>

        <select th:id="${name}" th:name="${name}" th:required="${required}" th:tabindex="${tabindex}" th:attr="onchange=${dataOnChange}">
            <th:block th:if="${list.size() == 1}">
                <option selected th:Utext="${list[0].name}" th:value="${list[0].id}"></option>
            </th:block>
            <th:block th:unless="${list.size() == 1}">
                <option disabled readonly selected="true" value="" th:text="#{label.choose}"></option>
            </th:block>
            <th:block th:each="element : ${list}">
                <th:block th:if="${dbFieldValue == null || dbFieldValue == ''}">
                    <option th:data-element="${element.dataField}" th:utext="${element.name}" th:value="${element.id}"></option>
                </th:block>
                <th:block th:unless="${dbFieldValue == null || dbFieldValue == ''}">
                    <option th:data-element="${element.dataField}" th:selected="${#strings.equals(dbFieldValue, element.id)}" th:utext="${element.name}" th:value="${element.id}"></option>
                </th:block>
            </th:block>
        </select>
        <th:block th:if="${label != ''}">
            </label>
        </th:block>
    </th:block>
</th:block>


<th:block th:fragment="dbDropdownMultiSelect(name, label, dbField, list, required, tabindex)">
    <!-- Checkboxes -->
    <details class="dropdown">
        <summary th:text="${label}"></summary>
        <ul>
            <th:block th:each="element : ${list}">
                <li><label><input type="checkbox" th:name="${element.id}"/>[[${element.name}]]</label></li>
            </th:block>
        </ul>
    </details>
</th:block>

<th:block th:fragment="propDropdown(name, label, dbFieldValue, list, required, tabindex)">
    <th:block th:if="${label != ''}">
        <label th:for="${name}" th:value="${label}">[[#{${label}}]]
    </th:block>
    <select th:id="${name}" th:name="${name}" th:required="${required}" th:tabindex="${tabindex}">

        <th:block th:if="${list.size() == 1}">
            <option selected th:text="${list[0].name}" th:value="${list[0].id}"></option>
        </th:block>

        <th:block th:unless="${list.size() == 1}">
            <!--                <option disabled readonly th:selected="${__${dbField}__} == null" value="" th:text="#{label.choose}"/>-->
            </option>
            <th:block th:each="element : ${list}">
                <option th:selected="${#strings.equals(dbFieldValue, element.name)}" th:text="#{${element.label}}" th:value="${element.name}"></option>
            </th:block>
        </th:block>
    </select>
    <th:block th:if="${label != ''}">
        </label>
    </th:block>
</th:block>


<th:block th:fragment="dbDropdownAutocomplete(name, label, dbFieldValue, list, required, tabindex)">
    <!-- ensure to have javascript with name dropdownWithDtaList available so we can call the function -->
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', () => {
            dropdownWithDataList(
                document.getElementById([[${name}]] + '_input'),
                document.getElementById([[${name}]] + '_hidden'),
                document.getElementById([[${name}]])
            )
        })
    </script>
    <th:block th:if="${label != ''}">
        <label th:for="${name}+ '_input'" th:value="${label}">[[#{${label}}]]
    </th:block>
    <input th:id="${name}+'_input'" th:name="${name}+'_input'" th:list="${name}" autocomplete="off" required>
    <input type="hidden" th:id="${name}+'_hidden'" th:name="name+'_hidden'">
    <datalist th:id="${name}">
        <th:block th:each="element : ${list}">
            <option th:value="${element.name}" th:data-id="${element.id}"></option>
        </th:block>
    </datalist>
    <th:block th:if="${label != ''}">
        </label>
    </th:block>

</th:block>