<th:block th:fragment="message()">
<!-- notification message with fadein fadeout -->
<div id="notification-message" class="notification-message box alert-success" role="alert"
     th:classappend="${messageClass}" th:text="${message != null} ? #{${message}} : ''"></div>

<script>
    function messageDisplay(messageText) {
        const element = document.querySelector('.notification-message')
        console.log("show message if it is there")
        console.log(element)
        if (messageText) element.textContent = messageText;
        if (element.textContent.length !== 0) {
            console.log("show message it is there")
            element.classList.add('show');
            setTimeout(function () {
                console.log("remove message")
                element.classList.remove('show');
            }, 1600)
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        console.log("show message")
        messageDisplay();
    });
    // From the backend push a message for e.g. after save
    document.body.addEventListener("messageDisplay", function (event) {
        console.log('sow the message to display: '+event.data);
        messageDisplay(event.detail.messageText);
    });
</script>
</th:block>
