<!-- notification message with fadein fadeout -->
<div  id="notification-message" class="notification-message box alert-success" role="alert"
         th:classappend="${messageClass}" th:text="${message != null} ? #{${message}} : ''"></div>


<script>
    function messageDisplay(messageText) {
        const element = document.querySelector('.notification-message')
        if (messageText) element.textContent = messageText;
        if (element.textContent.length !== 0) {
            element.classList.add('show');
            setTimeout(function () {
                element.classList.remove('show');
            }, 1600)
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        messageDisplay();
    });
</script>