<th:block th:fragment="selectCheckBoxList(groups, dbField, tabindex)">
    <th:block th:each="group : ${groups}">
        <fieldset class="grid" role="presentation">
            <label th:each="record : ${group}" th:for="${'rec-' + record.id}">[[${record.name}]]
                <input role="switch"
                       th:checked="${record.connected}"
                       th:id="${'rec-' + record.id}"
                       th:name="${dbField}"
                       th:tabindex="${tabindex}"
                       th:value="${record}"
                       type="checkbox"/>
            </label>
        </fieldset>
    </th:block>
</th:block>

<th:block th:fragment="selectCheckBox(name, label, dbField, tabindex)" th:with="tooltip=${tooltip}?:''">
    <label th:for="${name}">
        <input role="switch"
               th:checked="${__${dbField}__}"
               th:id="${name}"
               th:name="${name}"
               th:tabindex="${tabindex}" type="checkbox"/><span class="no-break">[[${label}]]</span></label>
</th:block>

<th:block th:fragment="checkBox(name, label, dbField, tabindex)" th:with="tooltip=${tooltip}?:''">
    <label th:for="${name}">
        <input th:checked="${__${dbField}__}"
               th:data-tooltip="${tooltip}"
               th:id="${name}"
               th:name="${name}"
               th:tabindex="${tabindex}" type="checkbox"/>
        <span class="no-break">[[${label}]]</span>
    </label>
</th:block>

<th:block th:fragment="multipleSwitch(records, dbField, tabindex)">
    <div class="switch-toggle switch-candy">
        <th:block th:each="record : ${records}">
            <input th:checked="${#strings.equals(record.name, __${dbField}__)}"
                   th:id="${dbField+'_'+record.name}"
                   th:name="${#strings.arraySplit(dbField,'.')[1]}"
                   th:tabindex="${tabindex}"
                   th:value="${record}"
                   type="radio"/>
            <label th:for="${dbField+'_'+record.name}" th:text="#{${record.label}}">standaard text</label>
        </th:block>
        <a href=""></a>
    </div>
</th:block>