<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <title>Gelukt!</title>
</head>
<body>
<section layout:fragment="content">
    <article>
        <header><h1 style="text-align: center">Done it!</h1></header>
        <h5  style="text-align: center"  data-th-utext="${successAction}"></h5>
        <center>
        <img align="middle" th:src="@{${imagesrc}}" alt="happy"/>
        </center>
        <footer>
            <form th:action="@{/cartracker/trip}" method="GET">
                <input name="_save" type="submit" value="Another one?" >
            </form>
        </footer>
    </article>
</main>
</section>