<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.visit}]]</title>
</head>
<body>
<section layout:fragment="content">
<!--    <th:block th:insert="~{consult-module/fragments/statusColour::statusColour()}"></th:block>-->

    <fieldset class="grid">
        <div>
            <button class="button-secondary">reschedule</button>
            <button class="button-secondary">Cancel</button>
            <button class="button-secondary">Complete</button>
        </div>
        <div>
            <fieldset>
                <fieldset role="group">
                    <span>invoice</span>
                    <th:block th:insert="~{fragments/elements/select::selectCheckBox('invoice','','','2')}" th:with="tooltip='invoice (checked) or receipt'"></th:block>
                    <span>receipt</span>
                </fieldset>

                <fieldset role="group">
                    <span>&nbsp;&nbsp;per&nbsp;&nbsp;</span>
                    <th:block th:insert="~{fragments/elements/select::selectCheckBox('single','','','3')}" th:with="tooltip='pet (checked) or all'"></th:block>
                    <span>&nbsp;&nbsp;all&nbsp;&nbsp;</span>
                </fieldset>
                <fieldset role="group">
                    <button class="button-secondary">Print</button>
                </fieldset>
            </fieldset>
        </div>
        <div>
            <button class="button-secondary"></button>
            <button class="button-secondary">Ready for checkout</button>
            <button class="button-secondary">Ready to pay</button>
        </div>
    </fieldset>

    <details open>
        <summary>stuff</summary>
        <h1>TODO: afspraken volgorde lijst</h1>
    </details>

    <details open>
        <summary th:text="#{visit.customerinfo.title}"></summary>
        <th:block th:insert="~{sales-module/fragments/customerpetinfo::customerPetInfo(${customer}, ${visit.pet}, false)}"></th:block>
    </details>
    <form id="visitForm" method="post">
        <input name="visit.id" th:value="${visit.id}" type="hidden"/>
        <input name="visit.version" th:value="${visit.version}" type="hidden"/>
        <details open>
            <summary th:text="#{visit.info.title}"></summary>
            <fieldset class="grid">
                <th:block th:with="extras=~{sales-module/fragments/extrabuttons::noneButtons}">
                    <th:block
                            th:insert="~{sales-module/fragments/petdropdownandbuttons::petDropDownAndButtons(${petsOnAppointment}, ${visit.pet}, ${customer}, ${appointment}, ${extras})}"></th:block>
                </th:block>
            </fieldset>
            <fieldset class="grid" style="margin-top: 1rem">
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('purpose','visit.purpose','visit.purpose','1')}"></th:block>
            </fieldset>
            <fieldset class="grid">
                <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('veterinarian','visit.staff',${visit.veterinarian}, ${staffList}, false, '3')}"></th:block>
                <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('room','visit.room',${visit.room}, ${rooms}, false, '6')}"></th:block>
                <th:block th:insert="~{fragments/elements/dropdown::propDropdown('sentToInsurance','visit.insurance',${visit.sentToInsurance}, ${ynvaluesList}, false, '4')}"></th:block>
            </fieldset>

            <fieldset class="grid">
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('weight','visit.weight','visit.weight','2')}" th:with="postfix='Kg',required=false"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('temperature','visit.temperature','visit.temperature','5')}" th:with="postfix='°C',required=false"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtmlLift('glucose','visit.glucose','visit.glucose','7')}" th:with="postfix='mmol/L',required=false"></th:block>
            </fieldset>

            <th:block th:insert="~{/consult-module/fragments/templatelocalmemberpref::template('template', ${templates})}"></th:block>
            <button name="_save" type="submit" form="visitForm" th:text="#{label.button.save}"></button>
            <th:block th:insert="~{fragments/elements/audit::audit('visit.addedBy','visit.addedOn', 'visit.lastEditedBy', 'visit.lastEditedOn')}"></th:block>
        </details>

    </form>

    <details open>
        <summary th:text="#{visit.info.title}"></summary>
        <h1> Analyse gegevens</h1>
    </details>

    <details open>
        <summary th:text="#{label.otc.legend.lineitems}"></summary>

        <table class="table-tight">
            <thead>
            <tr>
                <th></th>
                <th class="left" th:text="#{label.otc.sell.description}"></th>
                <th class="desktop-only left" th:text="#{label.otc.sell.category}"></th>
                <th class="right" th:text="#{label.otc.sell.amount}"></th>
                <th class="desktop-only right" th:text="#{label.otc.sell.cost}"></th>
                <th class="desktop-only right" th:text="#{label.otc.sell.cost}"></th>
                <th class="desktop-only right" th:text="#{label.otc.sell.taxed}"></th>
                <th class="right" th:text="#{label.otc.sell.total}"></th>
                <th class="center">
                    <svg class="svg-icon">
                        <use href="/lib/tabler-icons-3_35_0/icons/outline/printer.svg"></use>
                    </svg>
                </th>
            </tr>
            </thead>
            <!-- body and footer -->
            <th:include th:replace="~{sales-module/fragments/htmx/lineitemsoverview}"></th:include>
        </table>
        <div id="replacePartForCostingSearch"
             th:replace="~{supplies-module/fragments/costing/costingSearch::costingSearch(true)}"></div>
    </details>
    <details open>
        <summary th:text="#{label.consult.legend.diagnose}"></summary>
        <div id="replaceDiagnose" th:replace="~{consult-module/fragments/diagnose::diagnose()}"></div>
    </details>
</section>