<th:block th:if="${isAnalyseItemsFromDb}">
    <form id="analyseForm" hx-ext="debug" th:hx-post="'/consult/visit/'+ ${visit.id} + '/analyse/update'" hx-include="#analyseDropDown" hx-target="#analyseReplaceHtmx" hx-swap="innerHTML">
</th:block>
<th:block th:if="${!isAnalyseItemsFromDb}">
    <form id="analyseForm" hx-ext="debug" th:hx-post="'/consult/visit/'+ ${visit.id} + '/analyse/copy'" hx-include="#analyseDropDown" hx-target="#analyseReplaceHtmx" hx-swap="innerHTML">
</th:block>
<table class="analyse no-sorting table-tight striped">
    <thead>
    <tr>
        <th th:text="#{analyses.label.nnbVet}">NNB Vet</th>
        <th th:text="#{analyses.label.activity}">Activity</th>
        <th th:text="#{analyses.label.nnbOwner}">NNB Owner</th>
        <th:block th:if="${!isAnalyseItemsFromDb}">
            <th th:text="#{analyses.label.exclPrice}">Excl. Price</th>
            <th th:text="#{analyses.label.tax}">Tax</th>
        </th:block>

        <th th:text="#{analyses.label.quantity}">Quantity</th>

        <th:block th:if="${!isAnalyseItemsFromDb}">
            <th th:text="#{analyses.label.inclPrice}">Incl. Price</th>
        </th:block>
        <th:block th:if="${isAnalyseItemsFromDb}">
            <th th:text="#{analyses.label.outcome}">Outcome</th>
        </th:block>
    </tr>
    </thead>
    <tbody>
    <!-- nothing found-->
    <th:block th:if="${analyseItems.isEmpty()}">
        <tr>
            <td colspan="8" class="center">
                <th:block th:text="#{label.not-found}"></th:block>
            </td>
        </tr>
    </th:block>

    <!-- the list is lineItems; not in the database yet -->
    <th:block th:if="${!analyseItems.isEmpty() and !isAnalyseItemsFromDb}">
        <tr th:each="analyseItem, iterStat : ${analyseItems}"
            th:with="
                vetName=${'analyseItems[' + iterStat.index + '].vetIndicator'},
                ownerName=${'analyseItems[' + iterStat.index + '].ownerIndicator'},
                quantityName=${'analyseItems[' + iterStat.index + '].quantity'},
                idName=${'analyseItems[' + iterStat.index + '].id'},
                costingId=${'analyseItems[' + iterStat.index + '].costingId'}">
            <td>
                <input type="hidden" th:value="${analyseItem.id}" th:name="${idName}">
                <th:block th:insert="~{fragments/elements/select::selectCheckBox(${vetName},'','','')}"></th:block>
            </td>
            <td th:text="${analyseItem.nomenclature}"></td>
            <td>
                <th:block th:insert="~{fragments/elements/select::selectCheckBox(${ownerName},'','','')}"></th:block>
            </td>

            <th:block th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${analyseItem.salesPriceExTax},true,'analyseSalesPrice')}"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${analyseItem.taxPortionOfProduct + analyseItem.taxPortionOfProcessingFeeService},true,'analyseTaxPortion')}"></th:block>
            <td>
                <input class="number-font" style="width:5rem; padding:0;margin:0;height:1.4rem" placeholder="" type="number" min="0" step="0.01" autocomplete="off" required="required"
                       th:id="${'quantity_'+ analyseItem.id}" th:name="${quantityName}" th:value="${analyseItem.quantity}">
                <input type="hidden" th:value="${analyseItem.totalIncTax}" th:id="${'origTotalIncTax_'+ analyseItem.id}">
                <input type="hidden" th:value="${analyseItem.quantity}" th:id="${'origQuantity_'+ analyseItem.id}">
                <input type="hidden" th:value="${analyseItem.costingId}" th:name="${costingId}">
            </td>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${analyseItem.totalIncTax},false,'analyseTotalIncTax')}"></th:block>
        </tr>
    </th:block>

    <!-- the list is analyseItems; from the database -->
    <th:block th:if="${!analyseItems.isEmpty() and isAnalyseItemsFromDb}">
        <th:block th:each="analyseItem : ${analyseItems}">
            <tr>
                <td>
                    <th:block th:with="isChecked=${T(dwe.holding.shared.model.type.YesNoEnum).Yes.equals(analyseItem.vetIndicator)}">
                        <th:block th:insert="~{fragments/elements/select::selectCheckBoxDisabled('', '', ${isChecked}, '')}"></th:block>
                    </th:block>
                </td>
                <td th:text="${analyseItem.nomenclature}"></td>
                <td>
                    <th:block th:with="isChecked=${T(dwe.holding.shared.model.type.YesNoEnum).Yes.equals(analyseItem.ownerIndicator)}">
                        <th:block th:insert="~{fragments/elements/select::selectCheckBoxDisabled('', '', ${isChecked}, '')}"></th:block>
                    </th:block>
                </td>
                <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${analyseItem.quantity},true)}"></th:block>
                <td>
                    <input class="number-font" style="padding:0;margin:0;height:1.4rem" placeholder="" type="number" min="0" step="0.01" autocomplete="off"
                           th:id="${'comment_'+ analyseItem.id}" th:name="${comment}" th:value="${analyseItem.comment}">
                </td>
            </tr>
        </th:block>
    </th:block>
    </tbody>
    <th:block th:unless="${!analyseItems.isEmpty() and isAnalyseItemsFromDb}">
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="font-size: 150%; font-family: monospace" class="right" th:text="#{label.otc.sell.total}"></th>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${analyseTotalAmount}, false,'analyseTotalAmount')}" th:with="increaseFont=150"></th:block>
        </tr>
        </tfoot>
    </th:block>
</table>
</form>