<th:block th:if="${!isAnalyseItemsFromDb}">
    <div hx-ext="path-params">
        <fieldset class="grid">
            <div>
                <select id="analyseDropDown" name="analyseDropDown" th:hx-get="'/consult/visit/'+ ${visit.id} + '/analyse/{analyseDropDown}'" hx-target="#analyseTableReplaceHtmx">
                    <th:block th:unless="${analyses.size() == 1}">
                        <option disabled readonly selected="true" value="" th:text="#{label.choose}"></option>
                    </th:block>
                    <th:block th:each="element : ${analyses}">
                        <option th:utext="${element.description}" th:value="${element.id}"></option>
                    </th:block>
                </select>
            </div>
            <div>
                <button th:text="#{analyses.button.save}"></button>
            </div>
        </fieldset>
    </div>
</th:block>

<div id="analyseTableReplaceHtmx">
    <th:include th:replace="~{consult-module/visit/analyselist}"></th:include>
</div>