<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.visit}]]</title>
</head>
<body>
<section layout:fragment="content">
    <form action="" method="get">
        <fieldset class="grid">
            <label th:for="visitDateTimeStart">[[#{visit.header.visitDateStart}]]
                <input id="visitDateTimeStart" name="from" required autofocus type="date" autocomplete="off"
                       max="9999-01-01"
                       th:value="${#temporals.format(form.from, 'yyyy-MM-dd')}">
            </label>
            <label th:for="visitDateTimeEnd">[[#{visit.header.visitDateEnd}]]
                <input id="visitDateTimeEnd" name="includeTill" required type="date" autocomplete="off"
                       max="9999-01-01"
                       th:value="${#temporals.format(form.includeTill, 'yyyy-MM-dd')}">
            </label>
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdown('localMemberId','userpreferences.clinic', ${form.localMemberId}, ${localMembersList}, true,'1')}"></th:block>
            <th:block th:insert="~{fragments/elements/select::checkBox('addMoney','','true','0')}" th:with="placement='right', tooltip=#{visit.headerlist.money}, switch='switch'"></th:block>

        </fieldset>
        <input type="submit" value="[[#{label.button.search}]]"/>
    </form>
    <table class="table-tight " id="visit-table">
        <thead>
        <tr>
            <th th:text="#{visit.headerlist.visitDate}"></th>
            <th th:text="#{visit.headerlist.cancelled}"></th>
            <th th:text="#{visit.headerlist.completed}"></th>
            <th th:text="#{visit.headerlist.petName}"></th>
            <th th:text="#{visit.headerlist.petName}"></th>
            <th th:text="#{visit.headerlist.vetroom}"></th>
            <th th:text="#{visit.headerlist.purpose}"></th>
            <th th:text="#{visit.headerlist.totalamount}"></th>
            <th th:text="#{visit.headerlist.totalpaid}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${appointments}">
            <td th:if="${visit.otc.label == 'label.yesno.yes'}" th:attr="data-sort-value=${visit.visitDateTime}">
                <a th:href="'/sales/otc/search/'+ ${customerId} + '/sell/'+  ${visit.petId}"
                   th:text="${#temporals.format(visit.visitDateTime, 'dd-MM-yyyy HH:mm') + ' (OTC)'}"></a>
            </td>
            <td th:if="${visit.otc.label == 'label.yesno.no'}"  th:attr="data-sort-value=${visit.visitDateTime}">
                <a th:href="'/consult/visit/customer/'+ ${visit.customerId} + '/visit/'+ ${visit.visitId} + '?callFrom=customer'"
                   th:text="${#temporals.format(visit.visitDateTime, 'dd-MM-yyyy HH:mm')}"></a>
            </td>            <td th:text="${visit.cancelled}"></td>
            <td th:text="${visit.completed}"></td>

            <td th:text="${T(dwe.holding.customer.client.model.Customer).getCustomerName(visit.lastName, visit.surName, visit.firstName, visit.middleInitial)}"></td>
            <td th:utext="${visit.petName + '(' + visit.species + '/' +visit.breed +')'}"></td>
            <td th:utext="${visit.veterinarian + '/'+visit.room}"></td>
            <td th:text="${visit.purpose}"></td>
            <th:block th:with="amountClass=${visit.totalAmount - visit.paidAmount > 0 ? 'red-background': ''}">
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${visit.totalAmount},false, ${amountClass})}"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumberAddClass_td(${visit.paidAmount},false, ${amountClass})}"></th:block>
            </th:block>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${visitsTotalAmount}, true)}" th:with="increaseFont=120"></th:block>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${visitPaidAmount}, false)}" th:with="increaseFont=120"></th:block>
            <th></th>
        </tr>

        </tfoot>
    </table>
</section>