<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.visit}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div th:replace="~{customer-module/fragments/customer/links}"></div>
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleListThree(#{label.title.visit},'', ${customerInformation})}"></th:block>

    <hr/>

    <table class=" striped" id="visit-table" data-no-export>
        <thead>
        <tr>
            <th class="asc" th:text="#{visit.header.visitDate}"></th>
            <th th:text="#{visit.headerlist.status}"></th>
            <th th:text="#{visit.headerlist.totalamount}"></th>
            <th th:text="#{visit.header.petName}"></th>
            <th th:text="#{visit.header.purpose}"></th>
            <th th:text="#{visit.header.location}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td  th:attr="data-sort-value=${visit.appointmentVisitDateTime}">
                <th:block th:if="${visit.appointmentOTC.booleanValue}">
                <a th:href="'/sales/otc/customer/'+ ${customerId} + '/visit/'+ ${visit.id} + '?callFrom=customer'"
                   th:text="${#temporals.format(visit.appointmentVisitDateTime, 'dd-MM-yyyy HH:mm') + (visit.appointmentOTC.booleanValue ? ' OTC':'')}"></a>
                </th:block>
                <th:block th:unless="${visit.appointmentOTC.booleanValue}">
                    <a th:href="'/consult/visit/customer/'+ ${customerId} + '/visit/'+ ${visit.id} + '?callFrom=customer'"
                       th:text="${#temporals.format(visit.appointmentVisitDateTime, 'dd-MM-yyyy HH:mm') + (visit.appointmentOTC.booleanValue ? ' OTC':'')}"></a>
                </th:block>
            </td>
            <td th:text="#{${visit.status.label}}"></td>
            <th:block th:insert="~{fragments/elements/numberdisplay::showNumber_td(${visit.totalAmountIncTax}, true)}"></th:block>
            <td th:utext="${pets.get(visit.petId)}"></td>
            <td th:text="${visit.purpose}"></td>
            <td th:text="${localMembersList.get(visit.appointmentLocalMemberId)}"></td>
        </tr>
        </tbody>
    </table>
</section>