<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>[[#{label.title.visit}]]</title>
</head>
<body>
<section layout:fragment="content">
    <div class="overflow-auto">
        <fieldset role="group" class="grid">
            <th:block th:insert="~{sales-module/fragments/customerpetinfo::customerPetInfo(${customer}, ${selectedPet}, true)}"></th:block>
        </fieldset>
        <form id="createVisitForm" method="post" th:action="'/consult/visit/customer/'+${customer.id}">
            <fieldset>
                <th:block th:insert="~{consult-module/fragments/datetimelocation::dateTimeLocationSelect()}"></th:block>
            </fieldset>
            <fieldset>
            <th:block th:insert="~{sales-module/fragments/petselect::petSelect(${customer}, ${pets}, ${deceasedPets}, '', true, 'createVisitForm')}"></th:block>
            </fieldset>

            <fieldset role="group" class="grid">
                <div>
                <input type="button"  th:value="#{label.otc.sell.add.pet}"
                    th:hx-get="'/customer/customer/'+ ${customer.id} + '/pet'"
                           hx-target="#modal-container"
                           hx-swap="innerHTML"
                           hx-on::after-request="addEventListenersForPetSelect()"
                    />
                </div>
                <div>
                <input type="submit"  name="_save" form="createVisitForm" th:value="#{label.button.next}"/>
            </div>
            </fieldset>
        </form>
</section>
</body>
</html>