<th:block th:fragment="dateTimeLocationSelect()">
    <details id="datetimeinfo" open>
        <summary>
            <span th:text="#{label.visit.details}"></span><a href="/info/petlist" title="More info"
                                                             class="info-icon">ℹ️</a>
        </summary>
        <div class="grid">
        <label th:for="appointment.visitDateTime">[[#{visit.header.visitDate}]]
            <input id="appointment.visitDateTime" name="appointment.visitDateTime" required tabindex="1" autofocus
                   type="datetime-local" autocomplete="off"
                   th:value="${#temporals.format(appointment.visitDateTime, 'yyyy-MM-dd''T''HH:mm')}">
        </label>
        <th:block
                th:insert="~{fragments/elements/dropdown::dbDropdown('appointment.localMemberId','userpreferences.clinic', ${appointment.localMemberId}, ${localMembersList}, true,'1')}"></th:block>
        </div>
    </details>
</th:block>