<th:block th:fragment="diagnose()">
    <table class="no-sorting table-tight striped" data-no-export>
        <thead>
        <tr>
            <th>action</th>
            <th class="left" th:text="#{label.diagnose}"></th>
            <th class="left" th:text="#{label.location}"></th>
        </tr>
        </thead>
        <th:include th:replace="~{consult-module/fragments/htmx/diagnoselocationoverview}"></th:include>
        <tfoot>
        </tfoot>
    </table>
    <form id="diagnoseForm" th:if="${visit.isOpen}" th:hx-post="'/consult/visit/'+${visit.id}+'/diagnose'" hx-swap="outerHTML"
          hx-target="#diagnoseTableReplaceHtmx" hx-on::after-request="setEmptyInput('diagnoseDropdown', 'locationDropdown')">
        <fieldset class="grid">
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdownAutocompleteJs}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdownAutocomplete('diagnoseDropdown','','', ${diagnoses}, true, '')}"></th:block>
            <th:block th:insert="~{fragments/elements/dropdown::dbDropdownAutocomplete('locationDropdown','','', ${locations}, true, '')}"></th:block>
            <button type="submit" name="_save" form="diagnoseForm" class="button-secondary" th:text="#{label.add} + ' ' + #{label.diagnose}"></button>
        </fieldset>
    </form>
</th:block>