<th:block th:fragment="statusColour()">
    <dialog id="statusColourDisplay" close>
        <article>
            <header>
                <button aria-label="Close" rel="prev" data-target="statusColourDisplay" onclick="toggleModal(event)"></button>
            </header>
            <p>
            <table style="width:100%">
                <tbody>

                <tr>
                    <td th:text="#{label.visit.status.planned}">Planned</td>
                    <td th:text="#{label.visit.status.waiting}">Waiting</td>
                    <td colspan="3" th:text="#{label.visit.status.consult}">Consult</td>
                    <td th:text="#{label.visit.status.ready_for_checkout}">Ready for Checkout</td>
                    <td th:text="#{label.visit.status.ready_to_pay}">Ready to Pay</td>
                    <td th:text="#{label.visit.status.finished}">Finished</td>
                    <td th:text="#{label.visit.status.canceled}">Canceled</td>
                    <td th:text="#{label.visit.status.completed}">Completed</td>
                </tr>

                <tr>
                    <td style="background-color:#99CCFF">&nbsp;</td>
                    <td style="background-color:#00B8FF"></td>
                    <td colspan="3" style="background-color:#00FF00"></td>
                    <td style="background-color:#FFFF00"></td>
                    <td style="background-color:#FF950E"></td>
                    <td style="background-color:#FF3333"></td>
                    <td style="background-color:#9999FF"></td>
                    <td style="background-color:#0A640A"></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td th:text="#{label.visit.status.intake}">Intake</td>
                    <td th:text="#{label.visit.status.operation}">Operation</td>
                    <td th:text="#{label.visit.status.recovery}">Recovery</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td></td>
                    <td style="background-color:#00CCCC">&nbsp;</td>
                    <td style="background-color:#00AE00"></td>
                    <td style="background-color:#E6E64C"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
            </p>
        </article>
    </dialog>
</th:block>