<th:block th:fragment="statusColour()">
    <dialog id="statusColourDisplay" close>
        <article>
            <header>
                <button aria-label="Close" rel="prev" data-target="statusColourDisplay" onclick="toggleModal(event)"></button>
            </header>
            <table>
                <tbody>
                <tr>
                    <td th:text="#{label.visit.status.planned}">Planned</td>
                    <td th:text="#{label.visit.status.waiting}">Waiting</td>
                    <td colspan="3" th:text="#{label.visit.status.consult}">Consult</td>
                    <td th:text="#{label.visit.status.ready_for_checkout}">Ready for Checkout</td>
                    <td th:text="#{label.visit.status.ready_to_pay}">Ready to Pay</td>
                    <td th:text="#{label.visit.status.finished}">Finished</td>
                    <td th:text="#{label.visit.status.canceled}">Canceled</td>
                    <td th:text="#{label.visit.status.completed}">Completed</td>
                </tr>
                <tr>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).PLANNED.color}"></td>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).WAITING.color}"></td>
                    <td colspan="3"
                        th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).CONSULT.color}">
                    </td>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).FINISHED_CONSULT.color}"></td>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).PAYMENT.color}"></td>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).FINISHED.color}"></td>
                    <td style="background-color:#9999FF"></td>
                    <td style="background-color:#0A640A"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td th:text="#{label.visit.status.intake}">Intake</td>
                    <td th:text="#{label.visit.status.operation}">Operation</td>
                    <td th:text="#{label.visit.status.recovery}">Recovery</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).INTAKE.color}"></td>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).OPERATION.color}"></td>
                    <td th:style="'background-color:' + ${T(dwe.holding.salesconsult.consult.model.type.VisitStatusEnum).RECOVERY.color}"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </article>
    </dialog>
</th:block>