<th:block th:fragment="inventorybody">
    <tbody id="lineItemsTable">
    <th:block th:unless="${#lists.size(products) == 0}">
        <th:block th:each="product : ${products}">
            <th:block th:replace="~{this::readonlyTR(product=${product})}"></th:block>
        </th:block>
    </th:block>
    </tbody>
</th:block>

<th:block th:fragment="readonlyTR(product)">
    <!-- deliver back either:
      1. no tracking: empty fields;
      2. tracking on product;
      3. tracking on supply -->

    <th:block th:if="${product != null}">
        <th:block th:if="${product.product.supply == null}">
            <tr>
                <td class="no-sorting">
                </td>
                <td th:text="${product.product.nomenclature}"></td>
                <td th:text="${product.product.barcode}"></td>
                <td th:text="${product.product.itemNumber}"></td>
                <td th:text="${#numbers.formatDecimal(product.product.quantityPerPackage, 1, 0, 'POINT')}"></td>
                <td th:text="${#numbers.formatDecimal(product.product.supplyIndyQtyDeduction, 1, 0, 'POINT')}"></td>
                <td colspan="5">no supply record todo link to connect</td>
            </tr>
        </th:block>
        <th:block th:if="${product.product.supply != null}">
            <tr>
                <td class="no-sorting">
                    <!--                <a target="_blank"  th:href="'/product/product/'+${product.product.id}">📝️</a>-->
                    <a th:hx-get="'/product/product/'+${product.product.id} + '/partialedit/inventory'" hx-target="closest tr" hx-swap="outerHTML">✏️️</a>
                </td>
                <td th:utext="${product.product.nomenclature}"></td>
                <td th:text="${product.product.barcode}"></td>
                <td th:text="${product.product.itemNumber}"></td>
                <td th:text="${#numbers.formatDecimal(product.product.quantityPerPackage, 1, 0, 'POINT')}"></td>
                <td th:text="${#numbers.formatDecimal(product.product.supplyIndyQtyDeduction, 1, 0, 'POINT')}"></td>
                <!-- supply -->
                <td th:utext="${product.product.supply.nomenclature}"></td>
                <td th:text="${product.product.supply.barcode}"></td>
                <td th:text="${product.product.supply.itemNumber}"></td>
                <td th:text="${#numbers.formatDecimal(product.product.supply.quantityPerPackage, 1, 0, 'POINT')}"></td>
                <!-- sypply local -->
                <td>
                    <th:block th:unless="${product.product.supply.supplyLocals.size != 0}">
                        [[#{label.inventory.nolocal}]]
                        <a href="#" th:hx-get="'/product/product/' + ${product.product.id} + '/inventory/local'" hx-target="modal">🆕️</a>
                    </th:block>
                    <th:block th:if="${product.product.supply.supplyLocals.size != 0}">
                        <table>
                            <thead>
                            <tr>
                                <th th:text="#{label.inventory.location}"></th>
                                <th th:text="#{label.inventory.quantityOfPackages}"></th>
                                <th th:text="#{label.inventory.individualLeftInOpenPackage}"></th>
                                <th th:text="#{label.inventory.minQuantityForAlert}"></th>
                                <th th:text="#{label.inventory.buyQuantityPerOrder}"></th>
                            </tr>
                            </thead>

                            <th:block th:each="local : ${product.product.supply.supplyLocals}">
                                <tr>
                                    <input type="hidden" name="id" th:value="${local.id}">
                                    <input type="hidden" name="version" th:value="${local.version}">
                                    <td th:text="${locals.get(local.localMemberId)}"></td>
                                    <td th:text="${#numbers.formatDecimal(local.quantityOfPackages, 1, 0, 'POINT')}"></td>
                                    <td th:text="${#numbers.formatDecimal(local.individualLeftInOpenPackage, 1, 0, 'POINT')}"></td>
                                    <td th:text="${#numbers.formatDecimal(local.minQuantityForAlert, 1, 0, 'POINT')}"></td>
                                    <td th:text="${#numbers.formatDecimal(local.buyQuantityPerOrder, 1, 0, 'POINT')}"></td>
                                </tr>
                            </th:block>

                        </table>
                    </th:block>
                </td>
            </tr>
        </th:block>
    </th:block>
</th:block>

<th:block th:fragment="editableTR(product)">
    <th:block th:if="${product != null}">
        <tr>
            <td class="no-sorting">
                <input type="hidden" name="id" th:value="${product.product.id}">
                <input type="hidden" name="version" th:value="${product.product.version}">
                <!-- Save -->
                <a href="#" hx-include="closest tr" th:hx-post="'/product/product/' + ${product.product.id} + '/partialsave/inventory'" hx-target="closest tr" hx-swap="outerHTML">💾</a>
                <!-- Cancel -->
                <a href="#" th:hx-get="'/product/product/' + ${product.product.id} + '/partialcancel/inventory'" hx-target="closest tr" hx-swap="outerHTML">❌</a>
            </td>
            <td th:utext="${product.product.nomenclature}"></td>
            <td th:text="${product.product.barcode}"></td>
            <td th:text="${product.product.itemNumber}"></td>
            <td th:text="${#numbers.formatDecimal(product.product.quantityPerPackage, 1, 0, 'POINT')}"></td>
            <td th:text="${#numbers.formatDecimal(product.product.supplyIndyQtyDeduction, 1, 0, 'POINT')}"></td>
            <!-- supply -->
            <td th:utext="${product.product.supply.nomenclature}"></td>
            <td th:text="${product.product.supply.barcode}"></td>
            <td th:text="${product.product.supply.itemNumber}"></td>
            <td th:text="${#numbers.formatDecimal(product.product.supply.quantityPerPackage, 1, 0, 'POINT')}"></td>
            <!-- sypply local -->
            <td>
                <table>
                    <thead>
                    <tr>
                        <th><a href="#" th:hx-get="'/product/product/' + ${product.product.id} + '/inventory/local'" hx-target="modal"
                               th:text="#{label.inventory.location} +'🆕️'"></a></th>
                        <th th:text="#{label.inventory.quantityOfPackages}"></th>
                        <th th:text="#{label.inventory.individualLeftInOpenPackage}"></th>
                        <th th:text="#{label.inventory.minQuantityForAlert}"></th>
                        <th th:text="#{label.inventory.buyQuantityPerOrder}"></th>
                    </tr>
                    </thead>
                    <th:block th:if="${product.product.supply.supplyLocals.size == 0}">
                        <tr><td>[[#{label.inventory.nolocal}]]</td></tr>
                    </th:block>
                    <th:block th:unless="${product.product.supply.supplyLocals.size == 0}">
                        <th:block th:each="local, iterStat : ${product.product.supply.supplyLocals}">
                            <tr>
                                <input type="hidden" th:name="|localsupply[${iterStat.index}].id|" th:value="${local.id}">
                                <input type="hidden" th:name="|localsupply[${iterStat.index}].version|" th:value="${local.version}">

                                <td><a href="#" th:hx-delete="'/product/product/' + ${product.product.id} + '/inventory/local/' + ${local.id}"
                                       th:hx-confirm="#{label.delete.confirm}" hx-swap="outerHTML"
                                       th:text="'🗑️'+${locals.get(local.localMemberId)}"></a></td>

                                <td><input type="number" step="0.01" required th:name="|localsupply[${iterStat.index}].quantityOfPackages|"
                                           th:value="${#numbers.formatDecimal(local.quantityOfPackages, 1, 0, 'POINT')}"></td>
                                <td><input type="number" step="0.01" required th:name="|localsupply[${iterStat.index}].individualLeftInOpenPackage|"
                                           th:value="${#numbers.formatDecimal(local.individualLeftInOpenPackage, 1, 0, 'POINT')}"></td>
                                <td><input type="number" step="0.01" required th:name="|localsupply[${iterStat.index}].minQuantityForAlert|"
                                           th:value="${#numbers.formatDecimal(local.minQuantityForAlert, 1, 0, 'POINT')}"></td>
                                <td><input type="number" step="0.01" required th:name="|localsupply[${iterStat.index}].buyQuantityPerOrder|"
                                           th:value="${#numbers.formatDecimal(local.buyQuantityPerOrder, 1, 0, 'POINT')}"></td>
                            </tr>
                        </th:block>
                    </th:block>
                </table>
            </td>
        </tr>
    </th:block>
</th:block>