<th:block th:fragment="petSelect(customer, pets, deceasedPets, salesType, showPetLink)">
    <details id="selectpets" open>
        <summary>
            <span th:text="#{label.otc.petList}"></span><a href="/info/selectpets" title="More info" class="emoji-icon">ℹ️</a>
        </summary>
<!--        <div class="desktop-tablet-only">-->
            <table id="show-alive-table" class="table-tight striped">
                <thead>
                <tr>
                    <th>[[#{label.otc.add}]]</th>
                    <th>[[#{label.otc.petName}]]</th>
                    <th th:if="${salesType.isVisit}" th:text="#{label.visit.timeNeeded}"></th>
                    <th th:if="${salesType.isVisit}" th:text="#{label.visit.vet}"></th>
                    <th th:if="${salesType.isVisit}" th:text="#{label.visit.room}"></th>
                    <th>[[#{label.otc.reason}]]</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!-- the offset will be increased continously since we will have desktop AND mobile in the same screen; this means IDs need to be unique -->
                <th:block th:with="offset=0" th:each="pet, iStat : ${pets}">
                    <th:block th:replace="~{salesconsult-generic-module/petselectrow ::petRow}"></th:block>
                </th:block>
                </tbody>
            </table>
            <script>

            </script>
<!--        </div>-->
<!--        <div class="mobile-only">-->
<!--            &lt;!&ndash; offset required for deceased pets &ndash;&gt;-->
<!--            <th:block th:with="offset=${pets.size()}" th:each="pet, iStat : ${pets}">-->
<!--                <th:block th:replace="~{salesconsult-generic-module/petselectmobile :: petMobile}"></th:block>-->
<!--            </th:block>-->
<!--        </div>-->
    </details>
    <details th:if="${!deceasedPets.isEmpty()}">
        <summary>
            [[#{label.otc.pet.deceased.showhide}]]
        </summary>
<!--        <div class="desktop-tablet-only">-->
            <table id="show-deceased-table" class="table-tight striped" th:if="${deceasedPets.size() > 0}">
                <thead>
                <tr>
                    <th>[[#{label.otc.add}]]</th>
                    <th>[[#{label.otc.petName}]]</th>
                    <th th:if="${salesType.isVisit}" th:text="#{label.visit.timeNeeded}"></th>
                    <th th:if="${salesType.isVisit}" th:text="#{label.visit.vet}"></th>
                    <th th:if="${salesType.isVisit}" th:text="#{label.visit.room}"></th>
                    <th>[[#{label.otc.reason}]]</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:with="offset=${pets.size()}" th:each="pet, iStat : ${deceasedPets}">
                    <th:block th:replace="~{salesconsult-generic-module/petselectrow ::petRow}"></th:block>
                </th:block>
                </tbody>
            </table>
<!--        </div>-->
<!--        <div class="mobile-only">-->
<!--            &lt;!&ndash; offset required for deceased pets &ndash;&gt;-->
<!--            <th:block th:with="offset=${pets.size()+ pets.size() + pets.size()}" th:each="pet, iStat : ${pets}">-->
<!--                <th:block th:replace="~{salesconsult-generic-module/petselectmobile :: petMobile}"></th:block>-->
<!--            </th:block>-->
<!--        </div>-->
    </details>
</th:block>