<nav role="menu">
    <label data-role="burger"><input type="checkbox"/></label>
    <ul role="menubar">
        <li><strong>DWE Holding &copy;</strong></li>
    </ul>
    <ul role="menuitem">
        <li>
            <details class="dropdown">
                <summary>Team mover</summary>
                <ul>
                    <li><a href="/game">Wedstrijd</a></li>
                    <li><a href="/game/list">Lijst vd Wedstrijd</a></li>
                    <li><a href="/driver">Transporter</a></li>
                </ul>
            </details>
        </li>

        <li>
            <details class="dropdown">
                <summary>Admin</summary>
                <ul>
                    <li><a href="/member">Member</a></li>
                    <li><a href="/localmember">Local Member</a></li>
                    <li><a href="/function">Function</a></li>
                    <li><a href="/role">Role</a></li>
                    <li><a href="/user">User</a></li>
                </ul>
            </details>
        </li>
        <li>
            <details class="dropdown">
                <summary>Supplies & Inventory</summary>
                <ul>
                    <li><a href="/distributor">Distributor</a></li>
                    <li><a href="/supplies">Supplies</a></li>
                    <li><a href="/supplies">Inventory</a></li>
                </ul>
            </details>
        </li>

        <li>
            <details class="dropdown">
                <summary>User</summary>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/userpreferences">Preferences</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </details>
        </li>
        <li>
            <summary>&nbsp;</summary>
        </li>
    </ul>
</nav>