<th:block th:insert="~{fragments/page/head}"></th:block>
<body>
<th:block th:insert="~{fragments/page/errors}"></th:block>
<body>

<main style="max-width:600px" class="container">
    <article>
        <header><h2>Change your password</h2></header>
        <form action="/resetpassword" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <fieldset>
                <th:block th:insert="~{fragments/elements/input::inputHtml('password','Password', 'password', '2')}" th:with="type='password'"></th:block>
                <th:block th:insert="~{fragments/elements/input::inputHtml('password2','Validate Password', 'password', '2')}" th:with="type='password'"></th:block>
            </fieldset>
            <fieldset class="grid" role="group">
                <button name="_save" type="submit">Sign in</button>
            </fieldset>
        </form>
    </article>
</main>
</body>
</html>