<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title th:text="#{category.category}"></title>
</head>
<body>
<section layout:fragment="content">
    <th:block th:insert="~{fragments/elements/pagetitle::pageTitleList('Category','/product/category')}"></th:block>

    <table class="table-tight striped" id="show-table">
        <thead>
        <tr>
            <th>[[#{category.categoryName}]]</th>
            <th>[[#{category.deleted}]]</th>
            <th>[[#{category.countRec}]]</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="categoryDto : ${categories}">
            <tr>
                <td><a th:href="@{'/product/category/'+ ${categoryDto.LookupProductCategory.id}}" th:text="${categoryDto.LookupProductCategory.categoryName}"></a></td>
                <td th:text="#{__${categoryDto.LookupProductCategory.deleted.label}__}"></td>
                <td th:text="${categoryDto.countRec}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</section>